// -----------------------------------------------------------------------------
// This file contains all styles related to the common layout of the site
// -----------------------------------------------------------------------------
.resize-active {
  *,
  *:after,
  *:before {
    transition: none !important;
  }
}
//--------------------------------
//Random added style start
//----------------------------------
.custom-tooltip{
  position: relative;
}
.custom-tooltip .custom-tooltip-text{
  visibility: hidden;
  position: absolute;
  bottom: 200%;
  left: auto;
  right: -10%;
  background-color: #636161;
  color: white;
  font-size: 12px;
  text-align: justify;
  padding: 1rem;
  width: 280px;
  border-radius: 5px;
  z-index: 100;
}
.custom-tooltip .custom-tooltip-text::after{
  content: "";
  position: absolute;
  top: 103%;
  right: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #636161 transparent  transparent transparent  ;
}
.custom-tooltip:hover .custom-tooltip-text{
  visibility: visible;
}
.tooltip{
  position: relative;
}
.tooltip .tooltip-text{
  visibility: hidden;
  position: absolute;
  top: -180%;
  left: auto;
  right: auto;
  background-color: #636161;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  z-index: 100;

}
.tooltip .tooltip-text::after{
  content: "";
  position: absolute;
  top: 110%;
  right: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #636161 transparent  transparent transparent  ;

}
.tooltip:hover .tooltip-text{
  visibility: visible;
}
.filter-container{
  display:  flex;
  gap: 3px;
  flex-wrap: wrap;
  padding: 4px;
  vertical-align: middle;
}
.filter-container .flex {
  display:  flex;
  gap: 3px;
  flex-wrap: wrap;
  padding: 4px;
  vertical-align: middle;
}
.filter-container .flex > *{
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
}
.page-top-panel .actions-panel{
  margin: auto 0px;
}
.field-col .input-holder .input-paragraph-content {
  font-size: 14px;
  padding-top: 8px;
  font-weight: 600;
  color: #808080;
  display: inline;
  cursor: pointer;
}
.field-col .input-holder .select-all{
  padding-top: 8px;
  margin: 0px;
  vertical-align: middle;
  align-items: center;
}

.text-warning{
  color: $red-be;
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  margin: 2px 0px;
  background-color: rgb(248, 242, 242);
  i{
    margin-right: 5px;
  }
}
.filter-item {
  padding: 2px 3px;
  background-color: $gray-7d;
  color: white;
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
  // border: 1px solid $red;
  box-shadow: 0 0 16px rgba($gray-d1, 0.3);
}

.disaggregation-accordion-slide .errorlist{
  display: none;
}

.date .date-picker-field{
  margin-bottom: 5px;
}
#date-validation-error{
  display: none;
}
// tooltip text for implementing and programming partners
label .implement-info .icon-info, .programme-info .icon-info{
  color: $red-be;
  margin: 0px 5px;
  cursor: pointer;
}
label .implement-info, .programme-info{
  display: inline-block;
  position: relative;
}
label .implement-info .implement-text, .programme-info .programme-text{
  visibility: hidden;
  width: 280px;
  background-color: #636161;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: -18px;
  left: 25px;
  z-index: 100;
}
label .implement-info .implement-text::after, .programme-info .programme-text::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #636161 transparent transparent ;
}
label .implement-info:hover .implement-text, .programme-info:hover .programme-text{
  visibility: visible;
}
// end of tooltip text for implmenting and programming partners
.export-badge{
 position:absolute;
 right: 50px;
 top: 10px;
}

.Edit-Submitted-Stock{
  display: flex;
  justify-content: end;
}

.Edit-Submitted-Stock .btn{
  width: 150px;
}

input[readonly].cursor-none {
  cursor: not-allowed;
}

.cursor-pointer{
  cursor: pointer;
}

hr{
  border: 1px solid #d1d3d4;
}

.hidden{
  display: none;
}
.errorlist{
  color:$red-be;
  font-size: small;
  height: 0px;
  font-weight: 400;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.export-link{
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 15px 10px;
}
.unable-content{
  text-align: center;
  margin-bottom: 1rem;
  color: rgba(0,0,0, 0.3);
}

.unable-content > *{
  display: block;
}
.unable-content .heading{
  font-weight: bold;
}
.unable-content .sub-heading{
  color: rgba(0,0,0, 0.4);
  font-weight: 500;
}
.export-formats .title{
  padding:  8px 15px 0px;
}
.export-link-holder:hover .export-link{
  text-decoration: none;
  color: $red-be;
  font-weight: 600;
}
.export-link-holder{
  padding: 8px 6px;
  transition: all 0.5s ease;
  display: block;
}
.export-link-holder:hover{
  background-color: rgb(253, 207, 207);
  text-decoration: none;

}
.target-location-container {
  margin: 8px 0;
}
.info-sign{
  border: 1px solid $red-be;
  margin-right: 3px;
  border-radius: 5px;
}
.filter-heading-text{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #6b6d70;
}
.circle-bage{
  background-color: $red-be;
  color: white;
  font-size: 12px;
  border: 1px solid $red;
  padding: 1px 5px;
  font-weight: 700;
  border-radius: 4px;
  margin: 2px 0px;
  display: inline-block;
}
.target-location-badge{
  background-color:$red;
  padding: 1px 8px;
  color: white;
  font-weight: 600;
  border-color: $red-a5;
}

.message-container{
  text-align: center;
  transition: all 0.5s ease-in-out;
  gap:5px;

  .error {
    background-color: #fff1f3;
    border: 1px solid #fdb0b7;
    color: $red-be;
    padding: 16px 20px 16px 40px;
  }
  
  .success {
    background-color: #ecfff1;
    border: 1px solid #a4f5b7;
    color: #35712F;
    padding: 16px 20px 16px 40px;
  }


  .debug{
      background-color: #ccfbf1;
      border: 1px solid #14b8a6;
      color: #0f766e;
      padding: 16px 20px 16px 40px;
  }

  .info{
      background-color: #dbeafe;
      border: 1px solid #3b82f6;
      color: #1d4ed8;
      padding: 16px 20px 16px 40px;
  }

  .warning{
      background-color: #ffedd5;
      border: 1px solid #f97316;
      color: #c2410c;
      padding: 16px 20px 16px 40px;
  }

  .close-alert-message {
    color: $red-be;
    margin-left: 16px;
    cursor: pointer;
  }
}



.show-password{
  float: inline-end;
}
.small-label{
  font-size: 12px;
  vertical-align: top;
  color: $gray;
}
.input-select{
  width: 100%;
  height: 4rem;
}
//------------------------
// Random added style end
//-------------------------
.container {
  max-width: $container-max-width + $gutter * 2;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
  width: 100%;
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.wrapper-inner {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  /* stylelint-disable */
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  -ms-grid-template-columns: minmax(0, 1fr);
  -ms-grid-columns: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);

  .header {
    -ms-grid-row: 1;
    grid-row: 1;
  }

  .main {
    -ms-grid-row: 2;
    grid-row: 2;
  }

  .footer {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  /* stylelint-enable */
}

.base-section {
  padding: 17px 0 40px;

  @include media('>=desktop') {
    padding: 17px 0 70px;
  }
}

.js-tab-hidden {
  display: block !important;
  left: -9999px !important;
  position: absolute !important;
  top: -9999px !important;
}

.content-block {
  position: relative;

  &.top-border {
    border-top: 2px solid $red-be;
  }

  &.bottom-border {
    border-bottom: 2px solid $gray-e6;
  }

  &.bottom-decor {
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 100%;
      height: 2px;
      width: 33.1%;
      background-color: $red-be;
    }
  }
}

.view_nocontent{
  text-align: center;
  padding: 100px;
}

.projects-options-panel {
  padding: 0px 0px 16px 0;

  @include media('>=tablet') {
    padding: 0px 0px 22px 0;
  }

  &.projects-options-panel-small {
    @include media('>=tablet') {
      padding: 0px 0px 8px 0;
    }
  }

  &.with-border {
    border-bottom: 1px solid $red-be;
  }

  .holder {
    @include media('>=tablet') {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .input-holder {
    margin-bottom: 8px;

    @include media('>=tablet') {
      width: 50%;
      max-width: 434px;
      margin-bottom: 0;
    }
  }

  .add-btn {
    @include media('>=tablet') {
      min-width: 175px;
    }
  }

  .actions-panel {
    &:only-child {
      @include media('>=tablet') {
        margin-left: auto;
      }
    }
  }
}

.page-top-panel {
  // border-bottom: 2px solid $gray-e6;
  // padding-bottom: 16px;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.2rem;
  padding: 1rem;

  @include media('>=tablet') {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }

  &.page-top-panel-large {
    padding: 13px 0 0;
    margin-bottom: 10px;
  }

  .tabs-nav-holder {
    // margin-bottom: 8px;

    @include media('>=tablet') {
      // margin-bottom: 0;
    }

    &:only-child {
      margin-bottom: 0;
    }
  }
}

.dashboard-page{
  margin-top:20px
}

.dashboard-page-top-panel{
  border-bottom: 2px solid $gray-e6;
  padding-bottom: 5px;
  padding-top: 5px;


  @include media('>=tablet') {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &.page-top-panel-large {
    padding: 13px 0 0;
    margin-bottom: 10px;
  }

  .tabs-nav-holder {
    margin-bottom: 8px;

    @include media('>=tablet') {
      // margin-bottom: 0;
    }

    &:only-child {
      margin-bottom: 0;
    }
  }
}

.project-title {
  border-bottom: 1px solid $red-be;
  padding: 10px 0;

  @include media('>=tablet') {
    padding: 5px 0;
  }

  .financial-report-section & {
    border-bottom: 0;
  }

  .holder {
    @include media('>=tablet') {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 30px;
    }
  }

  #{$headings} {
    @include media('>=tablet') {
      margin-bottom: 0;
    }

    &:only-child {
      margin-bottom: 0;
    }
  }

  h1,
  .h1 {
    line-height: 1.7;
  }
}

.admin-section {
  .projects-options-panel {
    margin-bottom: 14px;
  }
}

.two-cols-layout {
  @include media('>=desktop') {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: 0 24px;
    grid-template-rows: auto auto;
  }

  @include media('>=widescreen') {
    // grid-gap: 0 48px;
  }

  .breadcrumbs-nav-panel {
    @include media('>=desktop') {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  .sidebar {
    @include media('>=desktop') {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  .project-title-holder {
    border-top: 2px solid $red-be;
    padding: 9px 0;
    // display: flex;
    align-items: center;
    justify-content: space-between;

    @include media('>=desktop') {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      border-top: 0;
    }

    .plan-title {
      font-size: 16px;
    }
  }

  .main-content {
    @include media('>=desktop') {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }
}

.sidebar-nav-holder {
  padding: 17px 0;
  border-top: 2px solid $gray-e6;
  position: relative;

  &:before {
    content: '';
    width: 29.5%;
    height: 2px;
    background-color: $red-be;
    position: absolute;
    left: 0;
    top: -2px;
  }
}

.sidebar-nav {
  @extend %listreset;

  counter-reset: sidebar-nav-counter;
  color: $gray;
  font-size: 16px;
  line-height: 1.2;

  li {
    counter-increment: sidebar-nav-counter;
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-left: 28px;
    text-decoration: none;

    &:before {
      content: '0' counter(sidebar-nav-counter) '.';
      position: absolute;
      left: 0;
      top: 0;
    }

    &:hover {
      color: $gray-35;

      &:before {
        color: $red-be;
      }
    }
  }

  .current {
    font-weight: 600;
    color: $gray-35;

    a {
      &:before {
        color: $red-be;
        font-weight: 700;
      }
    }
  }
}

.simple-list {
  @extend %listreset;

  margin-bottom: 16px;

  li {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 8px;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.project-options-panel {
  margin-bottom: 28px;

  .top-block {
    border-top: 2px solid $red-be;
    background-color: rgba($gray-d1, 0.3);
    padding: 19px 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .btn {
      min-width: 128px;
    }

    .project-breadcrumbs {
      width: 100%;
      margin-bottom: 8px;

      @include media('>=tablet') {
        width: auto;
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .bottom-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 11px 0;
    border-bottom: 1px solid $red-be;
  }

  .actions-panel {
    flex-wrap: wrap;
    // margin-bottom: -8px;

    .btn {
      margin-bottom: 8px;
    }
  }
}

.project-breadcrumbs {
  @extend %listreset;

  font-size: 14px;
  line-height: 1.2;
  color: $gray-35;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  li {
    display: flex;
    align-items: center;

    &:after {
      content: '/';
      display: block;
      margin: 0 3px;
      font-weight: 400;
    }

    &:first-child {
      color: $black;
      font-size: 16px;
      font-weight: 600;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

.mtb20{
  margin-top: 20px;
  margin-bottom: 20px;
}

.monthly-reporting{
  margin-top: 20px;
  margin-bottom: 20px;
}

.report-title{
  margin-bottom: 10px;
  color: #be2126;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}

.report-table tbody tr:hover {
  background-color: #f2f2f2;
}

.report-table tbody tr:hover td {
  color: #be2126;
}

.m2m-badges {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.m2m-badges>* {
  margin-right: 8px;
  margin-bottom: 8px;

}

.badge {
  background-color:  #be2126;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.sw-input-width{
  width: 89% !important;
}

svg.project-view-icon,
svg.project-view.archive-icon {
  color: #6d6e71;
  margin-left: 3px;
  
 
}
.archive-icon-design{
  padding: 0px;
  margin: 0px;
  color: #acacac;
  background-color: transparent;
  cursor: default;

}
.table-options-buttons button.button-archive-unarchive{
  margin-top: 3px;
}

a.show-sw-action-popup{
  text-decoration: none !important;
}

a.text-decoration-none{
  text-decoration: none !important;
}

// Status badges
.c-pill {
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  display: inline-block;
  // height: 100%;
  white-space: nowrap;
  width: auto;

  position: relative;
  border-radius: 100px;
  line-height: 1;
  overflow: hidden;
  padding: 0px 12px 0px 12px;
  text-overflow: ellipsis;
  line-height: 1.25rem;
  word-break: break-word;
}
.tooltip-red{
  position: relative;
}
.tooltip-red .tooltip-text-red{
  visibility: hidden;
  position: absolute;
  top: 160%;
  left: -30%;
  right: 0%;
  background-color: #c2410c;
  color: white;
  font-size: 12px;
  text-transform: none;
  text-align: center;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  z-index: 100;

}
.tooltip-red .tooltip-text-red::after{
  content: "";
  position: absolute;
  top: -15%;
  right: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent  transparent #c2410c transparent  ;

}
.tooltip-red:hover .tooltip-text-red{
  visibility: visible;
}
.Reserved{
  color: #1d4ed8;
}
.Available{
  color: green;
}
.completed, .submitted{
  @extend .c-pill;
  border: 1px solid rgb(68, 117, 203);
  background-color: rgb(68, 117, 203,0.3);
  color:rgb(68, 117, 203);
}

.pending {
  @extend .c-pill;
  border: 1px solid rgb(190, 169, 81);
  background-color: rgb(235, 206, 88,0.5);
  color: rgb(153, 135, 65);
}

.in-progress, .todo{
  @extend .c-pill;
  border: 1px solid #5daa59;
  background: hsl(104, 68%, 78%,0.5);
  color: #5daa59;
}

.draft{
  @extend .c-pill;
  border: 1px solid #ffc400;
  background: #ffebb6;
}

.rejected {
  @extend .c-pill;
  border: 1px solid #ff4436;
  background: #ffd5d1;
}
.archived {
  @extend .c-pill;
  border: 1px solid rgb(100, 100, 100);
  background: rgb(128, 128, 128,0.3);
  color: rgb(100, 100, 100);
}

.unset-before::before {
  content: none !important;
}


// 

.target_location_form{
  background-color: $gray-f3;
  padding: 12px 20px;
  border-radius: 4px;
  margin:16px 0px;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1)/* #0000001a */, 0 1px 2px -1px rgb(0 0 0 / 0.1)/* #0000001a */;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bottom-border {
  border-bottom: 2px solid $red-be;
}

.empty-form{
  display: none;
}


.inline-deletelink {
  float: right;
  text-indent: -9999px;
  background: url("/static/images/inline-delete.svg") 0 0 no-repeat;
  width: 16px;
  height: 16px;
  border: 0px none;
}

.inline-deletelink:focus,
.inline-deletelink:hover {
  cursor: pointer;
}



.bg-red {
  background-color: $red;
}

.bg-white{
  background-color: $white;
}


/* htmx progress */
.htmx-indicator {
  display: none;
}

.htmx-request .htmx-indicator {
  display: inline;
}

.htmx-request.htmx-indicator {
  display: inline;
}


.progress {
  // position: fixed;
  position: relative;
  top: 0;
  z-index: 1000;
  width: 100%;

  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;

  background-clip: padding-box;
  overflow: hidden;
}

.progress .indeterminate:before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

.progress {
  display: none;
}

.htmx-request .progress {
  display: block;
}

.htmx-request.progress {
  display: block;
}

.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

/* End of htmx progress */

.errorlist{
  color: $red-a5 !important;
}


.js-slide-hidden {
  position:absolute !important;
  left: -9999px !important;
  top: -9999px !important;
  display: block !important;
}
