{% extends "_base.html" %}

{% load static %}

{% block page_title %}
    ReportHub - Projects
{% endblock page_title %}

{% block content %}
    <div class="container">
        <div class="page-navigation-panel">
            <div class="holder">
                <div class="link-holder">
                    <a href="{% url 'clusters-projects-list' %}?state=in-progress" class="btn-back">Back to Active Projects</a>
                </div>

                <div class="tabs-nav-holder">
                    <ul class="tabs-nav">
                        <li class="{% if project_view %}active{% endif %}">
                            <a href="{% if project %}{% url 'projects-detail' project.pk %}{% else %}{% url 'projects-create' %}{% endif %}">Project
                            planning</a>
                        </li>
                        <li class="{% if financial_view %}active{% endif %}">
                            <a href="{% if project %}{% url 'create_project_budget_progress' project.pk %}{% else %}#{% endif %}">Financial Reports</a>
                        </li>
                        <li class="{% if reports_view %}active{% endif %}">
                            <a href="{% if project %}{% url 'project_reports_home' project.pk %}{% else %}#{% endif %}">Monthly Progress</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% block project_body %}
        {% endblock project_body %}
    </div>
{% endblock content %}

{% block scripts %}
    <script type="module" src="{% static 'src/js/components/initAccordion.js' %}"></script>
    <script type="module" src="{% static 'src/js/utils/exportSW.js' %}"></script>
{% endblock scripts %}