{% extends "_base.html" %}
{% load static %}

{% block content %}

<div class="base-section">
    <div class="container">
        <div class="page-top-panel">
            <div class="tabs-nav-holder">
                <ul class="tabs-nav js-tabs-nav">
                    <li class="active">
                        <a href="#tab-1">Active Projects ({{ active_projects | length }})</a>
                    </li>

                    <li class="">
                        <a href="#tab-2">Completed Projects ({{ completed_projects | length }})</a>
                    </li>
                </ul>
            </div>

            <div class="actions-panel">
                <div class="filter-holder">
                    <a href="#" class="btn btn-red filter-open">Filter</a>
                    <form action="#" class="filter-form">
                        
                        <div class="filter-options">
                            <div class="block-top">
                                <span class="title">Filter</span>
                                <a class="filter-close" href="#"></a>
                            </div>
                            <div class="block-body" data-simplebar>
                                <div class="select-field">
                                    <label>Location</label>
                                    {{project_filter.form.locations}}
                                </div>

                                <div class="select-field">
                                    <label>Donors</label>
                                    {{project_filter.form.donors}}
                                </div>
                                
                                <div class="select-field">
                                    <label>Cluster/Sector</label>
                                    {{project_filter.form.clusters}}
                                </div>
                                
                                <div class="select-field">
                                    <label>Activity Domain</label>
                                    {{project_filter.form.activities}}
                                </div>
                                
                                <div class="date-picker-field">
                                    <div class="date start">
                                        <label>Start Date</label>
                                        {{project_filter.form.start_date}}
                                    </div>
                                    <div class="date end">
                                        <label>End Date</label>
                                        {{project_filter.form.end_date}}
                                    </div>
                                </div>

                                <div class="select-field">
                                    <label>Implementing Partner</label>
                                    {{project_filter.form.implementing_partner}}
                                </div>

                                <div class="select-field">
                                    <label>Programme Partner</label>
                                    {{project_filter.form.programme_partner}}
                                </div>

                                <div class="select-field">
                                    <label>Focal Person</label>
                                    {{project_filter.form.user}}
                                </div>
                            </div>
                            <div class="block-footer">
                                <div class="btn-wrapper">
                                    <a class="btn btn-gray-outline" href="{% url 'projects' %}">Reset</a>
                                    {% comment %} <button type="button" class="btn btn-gray-outline">Reset</button> {% endcomment %}
                                    <button type="submit" class="btn btn-red">Apply</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="export-formats-holder">
                    <a href="#" class="btn btn-gray export-open">
                        <span class="btn-text">Export</span>
                        <span class="icon-download"></span>
                    </a>
                    <div class="export-formats">
                        <span class="title">File format</span>
                        <ul class="formats-list">
                            <li>
                                <div class="input-check-holder">
                                    <input type="radio" id="radio1" name="exportFormat"/>
                                    <label for="radio1">
                                        <span class="input"></span>
                                        <span class="text">Docs</span>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="input-check-holder">
                                    <input type="radio" id="radio2" name="exportFormat"/>
                                    <label for="radio2">
                                        <span class="input"></span>
                                        <span class="text">CVS</span>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="input-check-holder">
                                    <input type="radio" id="radio3" name="exportFormat"/>
                                    <label for="radio3">
                                        <span class="input"></span>
                                        <span class="text">Excel</span>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="input-check-holder">
                                    <input type="radio" id="radio4" name="exportFormat"/>
                                    <label for="radio4">
                                        <span class="input"></span>
                                        <span class="text">PDF</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>                    
            </div>
        </div>
        <div class="projects-options-panel">
            <div class="holder">
                <div class="input-holder">
                    {% comment %} <input type="text" placeholder="Placeholder"/> {% endcomment %}
                </div>
                <ul class="buttons-list-inline">
                    <li>
                        <a href="{% url 'create_project' %}" class="btn btn-red add-btn">Add new project</a>
                    </li>
                </ul>
            </div>
        </div>
        {% comment %} <form method="GET">
            {{project_filter.form}}
            <button class="btn btn-red" type="submit"> Search</button>
        </form> {% endcomment %}
        <div class="content-block top-border bottom-border bottom-decor">
            <div id="tab-1">
                <div class="table-wrapper-scrollable">
                    <table class="table all-projects-table js-collapsible-table">
                        <thead>
                        <tr>
                            <th class="cluster-col">
                                <div class="table-flex-holder">
                                    <div class="input-check-holder">
                                        <input type="checkbox" id="table-head-check-01"
                                               data-check-pattern="[name^='table-check']"/>
                                        <label for="table-head-check-01">
                                            <span class="input"></span>
                                        </label>
                                    </div>

                                    <strong class="table-title">Cluster/Sector</strong>

                                    <div class="table-sort-buttons">
                                        <button type="button"><span class="icon-chevron-up"></span></button>
                                        <button type="button"><span class="icon-chevron-down"></span></button>
                                    </div>
                                </div>
                            </th>

                            <th class="title-col">
                                <div class="table-flex-holder">
                                    <strong class="table-title">Project title</strong>
                                    
                                    <div class="table-sort-buttons">
                                        <button type="button"><span class="icon-chevron-up"></span></button>
                                        <button type="button"><span class="icon-chevron-down"></span></button>
                                    </div>
                                </div>
                            </th>

                            <th class="organisation-col">
                                <div class="table-flex-holder">
                                    <strong class="table-title">Organisation</strong>

                                    <div class="table-sort-buttons">
                                        <button type="button"><span class="icon-chevron-up"></span></button>
                                        <button type="button"><span class="icon-chevron-down"></span></button>
                                    </div>
                                </div>
                            </th>

                            <th class="update-date-col">
                                <div class="table-flex-holder">
                                    <strong class="table-title">Updated on</strong>

                                    <div class="table-sort-buttons">
                                        <button type="button"><span class="icon-chevron-up"></span></button>
                                        <button type="button"><span class="icon-chevron-down"></span></button>
                                    </div>
                                </div>
                            </th>

                            <th class="location-col">
                                <div class="table-flex-holder">
                                    <strong class="table-title">Location</strong>
                                </div>
                            </th>

                            <th class="description-col">
                                <div class="table-flex-holder">
                                    <strong class="table-title">Description</strong>
                                </div>
                            </th>

                            <th class="action-col">
                                <div class="table-flex-holder">
                                    <strong class="table-title">Action</strong>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in active_projects %}
                        <tr>
                            <td class="cluster-col">
                                <div class="table-flex-holder">
                                    <div class="input-check-holder">
                                        <input type="checkbox" id="table-check-11" name="table-check11"/>
                                        <label for="table-check-11">
                                            <span class="input"></span>
                                        </label>
                                    </div>
                                    {% for cluster in project.clusters.all %}
                                    {{ cluster.title }}
                                    {% endfor %}
                                </div>
                            </td>

                            <td class="title-col">{{ project.title }}</td>

                            <td class="organisation-col">
                                {% for partner in project.implementing_partners.all %}
                                    {{ partner.code }}
                                {% endfor %}
                            </td>

                            <td class="update-date-col">{{ project.updated_at }}</td>

                            <td class="location-col">
                                {% for location in project.locations.all %}
                                {{ location.name }},
                                {% endfor %}
                            </td>

                            <td class="description-col">
                                {{ project.description }}
                            </td>

                            <td class="action-col">
                                <div class="table-flex-holder">
                                    <ul class="table-options-buttons">
                                        <li>
                                            <button><a class="text-decoration-none"
                                                       href="{% url 'update_project' project.id %}"><span
                                                    class="icon-pen"></span></a></button>
                                        </li>
                                        <li>
                                            <button><a href="{% url 'delete_project' project.pk %}" class="text-decoration-none"><span
                                                    class="icon-trashbin"></span></a></button>
                                        </li>
                                        <li>
                                            <button><a href="{% url 'copy_project' project.pk %}" class="text-decoration-none"><span
                                                    class="icon-copy"></span></a></button>
                                        </li>
                                    </ul>
                                    <a href="table-slide-01" class="table-slide-opener">
                                        <span class="icon-chevron-down"></span>
                                    </a>
                                </div>
                            </td>

                            <td class="project-details-col" id="table-slide-01">
                                <div class="table-flex-holder">
                                    <div class="col">
                                        <strong class="title">Number of people targeting:</strong>
                                        <dl>
                                            <dt>Female:</dt>
                                            <dd>11,657</dd>
                                        </dl>
                                        <dl>
                                            <dt>Male:</dt>
                                            <dd>12,765</dd>
                                        </dl>
                                    </div>
                                    <div class="col">
                                        <div class="input-check-holder">
                                            <input type="checkbox" id="table-check-18" checked/>
                                            <label for="table-check-18">
                                                <span class="input"></span>
                                                <span class="text">HRP project</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <dl>
                                            <dt>Activity types:</dt>
                                            <dd>Flood</dd>
                                        </dl>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% comment %} <div id="tab-2">
                <div class="table-wrapper-scrollable">
                    <table class="table all-projects-table js-collapsible-table">
                        <thead>
                        <tr>
                            <th class="cluster-col">
                                <div class="table-flex-holder">
                                    <div class="input-check-holder">
                                        <input type="checkbox" id="table-head-check-01"
                                               data-check-pattern="[name^='table-check']"/>
                                        <label for="table-head-check-01">
                                            <span class="input"></span>
                                        </label>
                                    </div>

                                    <strong class="table-title">Cluster/Sector</strong>

                                    <div class="table-sort-buttons">
                                        <button type="button"><span class="icon-chevron-up"></span></button>
                                        <button type="button"><span class="icon-chevron-down"></span></button>
                                    </div>
                                </div>
                            </th>

                            <th class="organisation-col">
                                <div class="table-flex-holder">
                                    <strong class="table-title">Organisation</strong>

                                    <div class="table-sort-buttons">
                                        <button type="button"><span class="icon-chevron-up"></span></button>
                                        <button type="button"><span class="icon-chevron-down"></span></button>
                                    </div>
                                </div>
                            </th>

                            <th class="title-col">
                                <div class="table-flex-holder">
                                    <strong class="table-title">Project title</strong>

                                    <div class="table-sort-buttons">
                                        <button type="button"><span class="icon-chevron-up"></span></button>
                                        <button type="button"><span class="icon-chevron-down"></span></button>
                                    </div>
                                </div>
                            </th>

                            <th class="update-date-col">
                                <div class="table-flex-holder">
                                    <strong class="table-title">Updated on</strong>

                                    <div class="table-sort-buttons">
                                        <button type="button"><span class="icon-chevron-up"></span></button>
                                        <button type="button"><span class="icon-chevron-down"></span></button>
                                    </div>
                                </div>
                            </th>

                            <th class="location-col">
                                <div class="table-flex-holder">
                                    <strong class="table-title">Location</strong>
                                </div>
                            </th>

                            <th class="description-col">
                                <div class="table-flex-holder">
                                    <strong class="table-title">Description</strong>
                                </div>
                            </th>

                            <th class="action-col">
                                <div class="table-flex-holder">
                                    <strong class="table-title">Action</strong>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in completed_projects %}
                        <tr>
                            <td class="cluster-col">
                                <div class="table-flex-holder">
                                    <div class="input-check-holder">
                                        <input type="checkbox" id="table-check-11" name="table-check11"/>
                                        <label for="table-check-11">
                                            <span class="input"></span>
                                        </label>
                                    </div>
                                    {% for cluster in project.clusters.all %}
                                        {{ cluster.title }}
                                    {% endfor %}
                                </div>
                            </td>

                            <td class="organisation-col">{{ project.implementing_partner }}</td>

                            <td class="title-col">{{ project.title }}</td>

                            <td class="update-date-col">{{ project.updated_at }}</td>

                            <td class="location-col">
                                {% for location in project.locations.all %}
                                {{ location.name }},
                                {% endfor %}
                            </td>

                            <td class="description-col">
                                {{ project.description }}
                            </td>

                            <td class="action-col">
                                <div class="table-flex-holder">
                                    <ul class="table-options-buttons">
                                        <li>
                                            <button><a class="text-decoration-none"
                                                       href="{% url 'view_project' project.id %}"><span
                                                    class="icon-eye"></span></a></button>
                                        </li>
                                        <li>
                                            <button><a href="{% url 'delete_project' project.pk %}" class="text-decoration-none"><span
                                                    class="icon-trashbin"></span></a></button>
                                        </li>
                                        <li>
                                            <button><a href="#" class="text-decoration-none"><span
                                                    class="icon-copy"></span></a></button>
                                        </li>
                                        <li></li>
                                    </ul>
                                    <a href="table-slide-02" class="table-slide-opener">
                                        <span class="icon-chevron-down"></span>
                                    </a>
                                </div>
                            </td>

                            <td class="project-details-col" id="table-slide-02">
                                <div class="table-flex-holder">
                                    <div class="col">
                                        <strong class="title">Number of people targeting:</strong>
                                        <dl>
                                            <dt>Female:</dt>
                                            <dd>11,657</dd>
                                        </dl>
                                        <dl>
                                            <dt>Male:</dt>
                                            <dd>12,765</dd>
                                        </dl>
                                    </div>
                                    <div class="col">
                                        <div class="input-check-holder">
                                            <input type="checkbox" id="table-check-18" checked/>
                                            <label for="table-check-18">
                                                <span class="input"></span>
                                                <span class="text">HRP project</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <dl>
                                            <dt>Activity types:</dt>
                                            <dd>Flood</dd>
                                        </dl>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> {% endcomment %}
        </div>
        <div class="pagination-holder">
            <div class="select-field view-options">
            </div>
            <div class="pagination-wrapper">
                <ul class="pagination">
                    
                    {% if active_projects.has_previous %}
                        <li class="page-item prev"><a class="page-link" href="?page={{active_projects.previous_page_number}}">Previous</a></li>
                    {% else %}
                        <li class="page-item prev disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
                        
                    {% for i in total_pages %}
                        <li class="page-item {% if active_projects.number == forloop.counter %}current-page{% endif %}"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                    {% endfor %}
                        
                    {% if active_projects.has_next %}
                        <li class="page-item next"><a class="page-link" href="?page={{active_projects.next_page_number}}">Next</a></li>
                    {% else %}
                        <li class="page-item next disabled"><a class="page-link" href="#">Next</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
    integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
</script>

<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
</script>

{% endblock %}