{% extends "projects/project_form_base.html" %}
{% load static %}
{% block header %}

{% endblock header %}

{% block project_contents %}
<div class="project-title-holder">
    <h2 class="plan-title">{{ project.title}}</h2>
</div>
<div class="main-content">
    <div class="target-location create-location">
        <div class="main-heading">
            <!--            <h2 class="plan-title">Target Locations</h2>-->
        </div>


        <form method="POST" enctype="multipart/form-data">
            <div class="main-activity-holder main-target">
                <div class="top-activity-block">
                    <div>
                        <span class="activity-title">Targeted Locations</span>
                    </div>
                    <div class="btn-holder">
                        <!--<input type="submit" class="btn btn-red" value="Add Location"/>-->
                        <a href="#" class="btn btn-gray">
                            <span class="btn-text">Import Locations</span>
                            <span class="icon-upload"></span>
                        </a>
                        <button type="button" id="fold-unfold-all"
                                class="btn btn-gray-outline fold-unfold-all-details">
                            <span class="icon-chevron-up up hidden" id="fold-icon-up"></span>
                            <span class="icon-chevron-down down " id="fold-icon-down"></span>
                            <span class="btn-text hidden" id="all-fold">Collapse All</span>
                            <span class="btn-text " id="all-unfold">Expand All</span>
                        </button>
                    </div>
                </div>
            </div>
            {{ formset.management_form }}
            {% csrf_token %}
            {% for form in formset reversed %}
            {{ form.id }}
            {{ form.active }}
            <input type="hidden" name="project_id" id="project_id" value="{{ project.id }}">
            <div class="location-block-holder js-collapse-expand" data-form-id="{{ form.prefix }}">
                <div class="inner-holder location-inner-holder">
                    <div class="block-top">
                        <span class="title">
                            {% if not form.id.value %}
                                <span>Add New Target Location</span>
                            {% endif %}
                            <span id="title-province-{{ form.prefix }}"></span>
                            <span id="title-district-{{ form.prefix }}"></span>
                            <span id="title-site_name-{{ form.prefix }}"></span>
                        </span>

                        <div class="block-location-activity">
                            <div id="{{form.prefix}}-actions">

                                <!--FIXME: Fix the mobile view-->

                                <a href="#" class="btn btn-gray-outline">
                                    <span class="icon-copy"></span>
                                    <span class="btn-text">Duplicate</span>
                                </a>
                                <a href="#" class="btn btn-gray-outline">
                                    <span class="icon-trashbin"></span>
                                    <span class="btn-text">Delete</span>
                                </a>
                                <button type="submit" class="btn btn-red save" name="submit_type"
                                        value="without_next_step">Save
                                </button>
                            </div>
                            <a href="#" class="btn btn-gray-outline collapse-details">
                                <span class="icon-chevron-up up" id="{{form.prefix}}-up"></span>
                                <span class="icon-chevron-down down hidden" id="{{form.prefix}}-down"></span>
                                <span class="btn-text" id="{{form.prefix}}-fold">Collapse</span>
                                <span class="btn-text hidden" id="{{form.prefix}}-unfold">Expand</span>
                            </a>
                        </div>


                        <span class="subtitle">FATP: Tagab BHC</span>
                    </div>
                    <div id="{{form.prefix}}-details">
                        <div class="options-holder">
                            <div class="input-check-holder">
                                <input type="checkbox" name="{{ form.group_by_province.name }}"
                                       id="{{ form.group_by_province.id_for_label }}"/>
                                <label for="{{ form.group_by_province.id_for_label }}">
                                    <span class="input"></span>
                                    <span class="text">Group target locations by province</span>
                                </label>
                            </div>

                            <div class="input-check-holder">
                                <input type="checkbox" name="{{ form.group_by_district.name }}"
                                       id="{{ form.group_by_district.id_for_label }}"/>
                                <label for="{{ form.group_by_district.id_for_label }}">
                                    <span class="input"></span>
                                    <span class="text">Group target locations by district</span>
                                </label>
                            </div>
                            <div class="input-check-holder">
                                <input type="checkbox" name="{{ form.group_by_custom.name }}"
                                       id="{{ form.group_by_custom.id_for_label }}"/>
                                <label for="{{ form.group_by_custom.id_for_label }}">
                                    <span class="input"></span>
                                    <span class="text">Group target locations custom</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="multiple-fields-row two-items">
                                    <!--<div class="field-col">
                                        <div class="select-field is-required">
                                            <label>Country</label>
                                            {{ form.country }}
                                        </div>
                                    </div>-->
                                    <div class="field-col">
                                        <div class="select-field">
                                            <label>Province / State *</label>
                                            {{ form.province }}
                                        </div>
                                    </div>
                                    <div class="field-col">
                                        <div class="input-field">
                                            <label>District</label>
                                            {{ form.district }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="multiple-fields-row three-items">
                                    <div class="field-col">
                                        <div class="input-field">
                                            <label>Site name</label>
                                            <div class="input-holder">
                                                {{ form.site_name }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field-col">
                                        <div class="input-field">
                                            <label>Site Latitude</label>
                                            <div class="input-holder">
                                                {{ form.site_lat }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field-col">
                                        <div class="input-field">
                                            <label>Site Longitude</label>
                                            <div class="input-holder">
                                                {{ form.site_long }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
            <div class="plan-submit-holder">
                <a href="{% url 'create_project_activity_plan' project.pk %}" class="btn btn-gray-outline">Back</a>
                <a href="{% url 'project_plan_review' project.pk %}" class="btn btn-red">Review</a>
            </div>
        </form>

    </div>
</div>

{% endblock project_contents %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
        integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script defer src="{% static 'rh/js/target_locations.js' %}"></script>


<script>

    function get_districts(){
        const districts_url = $("#id_form-0-district").attr("districts-queries-url");
        const districtIds = $("select#id_form-0-district option").map(function() {return $(this).val();}).get();
        const provinceId = [$("#id_form-0-province").val()];
        const selected_districts = $("select#id_form-0-district").val()
        $.ajax({
            type: 'GET',
            url: districts_url,
            data: {
                provinces: provinceId,
                listed_districts: districtIds,
            },
            success: function (data) {
                $("#id_form-0-district").html(data);
                $("select#id_form-0-district").val(selected_districts);
            }
        });
    };

    $('#id_form-0-district').ready(function () {
        get_districts()
    });

    $("#id_form-0-province").change(function () {
        get_districts()
    });






</script>

{% endblock scripts %}
