{% extends "projects/project_form_base.html" %}  

{% block header %}

{% endblock header %}

{% block project_contents %}

<div class="project-title-holder">
    <h2 class="plan-title">{{ project.title }}</h2>
</div>
<div class="main-content">
    <div class="activity-planning create-activity">
        <div class="main-heading">
            <div class="subtitle-holder">
                <span class="subtitle">Activity Planning</span>
            </div>
        </div>

        <form method="POST" enctype="multipart/form-data">
            {{ formset.management_form }}
            {% csrf_token %}
            {% for form in formset %}
            <div class="activity-block-holder">
                {{ form.id }}
                {{ form.activity_id }}
                {{ form.active }}
                {% comment %} {{form.instance.activity_id}} {% endcomment %}
                <input type="hidden" name="form_set_id" id="id_form_set" value="{{ forloop.counter0 }}"/>
                <div class="inner-holder">
                    <div class="block-top">
                        <span class="title">
                            {% if form.instance %}
                                {% if form.instance.activity %}
                                    {{ form.instance.activity }}
                                {% else %}
                                    {{ form.initial.activity }}
                                {% endif %}
                            {% endif %}

                        </span>
                    </div>
                    <div class="row">
                        <div class="col col-lg">
                            <div class="select-field">
                                <label>Activity Domain</label>
                                {{ form.activity }}
                            </div>
                        </div>
                        <div class="col">
                            <div class="select-field">
                                <label>Beneficiary Type</label>
                                <div class="select-field">
                                    {{ form.beneficiary }}
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm">
                            <div class="select-field">
                                <label>Category</label>
                                <div class="select-field">
                                    {{ form.beneficiary_category }}
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg">
                            <div class="input-field is-required">
                                <label>Activity Description</label>
                                <div class="input-holder">
                                    {{ form.description }}
                                </div>
                            </div>

                            <div class="statistic-table-holder">
                                <table class="statistic-table ageTable">
                                    <thead>
                                    <tr>
                                        <th>Gender / Age</th>
                                        <th>0-5</th>
                                        <th>6-12</th>
                                        <th>12-17</th>
                                        <th>18+</th>
                                        {% comment %}
                                        <th>Total</th>
                                        {% endcomment %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="ageRow">
                                        <td>Female</td>
                                        <td>
                                            {{form.female_0_5}}
                                        </td>
                                        <td>
                                            {{form.female_6_12}}
                                        </td>
                                        <td>
                                            {{form.female_12_17}}
                                        </td>
                                        <td>
                                            {{form.female_18}}
                                        </td>
                                    </tr>
                                    <tr class="ageRow">
                                        <td>Male</td>
                                        <td> 
                                            {{form.male_0_5 }}
                                        </td>
                                        <td> 
                                            {{form.male_6_12 }}
                                        </td>
                                        <td> 
                                            {{form.male_12_17 }}
                                        </td>
                                        <td> 
                                            {{form.male_18 }}
                                        </td>
                                        {% comment %}
                                        <td><input type="number" name="{{ form.male_total.html_name }}"
                                                   class="total" id="{{ form.male_total.id_for_label }}"
                                                   step="1" placeholder="-" value=""/></td>
                                        {% endcomment %}
                                    </tr>
                                    <tr class="ageRow">
                                        <td class="other">Other/Unknown</td>
                                        <td>
                                            {{ form.other_0_5 }}
                                        </td>
                                        <td>
                                            {{ form.other_6_12 }}
                                        </td>
                                        <td>
                                            {{ form.other_12_17 }}
                                        </td>
                                        <td>
                                            {{ form.other_18 }}
                                        </td>
                                        {% comment %}
                                        <td><input type="number" name="{{ form.other_total.html_name }}"
                                                   class="total" id="{{ form.other_total.id_for_label }}"
                                                   step="1" placeholder="-" value=""/></td>
                                        {% endcomment %}
                                    </tr>
                                    {% comment %}
                                    <tr>
                                        <td>Total</td>
                                        <td><input type="number" name="{{ form.total_0_5.html_name }}"
                                                   id="{{ form.total_0_5.id_for_label }}" step="1"
                                                   placeholder="-" value=""/></td>
                                        <td><input type="number" name="{{ form.total_6_12.html_name }}"
                                                   id="{{ form.total_6_12.id_for_label }}" step="1"
                                                   placeholder="-" value=""/></td>
                                        <td><input type="number" name="{{ form.total_12_17.html_name }}"
                                                   id="{{ form.total_12_17.id_for_label }}" step="1"
                                                   placeholder="-" value=""/></td>
                                        <td><input type="number" name="{{ form.total_18.html_name }}"
                                                   id="{{ form.total_18.id_for_label }}" step="1"
                                                   placeholder="-" value=""/></td>
                                        <td><input type="number" name="{{ form.total.html_name }}" id="sum"
                                                   step="1" placeholder="-" value=""/></td>
                                    </tr>
                                    {% endcomment %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="plan-submit-holder">
                <a href="{% url 'update_project' project.pk %}" class="btn btn-gray-outline">Back</a>
                <button type="submit" class="btn btn-red">Save and Next</button>
            </div>
        </form>
    </div>
</div>

{% comment %}
<div class="container px-4 px-lg-5 h-100">
    <div class="row h-100 align-items-center justify-content-center text-left">
        <div class="col-lg-6 align-self-end">
            <h1 class="m-5">Report Hub</h1>

            <h3>Activities Planning</h3>

            {% if messages %}
            {% for message in messages %}
            {% if message.tags in 'info,warning,success' %}
            <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
            {% elif message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% else %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endif %}
            {% endfor %}
            {% endif %}

            <form method="POST" enctype="multipart/form-data">
                {{ formset.management_form }}
                {% csrf_token %}
                {% for form in formset %}
                <div class="accordion mb-3" id="accordionActivity{{forloop.counter0}}">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="activityHeading{{forloop.counter0}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{forloop.counter0}}" aria-expanded="false"
                                    aria-controls="collapse{{forloop.counter0}}">

                                {% if form.instance.pk %}
                                {{ form.instance }}
                                {% else %}
                                {{ form.initial.project }}, {{ form.initial.activity }}
                                {% endif %}

                            </button>
                        </h2>
                        <div id="collapse{{forloop.counter0}}" class="accordion-collapse collapse hide"
                             aria-labelledby="activityHeading{{forloop.counter0}}"
                             data-bs-parent="#accordionActivity{{forloop.counter0}}">
                            <div class="accordion-body" id="accordion-body-{{forloop.counter0}}">
                                <input type="hidden" name="next" id="activity_plan_id_{{forloop.counter0}}"
                                       value="{{ form.id.value }}"/>
                                <input type="hidden" name="form_set_id" id="id_form_set"
                                       value="{{ forloop.counter0 }}"/>
                                {{ form }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="mb-3 mt-3 d-grid">
                    <input type="submit" class="btn btn-outline-dark" value="Submit"/>
                </div>
            </form>
        </div>
    </div>
</div> {% endcomment %}
   
{% endblock project_contents %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>

    /*function calculate(){
        var table = document.getElementById("ageTable");
        var total_0_5 = 0;
        var total_6_12 = 0;
        var total_12_17 = 0;
        var total_18 = 0;
        var col_total = 0;

        for (var i = 1; i < table.rows.length; i++) {
            if(table.rows[i].cells[1].children[0].value){
                debugger
                total_0_5 += parseFloat(table.rows[i].cells[1].children[0].value);
            }
            if(table.rows[i].cells[2].children[0].value){
                total_6_12 += parseFloat(table.rows[i].cells[2].children[0].value);
            }
            if(table.rows[i].cells[3].children[0].value){
                total_12_17 += parseFloat(table.rows[i].cells[3].children[0].value);
            }
            if(table.rows[i].cells[4].children[0].value){
                total_18 += parseFloat(table.rows[i].cells[4].children[0].value);
            }
            if(table.rows[i].cells[5].children[0].value){
                col_total += parseFloat(table.rows[i].cells[5].children[0].value);
            }
        }


        alert(total_0_5);
    }

    $(".age").on('change', function(){
        var parent = $(this).closest('tr');
        var choose = parseFloat($('.age',parent).val());
        debugger
        if ($('.total',parent)[0].value){
            $('.total',parent)[0].value = parseFloat($('.total',parent)[0].value) + choose;
        }
        else {
            $('.total',parent)[0].value = choose;
        }


        calc_total();
    });
    function calc_total(){
        debugger
        var sum = 0;
        $(".total").each(function(){
          sum += parseFloat($(this).text());
        });
        $('#sum')[0].value = sum;
      }*/

    /*const tables = document.getElementsByClassName('ageTable')
    for (var t=0; t < tables.length; t++){
        var rowElement = $(`#age_${t}`)[0];
        debugger
        rowElement.addEventListener("change", calculate);

    }*/



    /*function get_activity_form(event){
        if (event.target == undefined){
            var parentElement = $(event).parent().parent()
        }
        else{
            var parentElement = $(event.target).parent().parent()
        }
        const formSetId = parentElement.find('#id_form_set').val()
        const activityFieldsUrl = $(`#id_form-${formSetId}-activity_fields`).attr("activityfields-queries-url");
        const activityId = $(`#id_form-${formSetId}-activity_id`).val();
        let activityPlanId = $(`#activity_plan_id_${formSetId}`).val();
        if (activityPlanId == 'None'){
            activityPlanId = ''
        }
        $.ajax({
            type: 'GET',
            url: activityFieldsUrl,
            data: {
                activity: activityId,
                activity_plan_id: activityPlanId ,
            },
            dataType: 'json',
            success: function(response){
                var activityFormEl = parentElement.find("#activity_form")
                if (activityFormEl){
                    activityFormEl.remove()
                }
                if (response.form){
                    var activityFormEl = `
                        <div id="activity_form" class="mb-3" style="background-color: aliceblue;padding: 10px;">
                            <h5>Activity</h5>
                            ${response.form}
                        </div>`
                    $(`#accordion-body-${formSetId}`).prepend(activityFormEl)
                }
                //$(`#div_id_form-${formSetId}-activity`).remove()
            }
        })
    }
    $('.ajax-activity-fields-class').ready(function (ev) {
        for (var i=0; i < $('.ajax-activity-fields-class').length; i++){
            get_activity_form($('.ajax-activity-fields-class')[i])
        }
    });*/


</script>

{% endblock scripts %}
