{% extends '_base.html' %}

{% block content %}

<div class="container px-4 px-lg-5 h-100">
    <div class="row h-100 align-items-center justify-content-center text-left">
        <div class="col-lg-4 align-self-end">
            <h1 class="m-5">Report Hub</h1>
            <h3>
                Projects
                <a class="btn btn-outline-success float-end" href="{% url 'create_project' %}" role="button">Create</a>
                
            </h3>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Project</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    
                    {% for project in projects %}
                    <tr>
                      <th scope="row">{{project.id}}</th>
                      <td>{{project}}</td>
                      <td><a class="btn btn-outline-primary float-end" href="{% url 'update_project' project.id %}" role="button">Update</a></td>
                      <td><a class="btn btn-outline-danger float-end" href="#" role="button">Delete</a></td>
                    </tr>
                    {% endfor %}
                        
                
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock %}