{% extends "projects/project_form_base.html" %}  

{% block header %}

{% endblock header %}

{% block project_contents %}
<div class="project-title-holder">
    <h2 class="plan-title">{{ project.title}}</h2>
</div>
<div class="main-content">
    <div class="target-location create-location">
        <div class="main-heading">
            <h2 class="plan-title">Target Locations</h2>
        </div>

        <div class="main-activity-holder">
            <div class="top-activity-block">
                <span class="activity-title">Targeted Locations</span>

                <div class="btn-holder">
                    <a href="#" class="btn btn-red">Add Location</a>
                    <a href="#" class="btn btn-gray">
                        <span class="btn-text">Import Locations</span>
                        <span class="icon-upload"></span>
                    </a>
                </div>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {{ formset.management_form }}
            {% csrf_token %}
            {% for form in formset %}
            
            {{ form.id }}
            {{ form.country_id }}
            {{ form.province_id }}
            {{ form.district_id }} 
            {{ form.active }}

            <div class="location-block-holder">
                <div class="inner-holder">
                    <div class="block-top">
                        <span class="title">
                            {% if form.instance %}

                                {% if form.instance.country %}
                                    {{ form.instance.country }}, 
                                {% else %}
                                    {{ form.initial.country }}, 
                                {% endif %}

                                {% if form.instance.province %}
                                    {{ form.instance.province }},
                                {% else %}
                                    {{ form.initial.province }},
                                {% endif %}
                                
                                {% if form.instance.district %}
                                    {{ form.instance.district }}
                                {% else %}
                                    {{ form.initial.district }}
                                {% endif %}

                            {% endif %}
                        </span>

                        {% comment %} <span class="title">Badakhshan, Tagab</span> {% endcomment %}

                        <div class="block-location-activity">
                            <a href="#" class="btn btn-gray-outline">
                                <span class="icon-trashbin"></span>
                                <span class="btn-text">Delete</span>
                            </a>
                        </div>

                        {% comment %} <span class="subtitle">{{ form.location_type.value|default_if_none:"" }}: {{ form.site_name.value|default_if_none:"" }}</span>
                        {% endcomment %}
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="multiple-fields-row three-items">
                                <div class="field-col">
                                    <div class="select-field is-required">
                                        <label>Country</label>
                                        {{ form.country }}
                                    </div>
                                </div>
                                <div class="field-col">
                                    <div class="select-field is-required">
                                        <label>Province</label>
                                        {{ form.province }}
                                    </div>
                                </div>
                                <div class="field-col">
                                    <div class="select-field is-required">
                                        <label>District</label>
                                        {{ form.district }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="multiple-fields-row two-items">
                                <div class="field-col">
                                    <div class="select-field is-required">
                                        <label>Location Type</label>
                                        {{ form.location_type }}
                                    </div>
                                </div>
                                <div class="field-col">
                                    <div class="input-field">
                                        <label>Site name</label>
                                        <div class="input-holder">
                                            {{ form.site_name }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="plan-submit-holder">
                <a href="{% url 'update_project_activity_plan' project.pk %}" class="btn btn-gray-outline">Back</a>
                <button type="submit" class="btn btn-red">Save and Review</button>
            </div>
        </form>
    </div>
</div>

{% endblock project_contents %}

{% block scripts %}

{% endblock scripts %}
