{% extends "projects/project_form_base.html" %}

{% block header %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
{% endblock header %}

{% block project_contents %}
<div class="main-content">
    <div class="project-plan create-plan">
        <div class="main-heading">
            {% if project %}
                <h2 class="plan-title">Update project plan</h2>
            {% else %}
                <h2 class="plan-title">Create project plan</h2>
            {% endif %}
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form.active }}
            <div class="row">
                <div class="col">
                    <div class="input-field is-required">
                        <label for="{{form.title.html_name}}">Project Title</label>
                        <div class="input-holder">
                            {{ form.title }}
                        </div>
                    </div>
                    <div class="input-field">
                        <label for="{{ form.code.html_name }}">Project Code</label>
                        <div class="input-holder">
                            {{ form.code }}
                        </div>
                    </div>

                    <div class="select-field is-required">
                        <label for="{{ form.locations.html_name }}">Locations</label>
                        <div class="input-holder">
                            {{ form.locations }}
                        </div>
                    </div>

                    <div class="select-field is-required">
                        <label for="{{ form.clusters.html_name }}">Clusters</label>
                        <div class="input-holder">
                            {{ form.clusters }}
                        </div>
                    </div>
                </div>
                <div class="col col-sm">
                    <div class="date-picker-field">
                        <div class="date start">
                            <label for="{{ form.start_date.id_for_label }}">Start Date</label>
                            {{form.start_date}}
                            {% comment %} <input type="text" name="{{ form.start_date.html_name }}"
                                                 id="{{ form.start_date.id_for_label }}"
                                                 onfocus="(this.type='date')" onblur="(this.type='text')"
                                                 value=""/> {% endcomment %}
                        </div>
                        <div class="date end">
                            <label for="{{ form.end_date.id_for_label }}">End Date</label>
                            {{form.end_date}}
                            {% comment %} <input type="text" name="{{ form.end_date.html_name }}"
                                                 id="{{ form.end_date.id_for_label }}"
                                                 onfocus="(this.type='date')" onblur="(this.type='text')"
                                                 value=""/> {% endcomment %}
                        </div>
                    </div>
                    <div class="multiple-fields-row">
                        <div class="field-col">
                            <div class="input-field">
                                <label for="{{form.budget.html_name}}">Project Budget</label>
                                <div class="input-holder">
                                    {{ form.budget }}
                                </div>
                            </div>
                        </div>
                        <div class="field-col">
                            <label for="{{form.budget_currency.html_name}}">Budget Currency</label>

                            <div class="select-field is-required">
                                {{ form.budget_currency }}
                            </div>
                        </div>
                    </div>

                    <div class="input-check-holder">
                        <input type="checkbox" id="prHRP"/>
                        <label for="prHRP">
                            <span class="input"></span>
                            <span class="text">HRP Project</span>
                        </label>
                    </div>
                    <div class="input-field" id='prHrpCode'>
                        <label for="prCodeMain">HRP Project Code</label>
                        <div class="input-holder">
                            <input type="text" id="prCodeMain" placeholder="HRP project code" value=""/>
                        </div>
                    </div>
                </div>
                <div class="col col-lg">
                    <div class="select-field is-required">
                        <label for="{{ form.activities.html_name }}">Activity Domain</label>
                        <div class="input-holder">
                            {{ form.activities }}
                        </div>
                    </div>
                    <div class="select-field is-required">
                        <label for="{{ form.donors.html_name }}">Project Donor</label>
                        <div class="input-holder">
                            {{ form.donors }}
                        </div>
                    </div>
                    <div class="multiple-fields-row two-items">
                        <div class="field-col">
                            <div class="select-field is-required">
                                <label for={{form.implementing_partners.html_name}}>Implementing Partners</label>
                                {{ form.implementing_partners }}
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="select-field is-required">
                                <label for={{form.programme_partners.html_name}}>Programme Partners</label>
                                {{ form.programme_partners }}
                            </div>
                        </div>
                    </div>
                    <div class="select-field">
                        <label for="{{ form.user.html_name }}">Focal Point</label>
                        {{ form.user }}
                    </div>
                    <div class="input-field is-required">
                        <label for="prDecs">Project Description &amp; Objectives</label>
                        <div class="input-holder">
                                <textarea name="prDecs" id="prDecs" cols="30" rows="10"
                                          placeholder="Project description &amp; objectives"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="plan-submit-holder">
                <button type="submit" class="btn btn-red">Save and Next</button>
            </div>
        </form>

    </div>
</div>
{% endblock project_contents %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
        integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</script>

<script>
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();
        });


        $("#prHrpCode").hide();

        $("#prHRP").change(function(){
            if($(this).is(":checked")) {
                $("#prHrpCode").show(300);
            } else {
                $("#prHrpCode").hide(200);
            }
        });

        function get_activities(){
            const activities_url = $("#id_activities").attr("activities-queries-url");
            const activityIds = $("select#id_activities option").map(function() {return $(this).val();}).get();
            const clusterIds = $("#id_clusters").val();    
            const selected_activities = $("select#id_activities").val() 
            $.ajax({    
                type: 'GET',
                url: activities_url,
                data: {
                    clusters: clusterIds,
                    listed_activities: activityIds,
                },
                success: function (data) {  
                    $("#id_activities").html(data); 
                    $("select#id_activities").val(selected_activities); 
                }
            });
        }

        function get_locations(){
            const locations_url = $("#id_locations").attr("locations-queries-url");
            const selected_locations = $("select#id_locations").val()
            $.ajax({    
                type: 'GET',
                url: locations_url,
                success: function (data) {  
                    $("#id_locations").html(data); 
                    $("select#id_locations").val(selected_locations); 
                    
                }
            });
        };

        $('#id_activities').ready(function () {
            get_activities()
        });

        $("#id_clusters").change(function () {
            get_activities()
        });

</script>

{% endblock scripts %}
