{% extends "_base.html" %}
{% load static %}

{% block content %}

<div class="base-section">
  <div class="container">
    <div class="page-top-panel">
      <div class="tabs-nav-holder">
        <ul class="tabs-nav js-tabs-nav">
          <li class="active">
            <a href="#tab-1">Active Projects ({{ active_projects | length }})</a>
          </li>

          <li class="">
            <a href="#tab-2">Completed Projects ({{ completed_projects | length }})</a>
          </li>
        </ul>
      </div>

      <div class="actions-panel">
        <div class="filter-holder">
          <a href="#" class="btn btn-red filter-open">Filter</a>
          <form action="#" class="filter-form">
            <div class="filter-options">
              <div class="block-top">
                <span class="title">Filter</span>
                <a class="filter-close" href="#"></a>
              </div>
              <div class="block-body" data-simplebar>
                <div class="select-field">
                  <label>Region</label>
                  <select name="region" id="region" class="custom-select">
                    <option value="placeholder" disabled selected placeholder>Region</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                  </select>
                </div>
                <div class="select-field">
                  <label>Country</label>
                  <select name="country" id="country" class="custom-select">
                    <option value="placeholder" disabled selected placeholder>Country</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                  </select>
                </div>
                <div class="select-field">
                  <label>Province/ State</label>
                  <select name="state" id="state" class="custom-select">
                    <option value="placeholder" disabled selected placeholder>Province/ State</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                  </select>
                </div>
                <div class="select-field">
                  <label>District</label>
                  <select name="district" id="district" class="custom-select">
                    <option value="placeholder" disabled selected placeholder>District</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                  </select>
                </div>
                <div class="date-picker-field">
                  <div class="date start">
                    <input type="text" id="dateStart" name="Start date" placeholder="Start date" onfocus="(this.type='date')" onblur="(this.type='text')" />
                  </div>
                  <div class="date end">
                    <input type="text" id="dateEnd" name="End date" placeholder="End date" onfocus="(this.type='date')" onblur="(this.type='text')" />
                  </div>
                </div>
                <div class="select-field">
                  <label>Cluster/Sector</label>
                  <select name="cluster" id="cluster" class="custom-select">
                    <option value="placeholder" disabled selected placeholder>Cluster/Sector</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                  </select>
                </div>
                <div class="select-field">
                  <label>Organization</label>
                  <select name="organisation" id="organisation" class="custom-select">
                    <option value="placeholder" disabled selected placeholder>Organization</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                  </select>
                </div>
                <div class="select-field">
                  <label>Activity Domain</label>
                  <select name="domain" id="domain" class="custom-select">
                    <option value="placeholder" disabled selected placeholder>Activity Domain</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                  </select>
                </div>
              </div>
              <div class="block-footer">
                <div class="btn-wrapper">
                  <button type="button" class="btn btn-gray-outline">Reset</button>
                  <button type="submit" class="btn btn-red">Apply</button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="export-formats-holder">
          <a href="#" class="btn btn-gray export-open">
            <span class="btn-text">Export</span>
            <span class="icon-download"></span>
          </a>
          <div class="export-formats">
            <span class="title">File format</span>
            <ul class="formats-list">
              <li>
                <div class="input-check-holder">
                  <input type="radio" id="radio1" name="exportFormat" />
                  <label for="radio1">
                    <span class="input"></span>
                    <span class="text">Docs</span>
                  </label>
                </div>
              </li>

              <li>
                <div class="input-check-holder">
                  <input type="radio" id="radio2" name="exportFormat" />
                  <label for="radio2">
                    <span class="input"></span>
                    <span class="text">CVS</span>
                  </label>
                </div>
              </li>

              <li>
                <div class="input-check-holder">
                  <input type="radio" id="radio3" name="exportFormat" />
                  <label for="radio3">
                    <span class="input"></span>
                    <span class="text">Excel</span>
                  </label>
                </div>
              </li>

              <li>
                <div class="input-check-holder">
                  <input type="radio" id="radio4" name="exportFormat" />
                  <label for="radio4">
                    <span class="input"></span>
                    <span class="text">PDF</span>
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="projects-options-panel">
      <div class="holder">
        <div class="input-holder">
          <input type="text" placeholder="Placeholder" />
        </div>
        <ul class="buttons-list-inline">
          <li>
            <a href="#" class="btn btn-red add-btn">Add new project</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content-block top-border bottom-border bottom-decor">
      <div id="tab-1">
        <div class="table-wrapper-scrollable">
          <table class="table all-projects-table js-collapsible-table">
            <thead>
              <tr>
                <th class="cluster-col">
                  <div class="table-flex-holder">
                    <div class="input-check-holder">
                      <input type="checkbox" id="table-head-check-01" data-check-pattern="[name^='table-check']" />
                      <label for="table-head-check-01">
                        <span class="input"></span>
                      </label>
                    </div>

                    <strong class="table-title">Cluster/Sector</strong>

                    <div class="table-sort-buttons">
                      <button type="button"><span class="icon-chevron-up"></span></button>
                      <button type="button"><span class="icon-chevron-down"></span></button>
                    </div>
                  </div>
                </th>

                <th class="organisation-col">
                  <div class="table-flex-holder">
                    <strong class="table-title">Organisation</strong>

                    <div class="table-sort-buttons">
                      <button type="button"><span class="icon-chevron-up"></span></button>
                      <button type="button"><span class="icon-chevron-down"></span></button>
                    </div>
                  </div>
                </th>

                <th class="title-col">
                  <div class="table-flex-holder">
                    <strong class="table-title">Project title</strong>

                    <div class="table-sort-buttons">
                      <button type="button"><span class="icon-chevron-up"></span></button>
                      <button type="button"><span class="icon-chevron-down"></span></button>
                    </div>
                  </div>
                </th>

                <th class="update-date-col">
                  <div class="table-flex-holder">
                    <strong class="table-title">Updated on</strong>

                    <div class="table-sort-buttons">
                      <button type="button"><span class="icon-chevron-up"></span></button>
                      <button type="button"><span class="icon-chevron-down"></span></button>
                    </div>
                  </div>
                </th>

                <th class="location-col">
                  <div class="table-flex-holder">
                    <strong class="table-title">Location</strong>
                  </div>
                </th>

                <th class="description-col">
                  <div class="table-flex-holder">
                    <strong class="table-title">Description</strong>
                  </div>
                </th>

                <th class="action-col">
                  <div class="table-flex-holder">
                    <strong class="table-title">Action</strong>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for project in active_projects %}
              <tr>
                <td class="cluster-col">
                  <div class="table-flex-holder">
                    <div class="input-check-holder">
                      <input type="checkbox" id="table-check-11" name="table-check11" />
                      <label for="table-check-11">
                        <span class="input"></span>
                      </label>
                    </div>
                    {% for cluster in project.clusters.all %}
                        {{ cluster.title }}
                    {% endfor %}
                  </div>
                </td>

                <td class="organisation-col">United Nations Human Settlements Programme</td>

                <td class="title-col">{{ project.title }}</td>

                <td class="update-date-col">{{ project.updated_at }}</td>

                <td class="location-col">
                  {% for location in project.locations.all %}
                        {{ location.name }}
                    {% endfor %}
                </td>

                <td class="description-col">
                  {{ project.description }}
                </td>

                <td class="action-col">
                  <div class="table-flex-holder">
                    <ul class="table-options-buttons">
                      <li>
                        <button><a class="text-decoration-none"  href="{% url 'update_project' project.id %}"><span class="icon-pen"></span></a></button>
                      </li>
                      <li>
                        <button><a href="#" class="text-decoration-none" ><span class="icon-trashbin"></span></a></button>
                      </li>
                      <li>
                        <button><a href="#" class="text-decoration-none" ><span class="icon-copy"></span></a></button>
                      </li>
                    </ul>
                    <a href="table-slide-01" class="table-slide-opener">
                      <span class="icon-chevron-down"></span>
                    </a>
                  </div>
                </td>

                <td class="project-details-col" id="table-slide-01">
                  <div class="table-flex-holder">
                    <div class="col">
                      <strong class="title">Number of people targeting:</strong>
                      <dl>
                        <dt>Female:</dt>
                        <dd>11,657</dd>
                      </dl>
                      <dl>
                        <dt>Male:</dt>
                        <dd>12,765</dd>
                      </dl>
                    </div>
                    <div class="col">
                      <div class="input-check-holder">
                        <input type="checkbox" id="table-check-18" checked />
                        <label for="table-check-18">
                          <span class="input"></span>
                          <span class="text">HRP project</span>
                        </label>
                      </div>
                    </div>
                    <div class="col">
                      <dl>
                        <dt>Activity types:</dt>
                        <dd>Flood</dd>
                      </dl>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div id="tab-2">
        <div class="table-wrapper-scrollable">
          <table class="table all-projects-table js-collapsible-table">
            <thead>
              <tr>
                <th class="cluster-col">
                  <div class="table-flex-holder">
                    <div class="input-check-holder">
                      <input type="checkbox" id="table-head-check-01" data-check-pattern="[name^='table-check']" />
                      <label for="table-head-check-01">
                        <span class="input"></span>
                      </label>
                    </div>

                    <strong class="table-title">Cluster/Sector</strong>

                    <div class="table-sort-buttons">
                      <button type="button"><span class="icon-chevron-up"></span></button>
                      <button type="button"><span class="icon-chevron-down"></span></button>
                    </div>
                  </div>
                </th>

                <th class="organisation-col">
                  <div class="table-flex-holder">
                    <strong class="table-title">Organisation</strong>

                    <div class="table-sort-buttons">
                      <button type="button"><span class="icon-chevron-up"></span></button>
                      <button type="button"><span class="icon-chevron-down"></span></button>
                    </div>
                  </div>
                </th>

                <th class="title-col">
                  <div class="table-flex-holder">
                    <strong class="table-title">Project title</strong>

                    <div class="table-sort-buttons">
                      <button type="button"><span class="icon-chevron-up"></span></button>
                      <button type="button"><span class="icon-chevron-down"></span></button>
                    </div>
                  </div>
                </th>

                <th class="update-date-col">
                  <div class="table-flex-holder">
                    <strong class="table-title">Updated on</strong>

                    <div class="table-sort-buttons">
                      <button type="button"><span class="icon-chevron-up"></span></button>
                      <button type="button"><span class="icon-chevron-down"></span></button>
                    </div>
                  </div>
                </th>

                <th class="location-col">
                  <div class="table-flex-holder">
                    <strong class="table-title">Location</strong>
                  </div>
                </th>

                <th class="description-col">
                  <div class="table-flex-holder">
                    <strong class="table-title">Description</strong>
                  </div>
                </th>

                <th class="action-col">
                  <div class="table-flex-holder">
                    <strong class="table-title">Action</strong>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for project in completed_projects %}
              <tr>
                <td class="cluster-col">
                  <div class="table-flex-holder">
                    <div class="input-check-holder">
                      <input type="checkbox" id="table-check-11" name="table-check11" />
                      <label for="table-check-11">
                        <span class="input"></span>
                      </label>
                    </div>
                    {% for cluster in project.clusters.all %}
                        {{ cluster.title }}
                    {% endfor %}
                  </div>
                </td>

                <td class="organisation-col">United Nations Human Settlements Programme</td>

                <td class="title-col">{{ project.title }}</td>

                <td class="update-date-col">{{ project.updated_at }}</td>

                <td class="location-col">
                  {% for location in project.locations.all %}
                        {{ location.name }}
                    {% endfor %}
                </td>

                <td class="description-col">
                  {{ project.description }}
                </td>

                <td class="action-col">
                  <div class="table-flex-holder">
                    <ul class="table-options-buttons">
                      <li>
                        <button><a class="text-decoration-none" href="{% url 'view_project' project.id %}"><span class="icon-eye"></span></a></button>
                      </li>
                      <li>
                        <button><a href="#" class="text-decoration-none" ><span class="icon-copy"></span></a></button>
                      </li>
                      <li></li>
                    </ul>
                    <a href="table-slide-02" class="table-slide-opener">
                      <span class="icon-chevron-down"></span>
                    </a>
                  </div>
                </td>

                <td class="project-details-col" id="table-slide-02">
                  <div class="table-flex-holder">
                    <div class="col">
                      <strong class="title">Number of people targeting:</strong>
                      <dl>
                        <dt>Female:</dt>
                        <dd>11,657</dd>
                      </dl>
                      <dl>
                        <dt>Male:</dt>
                        <dd>12,765</dd>
                      </dl>
                    </div>
                    <div class="col">
                      <div class="input-check-holder">
                        <input type="checkbox" id="table-check-18" checked />
                        <label for="table-check-18">
                          <span class="input"></span>
                          <span class="text">HRP project</span>
                        </label>
                      </div>
                    </div>
                    <div class="col">
                      <dl>
                        <dt>Activity types:</dt>
                        <dd>Flood</dd>
                      </dl>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="pagination-holder">
      <div class="select-field view-options">
        <label>View</label>
        <select name="view" id="view" class="custom-select">
          <option value="all">All</option>
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
        </select>
      </div>
      <div class="pagination-wrapper">
        <ul class="pagination">
          <li class="page-item prev disabled"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item current-page"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="sep"><span>...</span></li>
          <li class="page-item"><a class="page-link" href="#">10</a></li>
          <li class="page-item"><a class="page-link" href="#">11</a></li>
          <li class="page-item next"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}