{% extends "email_templates/email_base.html" %}

{% load i18n %}{% autoescape off %}

{% block email-title %}
    Password Reset Request 
{% endblock email-title %}

{% block email-body %}
 <tr>
    <td style="padding:0 0 21px;
                font:12px/14px Arial, Helvetica, sans-serif;
                color:#6d6e71;
                letter-spacing:-0.12px">
        {% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}
        {% translate "Please go to the following page and choose a new password:" %}
    </td>
</tr>
 <tr>
    <td style="padding:0 0 21px;
        font:12px/14px Arial, Helvetica, sans-serif;
        color:#6d6e71;
        letter-spacing:-0.12px">
        {% block reset_link %}
            {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        {% endblock %}
    </td>
</tr>
<tr>
    <td style="padding:0 0 21px;
            font:12px/14px Arial, Helvetica, sans-serif;
            color:#6d6e71;
            letter-spacing:-0.12px">
        {% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}
    </td>
</tr>
{% endautoescape %}

{% endblock email-body %}

