{% extends "projects/views/projects_view_base.html" %}
{% block table_body %}
    <tbody>
        {% for project in completed_projects %}
            <tr onclick="window.location.href='{% url 'view_project' project.id %}'">
                <td class="cluster-col">
                    <div class="table-flex-holder">
                        <div class="input-check-holder">
                            <input type="checkbox" id="table-check-11" name="table-check11" />
                            <label for="table-check-11">
                                <span class="input"></span>
                            </label>
                        </div>
                        {% for cluster in project.clusters.all %}{{ cluster.title }},{% endfor %}
                    </div>
                </td>
                <td class="title-col">{{ project.title }}</td>
                <td class="organisation-col">
                    {% for partner in project.implementing_partners.all %}{{ partner.code }}{% endfor %}
                </td>
                <td class="update-date-col">{{ project.updated_at }}</td>
                <td class="location-col">
                    {% for location in project.locations.all %}{{ location.name }},{% endfor %}
                </td>
                <td class="description-col">{{ project.description }}</td>
                <td class="action-col">
                    <div class="table-flex-holder">
                        <ul class="table-options-buttons">
                            <li>
                                <button>
                                    <a class="text-decoration-none"
                                       href="{% url 'update_project' project.id %}"><span class="icon-pen"></span></a>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <a href="{% url 'delete_project' project.pk %}"
                                       class="text-decoration-none"><span class="icon-trashbin"></span></a>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <a href="{% url 'copy_project' project.pk %}"
                                       class="text-decoration-none"><span class="icon-copy"></span></a>
                                </button>
                            </li>
                        </ul>
                        <a href="table-slide-01" class="table-slide-opener">
                            <span class="icon-chevron-down"></span>
                        </a>
                    </div>
                </td>
                <td class="project-details-col" id="table-slide-01">
                    <div class="table-flex-holder">
                        <div class="col">
                            <strong class="title">Number of people targeting:</strong>
                            <dl>
                                <dt>Female:</dt>
                                <dd>
                                    11,657
                                </dd>
                            </dl>
                            <dl>
                                <dt>Male:</dt>
                                <dd>
                                    12,765
                                </dd>
                            </dl>
                        </div>
                        <div class="col">
                            <div class="input-check-holder">
                                <input type="checkbox" id="table-check-18" checked />
                                <label for="table-check-18">
                                    <span class="input"></span>
                                    <span class="text">HRP project</span>
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <dl>
                                <dt>Activity types:</dt>
                                <dd>
                                    Flood
                                </dd>
                            </dl>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock table_body %}
{% block pager %}
    {% if completed_projects %}
        <div class="pagination-holder">
            <div class="select-field view-options"></div>
            <div class="pagination-wrapper">
                <ul class="pagination">
                    {% if completed_projects.has_previous %}
                        <li class="page-item prev">
                            <a class="page-link"
                               href="?page={{ completed_projects.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item prev disabled">
                            <a class="page-link" href="#">Previous</a>
                        </li>
                    {% endif %}
                    {% for i in total_pages %}
                        <li class="page-item {% if completed_projects.number == forloop.counter %}current-page{% endif %}">
                            <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                        </li>
                    {% endfor %}
                    {% if completed_projects.has_next %}
                        <li class="page-item next">
                            <a class="page-link"
                               href="?page={{ completed_projects.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item next disabled">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% else %}
        <div class="view_nocontent">
            <div class="nocontent_help">
                <h4>No projects found. Let's create one!</h4>
                <p>Click on 'Add New Project' and start planning.</p>
            </div>
        </div>
    {% endif %}
{% endblock pager %}
