<tr data-url="{% url 'view_project' project.id %}">
    <td class="cluster-col">
        <div class="table-flex-holder">
            <div class="input-check-holder">
                <input type="checkbox" id="table-check-11" name="table-check11" />
                <label for="table-check-11">
                    <span class="input"></span>
                </label>
            </div>
            {% for cluster in project.clusters.all %}{{ cluster.title }},{% endfor %}
        </div>
    </td>
    <td class="title-col">{{ project.title }}</td>
    <td class="organisation-col">
        {% for partner in project.implementing_partners.all %}{{ partner.code }}{% endfor %}
    </td>
    <td class="update-date-col">{{ project.updated_at }}</td>
    <td class="location-col">
        {% for location in project.locations.all %}{{ location.name }},{% endfor %}
    </td>
    <td class="description-col">{{ project.description }}</td>
    <td class="action-col">
        <div class="table-flex-holder">
            <ul class="table-options-buttons ">
                <li>
                    <button>
                        {% if project.active %}
                            <a href="#"
                               data-url="{% url 'archive_project' project.pk %}"
                               data-return-url="{% url 'draft_projects' %}"
                               data-type="archive"
                               data-project="{{ project.title }}"
                               class="text-decoration-none show_confirm"
                               title="Archive this project!">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="archive-icon"
                                     width="22"
                                     height="22"
                                     viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M3 3h18v4H3V3m1 18V8h16v13H4m10-7v-3h-4v3H7l5 5l5-5h-3Z" />
                                </svg>
                            </a>
                        {% else %}
                            <a href="#"
                               data-url="{% url 'unarchive_project' project.pk %}"
                               data-return-url="{% url 'draft_projects' %}"
                               data-type="unarchive"
                               data-project="{{ project.title }}"
                               class="text-decoration-none show_confirm"
                               title="Unarchive this project!">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="22"
                                     height="22"
                                     viewBox="0 0 36 36">
                                    <path fill="currentColor" d="M18 21a3 3 0 0 1-2.22-1H5v12a2 2 0 0 0 2 2h22a2 2 0 0 0 2-2V20H20.21A3 3 0 0 1 18 21Zm4 3a1 1 0 0 1-1 1h-6a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1Z" class="clr-i-solid clr-i-solid-path-1" />
                                    <path fill="currentColor" d="M15 12H5.5A1.5 1.5 0 0 0 4 13.5V18h11Z" class="clr-i-solid clr-i-solid-path-2" />
                                    <path fill="currentColor" d="M30.5 12H21v6h11v-4.5a1.5 1.5 0 0 0-1.5-1.5Z" class="clr-i-solid clr-i-solid-path-3" />
                                    <path fill="currentColor" d="m13 9.55l4-3.95V18a1 1 0 1 0 2 0V5.6l4 3.95a1 1 0 1 0 1.41-1.42L18 1.78l-6.39 6.35A1 1 0 0 0 13 9.55Z" class="clr-i-solid clr-i-solid-path-4" />
                                    <path fill="none" d="M0 0h36v36H0z" />
                                </svg>
                            </a>
                        {% endif %}
                    </button>
                </li>
                <li>
                    <button>
                        <a href="#"
                           data-url="{% url 'copy_project' project.pk %}"
                           data-return-url="{% url 'draft_projects' %}"
                           data-type="copy"
                           data-project="{{ project.title }}"
                           class="text-decoration-none show_confirm"
                           title="Duplicate this project!">
                            <span class="project-detail icon-copy"></span>
                        </a>
                    </button>
                </li>
                <li>
                    <button>
                        <a href="#"
                           data-url="{% url 'delete_project' project.pk %}"
                           data-return-url="{% url 'draft_projects' %}"
                           data-type="delete"
                           data-project="{{ project.title }}"
                           class="text-decoration-none show_confirm"
                           title="Delete this project!"><span class="project-detail icon-trashbin"></span></a>
                    </button>
                </li>
            </ul>
            <a href="table-slide-{{ forloop.counter0 }}"
               class="table-slide-opener"
               onclick="event.stopPropagation();">
                <span class="icon-chevron-down"></span>
            </a>
        </div>
    </td>
    <td class="project-details-col" id="table-slide-{{ forloop.counter0 }}">
        <div class="table-flex-holder">
            <div class="col">
                <strong class="title">Number of people targeting:</strong>
                <dl>
                    <dt>Female:</dt>
                    <dd>
                        1000
                    </dd>
                </dl>
                <dl>
                    <dt>Male:</dt>
                    <dd>
                        12,765
                    </dd>
                </dl>
            </div>
            <div class="col">
                <div class="input-check-holder">
                    <input type="checkbox" id="table-check-18" checked />
                    <label for="table-check-18">
                        <span class="input"></span>
                        <span class="text">HRP project</span>
                    </label>
                </div>
            </div>
            <div class="col">
                <dl>
                    <dt>Activity types:</dt>
                    <dd>
                        Flood
                    </dd>
                </dl>
            </div>
        </div>
    </td>
</tr>
