{% extends "_base.html" %}
{% load static %}
{% load compress %}
{% block page_title %}
    ReportHub -
    Projects
{% endblock page_title %}
{% block content %}
    <div class="container">
        <div class="breadcrumbs-nav-panel">
            <div class="holder">
                <ul class="breadcrumbs">
                    <li>
                        <a id="return-url" href="{% url parent_page %}">
                            {% if project.state == 'in-progress' %}
                                ACTIVE PROJECTS
                            {% elif project.state == 'draft' %}
                                DRAFT PROJECTS
                            {% else %}
                                COMPLETED PROJECTS
                            {% endif %}
                        </a>
                    </li>
                    {% if project %}
                        <li class="current">{{ project.code }}</li>
                    {% else %}
                        <li>New Project</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="project-options-panel">
            <div class="top-block">
                <ul class="project-breadcrumbs">
                    <li>
                        {% if user.profile.country %}{{ user.profile.country }}{% endif %}
                    </li>
                    <li>{{ project.code }}</li>
                    <li>
                        {% for cluster in project.clusters.all %}
                            {{ cluster.title }}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </li>
                </ul>
                <a href="{% url 'update_project' project.pk %}" class="btn btn-red">Edit</a>
            </div>
            <div class="bottom-block">
                <div class="actions-panel">
                    <a href="#" class="btn btn-gray"><span class="btn-text">Upload Document</span><span class="icon-upload"></span></a>
                    <div class="export-formats-holder">
                        <a href="#" class="btn btn-gray export-open">
                            <span class="btn-text">Export</span>
                            <span class="icon-download"></span>
                        </a>
                        <div class="export-formats">
                            <span class="title">File format</span>
                            <ul class="formats-list">
                                <li>
                                    <div class="input-check-holder">
                                        <input type="radio" id="radio1" name="exportFormat" />
                                        <label for="radio1">
                                            <span class="input"></span>
                                            <span class="text">Docs</span>
                                        </label>
                                        <input type="radio" id="radio2" name="exportFormat" />
                                    </div>
                                </li>
                                <li>
                                    <div class="input-check-holder">
                                        <label for="radio2">
                                            <span class="input"></span>
                                            <span class="text">CVS</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="input-check-holder">
                                        <input type="radio" id="radio3" name="exportFormat" />
                                        <label for="radio3">
                                            <span class="input"></span>
                                            <span class="text">Excel</span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="input-check-holder">
                                        <input type="radio" id="radio4" name="exportFormat" />
                                        <label for="radio4">
                                            <span class="input"></span>
                                            <span class="text">PDF</span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="#"
                       data-url="{% url 'copy_project' project.pk %}"
                       class="btn btn-gray"><span class="btn-text">Copy Project</span><span class="icon-copy-outline"></span></a>
                    <a href="#"
                       id="delete-project"
                       data-url="{% url 'delete_project' project.pk %}"
                       class="btn btn-gray show_confirm">
                        <span class="btn-text">Delete</span>
                        <span class="icon-trashbin-outline"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="project-plan read-only">
            <div class="row">
                <div class="col">
                    <div class="input-field">
                        <label>Project title</label>
                        <div class="input-holder">
                            <span class="text-read-only">{{ project.title }}</span>
                        </div>
                    </div>
                    <div class="input-field">
                        <label>Project code</label>
                        <div class="input-holder">
                            <span class="text-read-only" id="project-code">{{ project.code }}</span>
                        </div>
                    </div>
                    <div class="select-field is-required">
                        <label>Clusters</label>
                        <span class="text-read-only m2m-badges">
                            {% for cluster in project.clusters.all %}<span class="btn btn-red">{{ cluster.title }}</span>{% endfor %}
                        </span>
                    </div>
                    <div class="select-field is-required">
                        <label>Project donor</label>
                        <span class="text-read-only m2m-badges">
                            {% for donor in project.donors.all %}<span class="btn btn-red">{{ donor.name }}</span>{% endfor %}
                        </span>
                    </div>
                    <div class="select-field is-required">
                        <label>Implementing Partners</label>
                        <span class="text-read-only m2m-badges">
                            {% for implementing_partner in project.implementing_partners.all %}
                                <span class="btn btn-red">{{ implementing_partner.code }}</span>
                            {% endfor %}
                        </span>
                    </div>
                    <div class="select-field is-required">
                        <label>Programme Partners</label>
                        <span class="text-read-only ">
                            {% for programme_partner in project.programme_partners.all %}
                                <span class="btn btn-red">{{ programme_partner.code }}</span>
                            {% endfor %}
                        </span>
                    </div>
                </div>
                <div class="col col-sm">
                    <div class="date-picker-field">
                        <div class="date start">
                            <label>Start Date</label>
                            <span class="text-read-only">{{ project.start_date | date:'d M, Y' }}</span>
                        </div>
                        <div class="date end">
                            <label>End Date</label>
                            <span class="text-read-only">{{ project.end_date | date:'d M, Y' }}</span>
                        </div>
                    </div>
                    <div class="multiple-fields-row">
                        <div class="field-col">
                            <div class="input-field">
                                <label>Project budget</label>
                                <div class="input-holder">
                                    <span class="text-read-only">{{ project.budget }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="field-col">
                            <label>Currency</label>
                            <div class="select-field is-required">
                                <span class="text-read-only">{{ project.budget_currency }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="multiple-fields-row">
                        <div class="field-col">
                            <div class="input-field">
                                <label>Budget Received</label>
                                <div class="input-holder">
                                    <span class="text-read-only">{{ project.budget_received }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-field">
                                <label>Budget Gap</label>
                                <div class="input-holder">
                                    <span class="text-read-only">{{ project.budget_gap }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="multiple-fields-row">
                        <div class="field-col">
                            <div class="input-check-holder">
                                {% if project.is_hrp_project %}
                                    <input type="checkbox" disabled checked />
                                {% else %}
                                    <input type="checkbox" disabled />
                                {% endif %}
                                <label>
                                    <span class="input"></span>
                                    <span class="text">HRP project?</span>
                                </label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-check-holder">
                                {% if project.has_hrp_code %}
                                    <input type="checkbox" disabled checked />
                                {% else %}
                                    <input type="checkbox" disabled />
                                {% endif %}
                                <label>
                                    <span class="input"></span>
                                    <span class="text">HRP Code?</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="input-field">
                        <label>HRP project code</label>
                        <div class="input-holder">
                            <span class="text-read-only">{{ project.hrp_code }}</span>
                        </div>
                    </div>
                </div>
                <div class="col col-lg">
                    <div class="select-field is-required">
                        <label>Activity Domains</label>
                        <span class="text-read-only m2m-badges">
                            {% for activity_domain in project.activity_domains.all %}
                                <span class="btn btn-red">{{ activity_domain.name }}</span>
                            {% endfor %}
                        </span>
                    </div>
                    <div class="select-field">
                        <label>Focal point</label>
                        <div class="input-holder">
                            <span class="text-read-only">
                                {% if project.user.first_name %}{{ project.user.first_name }}{% endif %}
                                {% if project.user.last_name %}{{ project.user.last_name }}{% endif %}
                                {% if project.user.username %}| {{ project.user.username }}{% endif %}
                                {% if project.user.profile.position %}| {{ project.user.profile.position }}{% endif %}
                                {% if project.user.profile.phone %}| {{ project.user.profile.phone }}{% endif %}
                                {% if project.user.email %}| {{ project.user.email }}{% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="input-field is-required">
                        <label>Project description &amp; objectives</label>
                        <div class="input-holder">{{ project.description | linebreaksbr }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="activity-planning read-only">
            <div class="activity-block-holder">
                <div class="top-activity-block">
                    <span class="activity-title">Activity Planning</span>
                    <button type="button"
                            id="fold-unfold-all"
                            class="btn btn-gray-outline fold-unfold-all-details project-view-fold-unfold-buttons">
                        <span class="icon-chevron-up up hidden" id="fold-icon-up"></span>
                        <span class="icon-chevron-down down" id="fold-icon-down"></span>
                        <span class="btn-text hidden" id="all-fold">Collapse All</span>
                        <span class="btn-text" id="all-unfold">Expand All</span>
                    </button>
                </div>
                <div class="review-subtitle-holder">
                    <div>
                        <span class="subtitle">Target Populations</span>
                    </div>
                </div>
            </div>
        </div>
        {% for activity_plan in activity_plans %}
            <div>
                <div class="activity-planning read-only">
                    <div class="activity-block-holder js-collapse-expand">
                        <div class="inner-holder">
                            <div class="review-block-top">
                                <span class="title">
                                    {{ activity_plan.activity_domain }},
                                    {{ activity_plan.activity_type }}, {{ activity_plan.activity_detail }}
                                </span>
                                <div class="block-activity">
                                    <span class="people">
                                        <span class="icon-group"></span>
                                        {{ activity_plan.total }}
                                    </span>
                                </div>
                            </div>
                            <div id="form-{{ forloop.counter0 }}-details">
                                <div class="row">
                                    <div class="col">
                                        <div class="multiple-fields-row two-items">
                                            <div class="field-col">
                                                <div class="select-field">
                                                    <label>Activity Domain</label>
                                                    <span class="text-read-only">{{ activity_plan.activity_domain }}</span>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="select-field">
                                                    <label>Activity Type</label>
                                                    <span class="text-read-only">{{ activity_plan.activity_type }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        {% if activity_plan.activity_detail %}
                                            <div class="select-field">
                                                <label>Activity Details</label>
                                                <span class="text-read-only">{{ activity_plan.activity_detail }}</span>
                                            </div>
                                        {% endif %}
                                        <div class="select-field">
                                            <label>Indicators</label>
                                            {% for indicator in activity_plan.indicators.all %}
                                                <span class="text-read-only">
                                                    {{ indicator.name }}
                                                    <br />
                                                </span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="multiple-fields-row">
                                            <div class="field-col">
                                                <div class="select-field">
                                                    <label>Beneficiary</label>
                                                    <span class="text-read-only">{{ activity_plan.beneficiary }}</span>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="select-field">
                                                    <label>Beneficiary Category</label>
                                                    <span class="text-read-only">{{ activity_plan.beneficiary_category }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-lg">
                                        <div class="input-field is-required">
                                            <label>Activity Description</label>
                                            <div class="input-holder">
                                                <span class="text-read-only">{{ activity_plan.description | linebreaksbr }}</span>
                                            </div>
                                        </div>
                                        <div class="multiple-fields-row">
                                            <div class="field-col">
                                                <div class="input-check-holder">
                                                    {% if activity_plan.facility_monitoring %}
                                                        <input type="checkbox" disabled checked />
                                                    {% else %}
                                                        <input type="checkbox" disabled />
                                                    {% endif %}
                                                    <label>
                                                        <span class="input"></span>
                                                        <span class="text">Facility / Site Monitoring?</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-check-holder">
                                                    {% if activity_plan.age_desegregation %}
                                                        <input type="checkbox" disabled checked />
                                                    {% else %}
                                                        <input type="checkbox" disabled />
                                                    {% endif %}
                                                    <label>
                                                        <span class="input"></span>
                                                        <span class="text">Gender / Age Desegregation?</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if activity_plan.facility_monitoring %}
                                        <div class="col col-lg">
                                            <div class="multiple-fields-row two-items">
                                                <div class="field-col">
                                                    <div class="input-field">
                                                        <div class="select-field">
                                                            <label>Facility / Site Type</label>
                                                            <span class="text-read-only">{{ activity_plan.facility_type }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field-col">
                                                    <div class="input-field">
                                                        <label>Facility / Site Name</label>
                                                        <span class="text-read-only">{{ activity_plan.facility_name }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="multiple-fields-row three-items"
                                                 id="{{ form.prefix }}_facility_details_2">
                                                <div class="field-col">
                                                    <div class="input-field">
                                                        <label>Facility / Site ID</label>
                                                        <span class="text-read-only">{{ activity_plan.facility_id }}</span>
                                                    </div>
                                                </div>
                                                <div class="field-col">
                                                    <div class="input-field">
                                                        <label>Facility / Site Latitude</label>
                                                        <span class="text-read-only">{{ activity_plan.facility_lat }}</span>
                                                    </div>
                                                </div>
                                                <div class="field-col">
                                                    <div class="input-field">
                                                        <label>Facility / Site Longitude</label>
                                                        <span class="text-read-only">{{ activity_plan.facility_long }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if activity_plan.age_desegregation %}
                                        <div class="col col-lg">
                                            <div class="statistic-table-holder">
                                                <table class="statistic-table">
                                                    <thead>
                                                        <tr>
                                                            <th>Gender / Age</th>
                                                            <th>0-5</th>
                                                            <th>6-12</th>
                                                            <th>12-17</th>
                                                            <th>18+</th>
                                                            <th>Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Female</td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.female_0_5 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.female_6_12 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.female_12_17 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.female_18 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.female_total }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Male</td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.male_0_5 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.male_6_12 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.male_12_17 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.male_18 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.male_total }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="other">Other/Unknown</td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.other_0_5 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.other_6_12 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.other_12_17 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.other_18 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.other_total }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total</td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.total_0_5 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.total_6_12 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.total_12_17 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.total_18 }}</span>
                                                            </td>
                                                            <td>
                                                                <span class="text-read-only text-center">{{ activity_plan.total }}</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="target-location read-only">
            <div class="main-activity-holder">
                <div class="top-activity-block">
                    <span class="activity-title">Targeted Locations</span>
                </div>
            </div>
            <!-- TODO: Add the toggles for locations as will -->
            {% for target_location in target_locations %}
                <div class="location-block-holder js-collapse-expand">
                    <div class="inner-holder">
                        <div class="block-top">
                            <span class="title">
                                {% if target_location.province %}{{ target_location.province }},{% endif %}
                                {{ target_location.district }}
                            </span>
                            <span class="subtitle">{{ target_location.site_name }}</span>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <div class="multiple-fields-row three-items">
                                        <div class="field-col">
                                            <div class="select-field is-required">
                                                <label>Province</label>
                                                <span class="text-read-only">{{ target_location.province }}</span>
                                            </div>
                                        </div>
                                        <div class="field-col">
                                            <div class="input-field">
                                                <label>District</label>
                                                <div class="input-holder">
                                                    <span class="text-read-only">{{ target_location.district }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field-col">
                                            <div class="select-field">
                                                <label>Location Type</label>
                                                <span class="text-read-only">{{ target_location.location_type }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="multiple-fields-row three-items">
                                        <div class="field-col">
                                            <div class="select-field">
                                                <label>Site Name</label>
                                                <span class="text-read-only">{{ target_location.site_name }}</span>
                                            </div>
                                        </div>
                                        <div class="field-col">
                                            <div class="input-field">
                                                <label>Site Latitude</label>
                                                <div class="input-holder">
                                                    <span class="text-read-only">{{ target_location.site_lat }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field-col">
                                            <div class="input-field">
                                                <label>Site Longitude</label>
                                                <div class="input-holder">
                                                    <span class="text-read-only">{{ target_location.site_long }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
