{% extends 'email_templates/email_base.html' %}

{% block email-body %}

    <mj-text align="center" color="#55575d" font-family="Arial, sans-serif" font-size="14px" line-height="28px" padding="0px 25px 0px 25px">
        Hi {{ user.name }},
        Please click on the link below to complete your registration:
    </mj-text>
    <mj-button background-color="#A72824" align="center" color="#ffffff" font-size="15px" href="{{ protocol }}://{{ domain }}{% url 'activate_account' uidb64=uid token=token %}" width="200px">
        Verify Email
    </mj-button>

{% endblock email-body %}