{% extends '_base.html' %}

{% block content %}


<div class="container px-4 px-lg-5 h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-4 align-self-end">
            <h1 class="m-5">Report Hub</h1>
            {% if form.errors %}
            {{ form.errors }}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <p>Humanitarian Decision Support in Real-Time</p>
            <p>Sign into your account</p>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" class="form-control" placeholder="Username">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}" placeholder="Password">
                </div>
                <div class="mb-3 d-grid">
                    <input type="submit" class="btn btn-outline-dark" value="Sign in"></input>
                </div>
            </form>
            <p class="mb-0">Forgot your passowrd?</p>
        </div>
    </div>
</div>

{% endblock %}