{% extends "_base.html" %}
{% load static %}
{% block content %}
    <div class="login-section base-section">
        <div class="decor-holder">
            <img src="{% static 'rh/images/login-decor.png' %}" alt="Login" />
        </div>
        <div class="container">
            <div class="section-heading">
                <h1 class="title">Reset Password</h1>
            </div>
            <form method="post" action="#" class="login-form">
                <div class="form-holder">
                    {% csrf_token %}
                    {{ form }}
                    <div class="btn-holder">
                        <button type="submit" class="btn btn-red">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
