{% extends '_base.html' %}
{% load static %}

{% block content %}

<div class="login-section base-section">
    <div class="decor-holder">
        <img src="{% static 'rh/images/login-decor.png' %}" alt="Login"/>
    </div>

    <div class="container">
        <div class="section-heading">
            <h1 class="title">Password Reset Complete</h1>
            <div class="description">
                <div class="text">
                    <p>
                        Your password has been set. you may go ahead and log in now.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="form-link-holder text-center">
        <a href="{% url 'login' %}" class="btn btn-red">Login</a>
    </div>
</div>
{% endblock %}