{% extends '_base.html' %}

{% block content %}

<div class="container px-4 px-lg-5 h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-4 align-self-end">
            <h1 class="m-5">Report Hub</h1>
            <h3>Password reset complete</h3>
            <p>Your password has been set. you may go ahead and log in now.</p>
            <br class="clear">
            <a class="btn btn-outline-dark" href="{% url 'login' %}">Login</a>

        </div>
    </div>
</div>
{% endblock %}