{% extends '_base.html' %}
{% load static %}

{% block content %}

<div class="login-section base-section">
    <div class="decor-holder">
        <img src="{% static 'rh/images/login-decor.png' %}" alt="Login"/>
    </div>

    <div class="container">
        <div class="section-heading">
            <h1 class="title">Reset Password</h1>

            <div class="description">
                <div class="text">
                    <p>
                        Enter your email address below, and we’ll email instructions for setting a new one.
                    </p>
                </div>
            </div>
        </div>
        <form method="POST" action="#" class="login-form">
            <div class="form-holder">
                {% csrf_token %}
                {{form.as_p}}

                <div class="btn-holder">
                    <button type="submit" class="btn btn-red">Login</button>
                </div>
                <div class="form-link-holder text-center">
                    <a href="{% url 'login' %}" class="form-link">Back to Login Page</a>
                </div>

            </div>
        </form>
    </div>
</div>
{% endblock %}