{% comment %} ==================================== {% endcomment %}
<div class="filter-holder">
    
    <a href="#" class="btn btn-gray filter-open"> <span class="btn-text">Export</span> <span class="icon-download"></span> </a>
   
    <div class="filter-options p-8">
        <div class="block-top">
            <span class="title">Export</span>
            <a class="filter-close" href="#"></a>
        </div>
        <div class="export-format">
            <div class="custome-text">File Format</div>
            <div class="file-format">
                <p class="format-description">select file format</p>
                <input type="radio" name="file-format" id="excel-file" class="file-format" value="xlsx">
                <label for="excel-file" class="excel-file">Excel</label>
                <input type="radio" name="file-format" id="csv-file" class="file-format" value="csv">
                <label for="csv-file">CSV</label>
            </div>
            <div class="file-format-error">
                <span class="icon-info"></span>please select the file format.
            </div>
        </div>
        <div class="text-color-red">
            <span id="selectedCount"></span> 
            <span>&nbsp;fields selected</span>
        </div>
        <div class="summary project-planning">
            {% if not project.state == "draft" %}
            Custom Data Export
            {% else %}
            <span style="color:#a54824;font-size: 14px;">
                <svg xmlns="http://www.w3.org/2000/svg"width="13"height="13" viewBox="0 0 512 512">
                    <path fill="#a52824" 
                    d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 
                    12.4 7.3 27.7 .2 40.1S486.3 480 472 480L40 480c-14.3 
                    0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 
                    39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24l0 
                    112c0 13.3 10.7 24 24 24s24-10.7 24-24l0-112c0-13.3-10.7-24-24-24zm32 224a32 
                    32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
                Unable to Download Draft Project.
            </span>
            {% endif %}
            <span class="project-chevron"></span>
        </div>
        <div class="details-container">
            <div class="block-body">
                <small class="label">Available fields:</small>
                <div class="vertical-scroll">
                    <div class="field-col">
                        <div class="input-holder ">
                            <input type="checkbox" class="select-all" id="project-plan">
                            <label for="project-plan" class="input-paragraph-content">Project Planning</label>
                        </div>
                    </div>
                    {% if project.title %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="title"
                                       class="input-check project-check"
                                       name="title"
                                       value="{{ project.id }}">
                                <label for="title">Title</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.code %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="code"
                                       class="input-check project-check"
                                       name="code"
                                       value="{{ project.id }}">
                                <label for="code">Code</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.user %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="user"
                                       class="input-check project-check"
                                       name="user"
                                       value="{{ project.id }}">
                                <label for="user">Focal Point</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.state %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="state"
                                       class="input-check project-check"
                                       name="state"
                                       value="{{ project.id }}">
                                <label for="state">State</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.budget %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="budget"
                                       class="input-check project-check"
                                       name="budget"
                                       value="{{ project.id }}">
                                <label for="budget">Budget</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.budget_currency %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="budgetCurrency"
                                       class="input-check project-check"
                                       name="budget_currency"
                                       value="{{ project.id }}">
                                <label for="budgetCurrency">Budget Currency</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.budget_received %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="budgetReceived"
                                       class="input-check project-check"
                                       name="budget_received"
                                       value="{{ project.id }}">
                                <label for="budgetReceived">Received Budget</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.budget_gap %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="budgetGap"
                                       class="input-check project-check"
                                       name="budget_gap"
                                       value="{{ project.id }}">
                                <label for="budgetGap">Budget Gap</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.is_hrp_project %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="isHRPProject"
                                       class="input-check project-check"
                                       name="is_hrp_project"
                                       value="{{ project.id }}">
                                <label for="isHRPProject">Is HRP Project</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.start_date %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="startDate"
                                       class="input-check project-check"
                                       name="start_date"
                                       value="{{ project.id }}">
                                <label for="startDate">Start Date</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.end_date %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="endDate"
                                       class="input-check project-check"
                                       name="end_date"
                                       value="{{ project.id }}">
                                <label for="endDate">End Date</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.description %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="description"
                                       class="input-check project-check"
                                       name="pdescription"
                                       value="{{ project.id }}">
                                <label for="description">Description</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.donors %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="clusters"
                                       class="input-check project-check"
                                       name="clusters"
                                       value="{{ project.id }}">
                                <label for="clusters">Project Clusters</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.donors %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="donors"
                                       class="input-check project-check"
                                       name="donors"
                                       value="{{ project.id }}">
                                <label for="donors">Project Donors</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.implementing_partners %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="implementing_partners"
                                       class="input-check project-check"
                                       name="implementing_partners"
                                       value="{{ project.id }}">
                                <label for="implementing_partners">Project Implementing Partners</label>
                            </div>
                        </div>
                    {% endif %}
                    {% if project.programme_partners %}
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="programme_partners"
                                       class="input-check project-check"
                                       name="programme_partners"
                                       value="{{ project.id }}">
                                <label for="programme_partners">Project Programme Partners</label>
                            </div>
                        </div>
                    {% endif %}
                    <div class="field-col">
                        <div class="input-holder ">
                            <input type="checkbox" class="select-all" id="activity-plan">
                            <label for="activity-plan" class="input-paragraph-content">Project Planning</label>
                        </div>
                    </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="activityDomain"
                                       class="input-check activity-check"
                                       name="activity_domain"
                                       value="{{ project.id }}">
                                <label for="activityDomain">Activity Domain</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="activityType"
                                       class="input-check activity-check"
                                       name="activity_type"
                                       value="{{ project.id }}">
                                <label for="activityType">Activity Type</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="activityDetail"
                                       class="input-check activity-check"
                                       name="activity_detail"
                                       value="{{ project.id }}">
                                <label for="activityDetail">Activity Detail</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="indicator"
                                       class="input-check activity-check"
                                       name="indicator"
                                       value="{{ project.id }}">
                                <label for="indicator">Indicators</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="beneficiary"
                                       class="input-check activity-check"
                                       name="beneficiary"
                                       value="{{ project.id }}">
                                <label for="beneficiary">Beneficiary</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="hrp_beneficiary"
                                       class="input-check activity-check"
                                       name="hrp_beneficiary"
                                       value="{{ project.id }}">
                                <label for="hrp_beneficiary">HRP Beneficiary</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="beneficiaryCategory"
                                       class="input-check activity-check"
                                       name="beneficiary_category"
                                       value="{{ project.id }}">
                                <label for="beneficiaryCategory">Beneficiary Category</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="ActivityDescription"
                                       class="input-check activity-check"
                                       name="description"
                                       value="{{ project.id }}">
                                <label for="ActivityDescription">Activity Description</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder ">
                                <input type="checkbox" class="select-all" id="target-location">
                                <label for="target-location" class="input-paragraph-content">Project Target Location</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="admin0code"
                                       class="input-check targetlocation-check"
                                       name="admin0code"
                                       value="{{ project.id }}">
                                <label for="admin0code">Admin0code</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="admin0name"
                                       class="input-check targetlocation-check"
                                       name="admin0name"
                                       value="{{ project.id }}">
                                <label for="admin0name">Admin0name</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="admin1code"
                                       class="input-check targetlocation-check"
                                       name="admin1code"
                                       value="{{ project.id }}">
                                <label for="admin1code">Admin1code</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="admin1name"
                                       class="input-check targetlocation-check"
                                       name="admin1name"
                                       value="{{ project.id }}">
                                <label for="admin1name">Admin1name</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="admin2code"
                                       class="input-check targetlocation-check"
                                       name="admin2code"
                                       value="{{ project.id }}">
                                <label for="admin2code">Admin2code</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="admin2name"
                                       class="input-check targetlocation-check"
                                       name="admin2name"
                                       value="{{ project.id }}">
                                <label for="admin2name">Admin2name</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="nhs_code"
                                       class="input-check targetlocation-check"
                                       name="nhs_code"
                                       value="{{ project.id }}">
                                <label for="nhs_code">NHS Code</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="facility_site_type"
                                       class="input-check targetlocation-check"
                                       name="facility_site_type"
                                       value="{{ project.id }}">
                                <label for="facility_site_type">Facility Site Type</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="facility_monitoring"
                                       class="input-check targetlocation-check"
                                       name="facility_monitoring"
                                       value="{{ project.id }}">
                                <label for="facility_monitoring">Facility Monitoring</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="facility_site_id"
                                       class="input-check targetlocation-check"
                                       name="facility_id"
                                       value="{{ project.id }}">
                                <label for="facility_site_id">Facility Site Id</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="facility_site_name"
                                       class="input-check targetlocation-check"
                                       name="facility_name"
                                       value="{{ project.id }}">
                                <label for="facility_site_name">Facility Site Name</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="facility_site_lat"
                                       class="input-check targetlocation-check"
                                       name="facility_lat"
                                       value="{{ project.id }}">
                                <label for="facility_site_lat">Facility Site Latitude</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="facility_site_long"
                                       class="input-check targetlocation-check"
                                       name="facility_long"
                                       value="{{ project.id }}">
                                <label for="facility_site_long">Facility Site Longitude</label>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-holder">
                                <input type="checkbox"
                                       id="disaggregation"
                                       class="input-check targetlocation-check"
                                       name="disaggregation"
                                       value="{{ project.id }}">
                                <label for="disaggregation">Disaggregations</label>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="block-footer">
            <p id="not-checked-message" style="color:#a52824"></p>
            <div class="btn-wrapper">
                <div class="field-col">
                    <button class="btn btn-red" id="resetFilterButton">Reset</button>
                </div>
                <div class="field-col">
                    <button id="downloadFilterForm" class="btn btn-red" data-url="{% url 'export_project_filter' project.id %}">Download</button>
                </div>
            </div>
        </div>
    </div>
    <!-- </form> -->
</div>
{% if project.state == "draft" %}
    <script>document.querySelector("#downloadFilterForm").setAttribute("disabled", true);
        document.querySelectorAll("input[type=checkbox]").forEach(checkbox =>{
            checkbox.setAttribute("disabled",true);
        });
    </script>
{% endif %}
{% comment %} ==================================== {% endcomment %}
