{% if projects %}
    <div class="pagination-holder">
        <div class="select-field view-options"></div>
        <div class="pagination-wrapper">
            <ul class="pagination">
                <li class="page-item prev">
                    <a 
                        class="page-link {% if not projects.has_previous %} disabled {% endif %}" 
                        href="{% if projects.has_previous %} ?page={{ projects.previous_page_number }} {% else %} # {% endif %}"
                    >
                        Previous
                    </a>
                </li>

                {% for page_number in projects.adjusted_elided_pages %}
                    {% if page_number == projects.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        <li class="page-item {% if projects.number == forloop.counter %}current-page{% endif %}">
                            <a class="page-link" href="?page={{page_number}}">{{page_number}}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if projects.has_next %}
                    <li class="page-item next">
                        <a class="page-link" href="?page={{ projects.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
{% else %}
    <div class="view_nocontent">
        <div class="nocontent_help">
            <h4>No projects found. Let's create one!</h4>
            <p>Click on <a class="btn-red" href="{% url 'projects-create' %}">Add New Project</a> and start planning your new project.</p>
        </div>
    </div>
{% endif %}
