{% extends "_base.html" %}

{% load static %}

{% block page_title %}
    Delete Confirmation: {{project.title}}
{% endblock page_title %}


{% block content %}
<div class="container">
    <div class="breadcrumbs-nav-panel">
        <div class="holder">
            <ul class="breadcrumbs">
                <li>
                    <a href="{% url 'landing' %}">Home</a>
                </li>
                    <li>
                        <a id="return-url" href="{{request.GET.url}}?state={{project.state}}">
                            {% if project.state == 'in-progress' %}
                                Active Projects
                            {% elif project.state == 'draft' %}
                                Draft Projects
                            {% elif project.state == 'archive' %}
                                Archived Projects
                            {% elif project.state == 'done' %}
                                Completed Projects
                            {% endif %}
                        </a>
                    </li>   
                    <li class="current">{{ project.code }}</li>
            </ul>
        </div>
    </div>

 <div class="project-options-panel">
        <div class="top-block">
            <ul class="">
    <h3>Are you sure you want to delete the <em>{{ project.title }}</em>  poroject? All of the following related items will be deleted:</h3>
            </ul>
        </div>
    </div>
    

    <div class="project-plan read-only">
        <div class="row">
            <div class="col">
                <div class="input-field">
                    <span class="label">Project title</span>
                    <div class="input-holder">
                        <span id="title" class="text-read-only">{{ project.title }}</span>
                    </div>
                </div>
                <div class="input-field">
                    <span class="label">Project code</span>
                    <div class="input-holder">
                        <span class="text-read-only">{{ project.code }}</span>
                    </div>
                </div>
                <div class="select-field is-required">
                    <span class="label">Clusters</span>
                    <span class="text-read-only m2m-badges">
                        {% for cluster in project.clusters.all %}
                        <span class=""> {{ cluster.title }}</span>
                        {% endfor %}
                    </span>
                </div>
                <div class="select-field is-required">
                    <span class="label">Project donor</span>
                    <span class="text-read-only m2m-badges">
                        {% for donor in project.donors.all %}
                        <span class=""> {{ donor.name }}</span>
                        {% endfor %}
                    </span>
                </div>
                <div class="select-field is-required">
                    <span class="label">Implementing Partners</span>
                    <span class="text-read-only m2m-badges">
                        {% for implementing_partner in project.implementing_partners.all %}
                        <span class=""> {{ implementing_partner.code }}</span>
                        {% endfor %}
                    </span>
                </div>
                <div class="select-field is-required">
                    <span class="label">Programme Partners</span>
                    <span class="text-read-only m2m-badges">
                        {% for programme_partner in project.programme_partners.all %}
                        <span class=""> {{ programme_partner.code }}</span>
                        {% endfor %}
                    </span>
                </div>
            </div>
            <div class="col col-sm">
                <div class="date-picker-field">
                    <div class="date start">
                        <span class="label">Start Date</span>
                        <span class="text-read-only">{{ project.start_date | date:'d M, Y' }}</span>
                    </div>
                    <div class="date end">
                        <span class="label">End Date</span>
                        <span class="text-read-only">{{ project.end_date | date:'d M, Y' }}</span>
                    </div>
                </div>
                <div class="multiple-fields-row">
                    <div class="field-col">
                        <div class="input-field">
                            <span class="label">Project budget</span>
                            <div class="input-holder">
                                <span class="text-read-only">{{ project.budget }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="field-col">
                        <span class="label">Currency</span>
                        <div class="select-field is-required">
                            <span class="text-read-only">{{ project.budget_currency }}</span>
                        </div>
                    </div>
                </div>
                <div class="multiple-fields-row">
                    <div class="field-col">
                        <div class="input-field">
                            <span class="label">Budget Received</span>
                            <div class="input-holder">
                                <span class="text-read-only">{{ project.budget_received }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="field-col">
                        <div class="input-field">
                            <span class="label">Budget Gap</span>
                            <div class="input-holder">
                                <span class="text-read-only">{{ project.budget_gap }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="multiple-fields-row">
                    <div class="field-col">
                        <div class="input-field">
                            <span class="label">Is HRP Project?</span>
                            <div class="input-holder">
                                <span class="text-read-only">
                                    {% if project.is_hrp_project %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                  
                </div>
               
            </div>
            <div class="col col-lg">
                <div class="select-field is-required">
                    <span class="label">Activity Domains</span>
                    <span class="text-read-only m2m-badges">
                        {% for activity_domain in project.activity_domains.all %}
                        <span class=""> {{ activity_domain.name }}</span>
                        {% endfor %}
                    </span>
                </div>
                <div class="select-field">
                    <span class="label">Focal point</span>
                    <div class="input-holder">
                        <span class="text-read-only">
                            {% if project.user.first_name %} {{ project.user.first_name }} {% endif %}
                            {% if project.user.last_name %} {{ project.user.last_name }} {% endif %}
                            {% if project.user.username %} | {{ project.user.username }} {% endif %}
                            {% if project.user.email %} | {{ project.user.email }} {% endif %}
                        </span>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <form method="post" style="display: flex; align-items: end; justify-content: flex-end;">
        {% csrf_token %}
        <input type="submit" class="btn btn-gray" value="Yes, I’m sure">
        <a href="#" class="btn btn-red cancel-link">No, take me back</a>
    </form>
</div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'admin/js/cancel.js' %}" async></script>
{% endblock scripts %}