{% extends "_base.html" %}

{% load static %}
{% load compress %}

{% block page_title %}
    Projects - Organization
{% endblock page_title %}

{% block content %}
    <div class="container">
        <div class="projects-options-panel">
            <div class="holder">
                <div class="input-holder">
                    <h2>Your Oganization Projects</h1>
                </div>
                <ul class="buttons-list-inline">
                    <li>
                        <a href="{% url 'projects-create' %}" class="btn btn-red add-btn">New Project</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tabs-nav-holder">
            <ul class="tabs-nav">
                <li class=" {% if not request.GET.state  %}active{% endif %}">
                    <a href="{{request.path}}">All
                        ({{ projects_count }})
                    </a>
                </li>
                <li class=" {% if request.GET.state == 'in-progress' %}active{% endif %}">
                    <a href="{{request.GET.url}}?state=in-progress">Active 
                        (
                        {% if active_projects_count %}
                            {{ active_projects_count }}
                        {% endif %}
                        )
                    </a>
                </li>
                <li class=" {% if request.GET.state == 'draft' %}active{% endif %}">
                    <a href="{{request.GET.url}}?state=draft">Draft
                        (
                        {% if draft_projects_count %}
                            {{ draft_projects_count }}
                        {% endif %}
                        )
                    </a>
                </li>
                {% if completed_projects_count or completed_projects %}
                    <li class=" {% if request.GET.state == 'done' %}active{% endif %}">
                        <a href="{{request.GET.url}}?state=done">Done
                            (
                            {% if completed_projects_count %}
                                {{ completed_projects_count }}
                            {% endif %}
                            )
                        </a>
                    </li>
                {% endif %}
                {% if archived_projects_count or archived_projects %}
                    <li class=" {% if request.GET.state == 'archive' %}active{% endif %}">
                        <a href="{{request.GET.url}}?state=archive">Archived
                            (
                            {% if archived_projects_count %}
                                {{ archived_projects_count }}
                            {% endif %}
                            )
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        
        {% include "rh/projects/views/_projects_table.html" %}
    </div>
{% endblock content %}

{% block scripts %}    
    <script src="{% static 'src/js/utils/exportSW.js' %}"></script> 
{% endblock scripts %}