{% extends "_base.html" %}

{% load static %}
{% load compress %}

{% block title %}
    Projects - Organization
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="projects-options-panel">
            <div class="holder">
                <div class="input-holder">
                    <h2>
                        Your Oganization Projects
                    </h2>
                </div>
                <ul class="buttons-list-inline">
                    <li>
                        <a href="{% url 'projects-create' %}" class="btn btn-red add-btn">Create New Project</a>
                    </li>
                </ul>
            </div>
            <p class="bg-gray-f5 p-4 border border-gray-e6 rounded flex items-center gap-2">
                <span class="icon-info"></span>
                The below table displays the projects according to their status (Active, Draft, Completed, etc).
            </p>
        </div>

        <div class="tabs-nav-holder">
            <ul class="tabs-nav">
                <li class=" {% if not request.GET.state %}active{% endif %}">
                    <a href="{{ request.path }}">All
                        ({{ projects_count }})
                    </a>
                </li>
                <li class=" {% if request.GET.state == 'in-progress' %}active{% endif %}">
                    <a href="{{ request.GET.url }}?state=in-progress">Active
                        ({{ active_projects_count }})
                    </a>
                </li>
                <li class=" {% if request.GET.state == 'draft' %}active{% endif %}">
                    <a href="{{ request.GET.url }}?state=draft">Draft
                        ({{ draft_projects_count }})
                    </a>
                </li>
                    <li class=" {% if request.GET.state == 'completed' %}active{% endif %}">
                        <a href="{{ request.GET.url }}?state=completed">Completed
                            ({{ completed_projects_count }})
                        </a>
                    </li>
                    <li class=" {% if request.GET.state == 'archived' %}active{% endif %}">
                        <a href="{{ request.GET.url }}?state=archived">Archived
                            ( {{ archived_projects_count }})
                        </a>
                    </li>
            </ul>
        </div>
 
        {% include "rh/projects/views/_projects_table.html" %}
    </div>
{% endblock content %}

{% block scripts %}
 
    <script src="{% static 'js/utils/exportSW.js' %}"></script>
{% endblock scripts %}
