{% extends "_base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    Project: {{ project.title }}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="breadcrumbs-nav-panel">
            <div class="holder">
                <ul class="breadcrumbs">
                    <li>
                        <a href="{% url 'landing' %}">Home</a>
                    </li>
                    {% if project %}
                        <li>
                            <a id="return-url"
                               href="{% url 'projects-list' %}?state={{ project.state }}">
                                {{ project.get_state_display }} Projects
                            </a>
                        </li>
                        <li class="current">{{ project.code }}</li>
                    {% else %}
                        <li class="current">New Project</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="page-navigation-panel">
            <div class="holder">
                <div class="tabs-nav-holder">
                    <ul class="tabs-nav">
                        <li class="{% if project_view %}active{% endif %}">
                            <a href="{% if project %}{% url 'projects-detail' project.pk %}{% else %}{% url 'projects-create' %}{% endif %}">Project
                            planning</a>
                        </li>
                        <li class="{% if financial_view %}active{% endif %}">
                            <a href="{% if project %}{% url 'create_project_budget_progress' project.pk %}{% else %}#{% endif %}">Financial Reports</a>
                        </li>
                        <li class="{% if reports_view %}active{% endif %}">
                            <a href="{% if project %}{% url 'project_reports_home' project.pk %}{% else %}#{% endif %}">Monthly Progress</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="project-options-panel">
            <div class="top-block">
                <ul class="project-breadcrumbs">
                    <li>{{ project.title }}</li>
                </ul>
                <div>
                    <a href="{% url 'projects-update' project.pk %}" class="btn btn-red">Edit</a>
                    {% if project.state == 'draft' %}
                        <a href="{% url 'project_submit' project.pk %}" class="btn btn-red">Submit Project</a>
                    {% endif %}
                </div>
            </div>
            <div class="bottom-block">
                <div class="actions-panel">
                    <div class="filter-holder">
                        <a href="#" class="btn btn-gray filter-open"> <span class="btn-text">Export</span> <span class="icon-download"></span> </a>
                        <div class="filter-options p-8">
                            <div class="block-top">
                                <span class="title">Export</span>
                                <a class="filter-close" href="#"></a>
                            </div>
                            <div class="export-format">
                                <div class="custome-text">File Format</div>
                                <div class="file-format">
                                    <p class="format-description">select file format</p>
                                    <input type="radio" name="file-format" class="file-format" value="xlsx">
                                    <label for="excel-file" class="excel-file">Excel</label>
                                    <input type="radio" name="file-format" class="file-format" value="csv">
                                    <label for="csv-file">CSV</label>
                                </div>
                                <div class="file-format-error"><span class="icon-info"> </span>please select the file format.</div>
                            
                            </div>
                           
                            <div class="text-color-red">
                                <span id="selectedCount"></span> / <span id="totalCount"></span>
                                <span>&nbsp;fields selected</span>
                            </div>
                            <div class="summary project-planning">
                                Custom Data Export
                                <span class="project-chevron icon-chevron-down"></span>
                            </div>
                            <div class="details-container">
                                <div class="block-body">
                                    <small class="label">Available fields:</small>
                                    <div class="vertical-scroll">
                                        <div class="field-col">
                                            <div class="input-holder">
                                                <p class="input-paragraph-content">Project Planning</p>
                                            </div>
                                        </div>
                                        {% if project.title %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="title"
                                                           class="input-check"
                                                           name="title"
                                                           value="{{ project.id }}">
                                                    <label for="title">Title</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.code %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="code"
                                                           class="input-check"
                                                           name="code"
                                                           value="{{ project.id }}">
                                                    <label for="code">Code</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.user %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="user"
                                                           class="input-check"
                                                           name="user"
                                                           value="{{ project.id }}">
                                                    <label for="user">Focal Point</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        
                                        {% if project.state %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="state"
                                                           class="input-check"
                                                           name="state"
                                                           value="{{ project.id }}">
                                                    <label for="state">State</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.budget %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="budget"
                                                           class="input-check"
                                                           name="budget"
                                                           value="{{ project.id }}">
                                                    <label for="budget">Budget</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.budget_currency %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="budgetCurrency"
                                                           class="input-check"
                                                           name="budget_currency"
                                                           value="{{ project.id }}">
                                                    <label for="budgetCurrency">Budget Currency</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.budget_received %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="budgetReceived"
                                                           class="input-check"
                                                           name="budget_received"
                                                           value="{{ project.id }}">
                                                    <label for="budgetReceived">Received Budget</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.budget_gap %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="budgetGap"
                                                           class="input-check"
                                                           name="budget_gap"
                                                           value="{{ project.id }}">
                                                    <label for="budgetGap">Budget Gap</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.is_hrp_project %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="isHRPProject"
                                                           class="input-check"
                                                           name="is_hrp_project"
                                                           value="{{ project.id }}">
                                                    <label for="isHRPProject">Is HRP Project</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.has_hrp_code %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="hrpCode"
                                                           class="input-check"
                                                           name="hrp_code"
                                                           value="{{ project.id }}">
                                                    <label for="hrpCode">HRP Code</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.start_date %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="startDate"
                                                           class="input-check"
                                                           name="start_date"
                                                           value="{{ project.id }}">
                                                    <label for="startDate">Start Date</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.end_date %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="endDate"
                                                           class="input-check"
                                                           name="end_date"
                                                           value="{{ project.id }}">
                                                    <label for="endDate">End Date</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.description %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="description"
                                                           class="input-check"
                                                           name="pdescription"
                                                           value="{{ project.id }}">
                                                    <label for="description">Description</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.donors %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="clusters"
                                                           class="input-check"
                                                           name="clusters"
                                                           value="{{ project.id }}">
                                                    <label for="clusters">Project Clusters</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.donors %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="donors"
                                                           class="input-check"
                                                           name="donors"
                                                           value="{{ project.id }}">
                                                    <label for="donors">Project Donors</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.implementing_partners %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="implementing_partners"
                                                           class="input-check"
                                                           name="implementing_partners"
                                                           value="{{ project.id }}">
                                                    <label for="implementing_partners">Project Implementing Partners</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.programme_partners %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="programme_partners"
                                                           class="input-check"
                                                           name="programme_partners"
                                                           value="{{ project.id }}">
                                                    <label for="programme_partners">Project Programme Partners</label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="field-col">
                                            <div class="input-holder">
                                                <p class="input-paragraph-content">Project Activity Planning</p>
                                            </div>
                                        </div>
                                        {% if project.activityplan_set.all %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="activityDomain"
                                                           class="input-check activity-check"
                                                           name="activity_domain"
                                                           value="{{ project.id }}">
                                                    <label for="activityDomain">Activity Domain</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="activityType"
                                                           class="input-check activity-check"
                                                           name="activity_type"
                                                           value="{{ project.id }}">
                                                    <label for="activityType">Activity Type</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="activityDetail"
                                                           class="input-check activity-check"
                                                           name="activity_detail"
                                                           value="{{ project.id }}">
                                                    <label for="activityDetail">Activity Detail</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="indicator"
                                                           class="input-check activity-check"
                                                           name="indicator"
                                                           value="{{ project.id }}">
                                                    <label for="indicator">Indicators</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="beneficiary"
                                                           class="input-check activity-check"
                                                           name="beneficiary"
                                                           value="{{ project.id }}">
                                                    <label for="beneficiary">Beneficiary</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="hrp_beneficiary"
                                                           class="input-check activity-check"
                                                           name="hrp_beneficiary"
                                                           value="{{ project.id }}">
                                                    <label for="hrp_beneficiary">HRP Beneficiary</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="beneficiaryCategory"
                                                           class="input-check activity-check"
                                                           name="beneficiary_category"
                                                           value="{{ project.id }}">
                                                    <label for="beneficiaryCategory">Beneficiary Category</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="ActivityDescription"
                                                           class="input-check activity-check"
                                                           name="description"
                                                           value="{{ project.id }}">
                                                    <label for="ActivityDescription">Activity Description</label>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <label>
                                                        <div class="programme-info">
                                                            <i class="icon-info "></i>
                                                            Not Provided !
                                                            <span class="programme-text">The activity for this project has not been provided.</span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="field-col">
                                            <div class="input-holder">
                                                <p class="input-paragraph-content">Project Target Location</p>
                                            </div>
                                        </div>
                                        {% if project.targetlocation_set.all %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="admin0code"
                                                           class="input-check"
                                                           name="admin0code"
                                                           value="{{ project.id }}">
                                                    <label for="admin0code">Admin0code</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="admin0name"
                                                           class="input-check"
                                                           name="admin0name"
                                                           value="{{ project.id }}">
                                                    <label for="admin0name">Admin0name</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="admin1code"
                                                           class="input-check"
                                                           name="admin1code"
                                                           value="{{ project.id }}">
                                                    <label for="admin1code">Admin1code</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="admin1name"
                                                           class="input-check"
                                                           name="admin1name"
                                                           value="{{ project.id }}">
                                                    <label for="admin1name">Admin1name</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="admin2code"
                                                           class="input-check"
                                                           name="admin2code"
                                                           value="{{ project.id }}">
                                                    <label for="admin2code">Admin2code</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="admin2name"
                                                           class="input-check"
                                                           name="admin2name"
                                                           value="{{ project.id }}">
                                                    <label for="admin2name">Admin2name</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="nhs_code"
                                                           class="input-check"
                                                           name="nhs_code"
                                                           value="{{ project.id }}">
                                                    <label for="nhs_code">NHS Code</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="facility_site_type"
                                                           class="input-check"
                                                           name="facility_site_type"
                                                           value="{{ project.id }}">
                                                    <label for="facility_site_type">Facility Site Type</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="facility_monitoring"
                                                           class="input-check"
                                                           name="facility_monitoring"
                                                           value="{{ project.id }}">
                                                    <label for="facility_monitoring">Facility Monitoring</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="facility_site_id"
                                                           class="input-check"
                                                           name="facility_id"
                                                           value="{{ project.id }}">
                                                    <label for="facility_site_id">Facility Site Id</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="facility_site_name"
                                                           class="input-check"
                                                           name="facility_name"
                                                           value="{{ project.id }}">
                                                    <label for="facility_site_name">Facility Site Name</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="facility_site_lat"
                                                           class="input-check"
                                                           name="facility_lat"
                                                           value="{{ project.id }}">
                                                    <label for="facility_site_lat">Facility Site Latitude</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="facility_site_long"
                                                           class="input-check"
                                                           name="facility_long"
                                                           value="{{ project.id }}">
                                                    <label for="facility_site_long">Facility Site Longitude</label>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <input type="checkbox"
                                                           id="disaggregation"
                                                           class="input-check"
                                                           name="disaggregation"
                                                           value="{{ project.id }}">
                                                    <label for="disaggregation">Disaggregations</label>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="field-col">
                                                <div class="input-holder">
                                                    <label>
                                                        <div class="programme-info">
                                                            <i class="icon-info "></i>
                                                            Not Provided !
                                                            <span class="programme-text">The Target Location for this project has not been provided.</span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="block-footer">
                                <p id="not-checked-message" style="color:#a52824"></p>
                                <div class="btn-wrapper">
                                    <div class="field-col">
                                        <button class="btn btn-red" id="resetFilterButton">Reset</button>
                                    </div>
                                    <div class="field-col">
                                        <button id="downloadFilterForm">
                                            <a href="#"
                                               class="btn btn-red"
                                               data-url="{% url 'export_project_filter' project.id %}">Download</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                    <a href="#"
                       data-url="{% url 'copy_project' project.pk %}"
                       data-type="copy"
                       data-name="project"
                       class="btn btn-gray show-sw-action-popup">
                        <span class="btn-text">Duplicate</span>
                        <span class="icon-copy-outline"></span>
                    </a>
                    {% if project.state != 'in-progress' %}
                        <a href="#"
                           data-url="{% url 'archive_project' project.pk %}"
                           data-type="archive"
                           data-name="project"
                           class="btn btn-gray show-sw-action-popup">
                            <span class="btn-text">Archive</span>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="project-view archive-icon"
                                 width="15"
                                 height="15"
                                 viewBox="0 0 24 24">
                                <path fill="currentColor" d="M20 21H4V10h2v9h12v-9h2v11M3 3h18v6H3V3m2 2v2h14V5m-8.5 6v3H8l4 4l4-4h-2.5v-3" />
                            </svg>
                        </a>
                    {% else %}
                        <a href="#"
                           data-url="{% url 'unarchive_project' project.pk %}"
                           data-type="unarchive"
                           data-name="project"
                           class="btn btn-gray show-sw-action-popup">
                            <span class="btn-text">Unarchive</span>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="project-view-icon"
                                 width="15"
                                 height="15"
                                 viewBox="0 0 36 36">
                                <path fill="currentColor" d="M29 32H7V22H5v10a2 2 0 0 0 2 2h22a2 2 0 0 0 2-2V22h-2Z" class="clr-i-outline clr-i-outline-path-1" />
                                <path fill="currentColor" d="M14 24a1 1 0 0 0 1 1h6a1 1 0 0 0 0-2h-6a1 1 0 0 0-1 1Z" class="clr-i-outline clr-i-outline-path-2" />
                                <path fill="currentColor" d="M15 18H6v-4h9v-2H5.5A1.5 1.5 0 0 0 4 13.5V20h11.78a3 3 0 0 1-.78-2Z" class="clr-i-outline clr-i-outline-path-3" />
                                <path fill="currentColor" d="M30.5 12H21v2h9v4h-9a3 3 0 0 1-.78 2H32v-6.5a1.5 1.5 0 0 0-1.5-1.5Z" class="clr-i-outline clr-i-outline-path-4" />
                                <path fill="currentColor" d="m13 9.55l4-3.95V18a1 1 0 1 0 2 0V5.6l4 3.95a1 1 0 1 0 1.41-1.42L18 1.78l-6.39 6.35A1 1 0 0 0 13 9.55Z" class="clr-i-outline clr-i-outline-path-5" />
                                <path fill="none" d="M0 0h36v36H0z" />
                            </svg>
                        </a>
                    {% endif %}
                    <a href="{% url 'projects-delete' project.pk %}" class="btn btn-gray">
                        <span class="btn-text">Delete</span>
                        <span class="icon-trashbin-outline"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="project-plan read-only">
            <div class="row">
                <div class="col">
                    <div class="input-field">
                        <span class="label">Project code</span>
                        <div class="input-holder">
                            <span class="text-read-only">{{ project.code }}</span>
                        </div>
                    </div>
                    <div class="select-field is-required">
                        <span class="label">Organization</span>
                        <span class="text-read-only m2m-badges">
                            <span class="btn btn-gray">{{ project.organization }}</span>
                        </span>
                    </div>
                    <div class="select-field is-required">
                        <span class="label">Clusters</span>
                        <span class="text-read-only m2m-badges">
                            {% for cluster in project.clusters.all %}<span class="btn btn-gray-outline">{{ cluster.title }}</span>{% endfor %}
                        </span>
                    </div>
                    <div class="select-field is-required">
                        <span class="label">Project donor</span>
                        <span class="text-read-only m2m-badges">
                            {% for donor in project.donors.all %}<span class="btn btn-gray-outline">{{ donor.name }}</span>{% endfor %}
                        </span>
                    </div>
                    <div class="select-field is-required">
                        <span class="label">Implementing Partners</span>
                        <span class="text-read-only m2m-badges">
                            {% for implementing_partner in project.implementing_partners.all %}
                                <span class="btn btn-gray-outline">{{ implementing_partner.code }}</span>
                            {% endfor %}
                        </span>
                    </div>
                    <div class="select-field is-required">
                        <span class="label">Programme Partners</span>
                        <span class="text-read-only m2m-badges">
                            {% for programme_partner in project.programme_partners.all %}
                                <span class="btn btn-gray-outline">{{ programme_partner.code }}</span>
                            {% endfor %}
                        </span>
                    </div>
                </div>
                <div class="col col-sm">
                    <div class="date-picker-field">
                        <div class="date start">
                            <span class="label">Start Date</span>
                            <span class="text-read-only">{{ project.start_date | date:'d M, Y' }}</span>
                        </div>
                        <div class="date end">
                            <span class="label">End Date</span>
                            <span class="text-read-only">{{ project.end_date | date:'d M, Y' }}</span>
                        </div>
                    </div>
                    <div class="multiple-fields-row">
                        <div class="field-col">
                            <div class="input-field">
                                <span class="label">Project budget</span>
                                <div class="input-holder">
                                    <span class="text-read-only">{{ project.budget|intcomma }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="field-col">
                            <span class="label">Currency</span>
                            <div class="select-field is-required">
                                <span class="text-read-only">{{ project.budget_currency }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="multiple-fields-row">
                        <div class="field-col">
                            <div class="input-field">
                                <span class="label">Budget Received</span>
                                <div class="input-holder">
                                    <span class="text-read-only">{{ project.budget_received|intcomma }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-field">
                                <span class="label">Budget Gap</span>
                                <div class="input-holder">
                                    <span class="text-read-only">{{ project.budget_gap|intcomma }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="multiple-fields-row">
                        <div class="field-col">
                            <div class="input-field">
                                <span class="label">Is HRP Project?</span>
                                <div class="input-holder">
                                    <span class="text-read-only">
                                        {% if project.is_hrp_project %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% if project.is_hrp_project %}
                            <div class="field-col">
                                <div class="input-field">
                                    <span class="label">Has HRP Code?</span>
                                    <div class="input-holder">
                                        <span class="text-read-only">
                                            {% if project.has_hrp_code %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if project.has_hrp_code %}
                        <div class="input-field">
                            <span class="label">HRP project code</span>
                            <div class="input-holder">
                                <span class="text-read-only">{{ project.hrp_code }}</span>
                            </div>
                        </div>
                    {% endif %}
                    <div class="input-field">
                        <span class="label">State</span>
                        <div class="input-holder">
                            <span class="{{ project.state }}">{{ project.state }}</span>
                        </div>
                    </div>
                </div>
                <div class="col col-lg">
                    <div class="select-field is-required">
                        <span class="label">Activity Domains</span>
                        <span class="text-read-only m2m-badges">
                            {% for activity_domain in project.activity_domains.all %}
                                <span class="btn btn-gray-outline">{{ activity_domain.name }}</span>
                            {% endfor %}
                        </span>
                    </div>
                    <div class="select-field">
                        <span class="label">Focal point</span>
                        <div class="input-holder">
                            <span class="text-read-only">
                                {% if project.user.first_name %}{{ project.user.first_name }}{% endif %}
                                {% if project.user.last_name %}{{ project.user.last_name }}{% endif %}
                                {% if project.user.username %}| {{ project.user.username }}{% endif %}
                                {% if project.user.profile.position %}| {{ project.user.profile.position }}{% endif %}
                                {% if project.user.profile.phone %}| {{ project.user.profile.phone }}{% endif %}
                                {% if project.user.email %}| {{ project.user.email }}{% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-field is-required">
            <span class="label">Project description &amp; objectives</span>
            <div class="input-holder">{{ project.description | linebreaksbr }}</div>
        </div>
        <div class="activity-planning read-only">
            <div class="activity-block-holder">
                <div class="top-activity-block">
                    <span class="activity-title">
                        <span>Activities Planning</span>
                    </span>
                </div>
            </div>
        </div>
        {% include "rh/activity_plans/_activity_plan_table.html" with object_list=project.activityplan_set.all %}
    </div>
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script type="module" src="{% static 'src/js/utils/exportSW.js' %}"></script>
{% endblock scripts %}
