{% extends "_base.html" %}

{% load static %}
{% load compress %}

{% block page_title %}
    ReportHub - Projects
{% endblock page_title %}

{% block content %}
    <div class="container">
        <div class="page-top-panel">
            <div class="tabs-nav-holder">
                <ul class="tabs-nav">
                    <li class=" {% if not request.GET.state  %}active{% endif %}">
                        <a href="{% url 'projects-list' %}">All Projects
                            ({{ projects_count }})
                        </a>
                    </li>
                    <li class=" {% if request.GET.state == 'in-progress' %}active{% endif %}">
                        <a href="{% url 'projects-list' %}?state=in-progress">Active Projects
                            (
                            {% if active_projects_count %}
                                {{ active_projects_count }}
                            {% else %}
                                {{ active_projects | length }}
                            {% endif %}
                            )
                        </a>
                    </li>
                    <li class=" {% if request.GET.state == 'draft' %}active{% endif %}">
                        <a href="{% url 'projects-list' %}?state=draft">Draft Projects
                            (
                            {% if draft_projects_count %}
                                {{ draft_projects_count }}
                            {% else %}
                                {{ draft_projects | length }}
                            {% endif %}
                            )
                        </a>
                    </li>
                    {% if completed_projects_count or completed_projects %}
                        <li class=" {% if request.GET.state == 'done' %}active{% endif %}">
                            <a href="{% url 'projects-list' %}?state=done">Completed Projects
                                (
                                {% if completed_projects_count %}
                                    {{ completed_projects_count }}
                                {% else %}
                                    {{ completed_projects | length }}
                                {% endif %}
                                )
                            </a>
                        </li>
                    {% endif %}
                    {% if archived_projects_count or archived_projects %}
                        <li class=" {% if request.GET.state == 'archive' %}active{% endif %}">
                            <a href="{% url 'projects-list' %}?state=archive">Archived Projects
                                (
                                {% if archived_projects_count %}
                                    {{ archived_projects_count }}
                                {% else %}
                                    {{ archived_projects | length }}
                                {% endif %}
                                )
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="actions-panel">
                <div class="filter-holder">
                    <a href="#" class="btn btn-red filter-open">Filter
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 23 23" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                        </svg>
                    </a>
                    <!-- FIXME: FIX the filter selections -->
                    <form action="#" class="filter-form">
                        
                        <div class="filter-options">
                            <div class="block-top">
                                <span class="title">Filter</span>
                                <a class="filter-close" href="#"></a>
                            </div>
                            <div class="filter-heading-text">
                                <span>
                                    <span class="info-sign"></span>
                                    Get your project data sorted.
                                </span>
                                
                            </div>
                            <div class="block-body">
                                <div class="select-field">
                                    <label>Donors</label>
                                    <div class="small-label">[hold down the control/command button to select multiple]</div>
                                    {{ project_filter.form.donors }}
                                </div>
                                <div class="select-field ">
                                    <label for="{{ project_filter.form.clusters.id_for_label }}">Clusters / Sectors</label>
                                    <div class="small-label">[hold down the control/command button to select multiple]</div>
                                    {{ project_filter.form.clusters }}
                                </div>
                                <div class="select-field">
                                    <label>Activity Domain</label>
                                    <div class="small-label">[hold down the control/command button to select multiple]</div>
                                    {{ project_filter.form.activity_domains }}
                                </div>
                                <div class="date-picker-field">
                                    <div class="date start">
                                        <label>Start Date</label>
                                        {{ project_filter.form.start_date }}
                                    </div>
                                    <div class="date end">
                                        <label>End Date</label>
                                        {{ project_filter.form.end_date }}
                                    </div>
                                </div>
                                <div class="select-field">
                                    <label>Implementing Partner</label>
                                    <div class="small-label">[hold down the control/command button to select multiple]</div>
                                    {{ project_filter.form.implementing_partners }}
                                </div>
                                <div class="select-field">
                                    <label>Programme Partner</label>
                                    <div class="small-label">[hold down the control/command button to select multiple]</div>
                                    {{ project_filter.form.programme_partners }}
                                </div>
                                <div class="select-field">
                                    <label>Focal Person</label>
                                    {{ project_filter.form.user }}
                                </div>
                            </div>
                            <div class="block-footer">
                                <div class="btn-wrapper">
                                    <a class="btn btn-gray-outline"
                                        href="{% url 'projects-list' %}?state={{request.GET.state}}">Reset</a>
                                    <button type="submit" class="btn btn-red">Apply</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="export-formats-holder">
                    <a href="#" class="btn btn-gray export-open">
                        <span class="btn-text">Export</span>
                        <span class="icon-download"></span>
                    </a>
                    <div class="export-formats">
                        <span class="title">File format</span>
                        <div class="format-list">
                            <div class="export-link-holder" 
                                onclick="exportButton(event)"
                                data-file-format="csv" 
                                data-export-url="{% url 'export_porjcet_list' 'csv' %}">
                                <a class="export-link" href="#">
                                    CSV
                                </a>
                            </div>
                            <div class="export-link-holder" 
                                onclick="exportButton(event)"
                                data-file-format="xls" 
                                data-export-url="{% url 'export_porjcet_list' 'xls' %}">
                                <a class="export-link" href="#">
                                    Excel
                                </a>
                            </div>
                            <div class="export-link-holder" 
                                onclick="exportButton(event)"
                                data-file-format="json" 
                                data-export-url="{% url 'export_porjcet_list' 'json' %}">
                                <a class="export-link" href="#">
                                    JSON
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="projects-options-panel">
            <div class="holder">
                <div class="input-holder"></div>
                <ul class="buttons-list-inline">
                    <li>
                        <a href="{% url 'projects-create' %}" class="btn btn-red add-btn">Add New Project</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content-block top-border bottom-border">
            <div id="tab-1">
                <div class="table-wrapper-scrollable">
                    <table class="table all-projects-table js-collapsible-table">
                        <thead>
                            <tr>
                                <th class="cluster-col">
                                    <div class="table-flex-holder">
                                        <div class="input-check-holder">
                                            <input type="checkbox"
                                                    id="table-head-check-01"
                                                    data-check-pattern="[name^='table-check']" />
                                            <label for="table-head-check-01">
                                                <span class="input"></span>
                                            </label>
                                        </div>
                                        <strong class="table-title">Project title</strong>
                                        <div class="table-sort-buttons">
                                            <button type="button">
                                                <span class="icon-chevron-up"></span>
                                            </button>
                                            <button type="button">
                                                <span class="icon-chevron-down"></span>
                                            </button>
                                        </div>
                                    </div>
                                </th>
                                <th class="title-col">
                                    <div class="table-flex-holder">
                                        <strong class="table-title">Cluster/Sector</strong>
                                        <div class="table-sort-buttons">
                                            <button type="button">
                                                <span class="icon-chevron-up"></span>
                                            </button>
                                            <button type="button">
                                                <span class="icon-chevron-down"></span>
                                            </button>
                                        </div>
                                    </div>
                                </th>
                                <th class="organisation-col">
                                    <div class="table-flex-holder">
                                        <strong class="table-title">Implementing Partners</strong>
                                        <div class="table-sort-buttons">
                                            <button type="button">
                                                <span class="icon-chevron-up"></span>
                                            </button>
                                            <button type="button">
                                                <span class="icon-chevron-down"></span>
                                            </button>
                                        </div>
                                    </div>
                                </th>
                                <th class="location-col">
                                    <div class="table-flex-holder">
                                        <strong class="table-title">Programme Partners</strong>
                                    </div>
                                </th>
                                
                                <th class="description-col">
                                    <div class="table-flex-holder">
                                        <strong class="table-title">Description</strong>
                                    </div>
                                </th>
                                <th class="status-col">
                                    <div class="table-flex-holder">
                                        <strong class="table-title">Status</strong>
                                    </div>
                                </th>
                                <th class="action-col">
                                    <div class="table-flex-holder">
                                        <strong class="table-title">Action</strong>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <!--Include The Active Projects Details Here -->
                            {% for project in projects %}
                                {% include "rh/projects/views/_projects_details.html" %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {% include "rh/projects/views/projects_pager.html" %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script>
        document.querySelectorAll('select').forEach((select) => {
            const choice = new Choices(select, {
                searchEnabled: true,
                itemSelectText: '',
                removeItemButton: true,
                classNames: {
                    listDropdown: 'choices__list--dropdown',
                },
                shouldSort: false,
            });
        });
       
        
        
    </script>
    <script src="{% static 'src/js/utils/exportSW.js' %}"></script>
    {% compress js inline %}
        <script src="{% static 'src/js/components/initCollapsibleTable.js' %}"></script>
        <script src="{% static 'src/js/components/initCheckAllCheckboxes.js' %}"></script>
    {% endcompress %}
{% endblock scripts %}