{% extends "_base.html" %}

{% load static %}
{% load humanize %}

{% block title %}
    Projects - Organization
{% endblock title %}

{% block breadcrumb_li %}
  <li class="current">Projects</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="projects-options-panel">
            <div class="holder">
                <div class="input-holder">
                    <h2 class="text-red-be"> Your Organization Projects </h2>
                </div>
                <ul class="buttons-list-inline">
                    <li>
                        <a href="{% url 'projects-create' %}" class="btn btn-gray-outline">
                             <svg style="" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                            </svg>
                            Create New Project
                        </a>
                    </li>
                </ul>
            </div>
         <p class="flex items-center gap-2 py-4">
                <span class="icon-info"></span>
                The below table displays the projects according to their status (Active, Draft, Completed, etc).
            </p>
        </div>

        <div class="tabs-nav-holder">
            <ul class="tabs-nav">
                <li class=" {% if not request.GET.state %}active{% endif %}">
                    <a href="{{ request.path }}">All</a>
                </li>
                <li class=" {% if request.GET.state == 'in-progress' %}active{% endif %}">
                    <a href="{{ request.GET.url }}?state=in-progress">Active </a>
                </li>
                <li class=" {% if request.GET.state == 'draft' %}active{% endif %}">
                    <a href="{{ request.GET.url }}?state=draft">Draft </a>
                </li>
                <li class=" {% if request.GET.state == 'completed' %}active{% endif %}">
                    <a href="{{ request.GET.url }}?state=completed">Completed </a>
                </li>
                <li class=" {% if request.GET.state == 'archived' %}active{% endif %}">
                    <a href="{{ request.GET.url }}?state=archived">Archived </a>
                </li>
            </ul>
        </div>
 
        {% include "rh/projects/views/_projects_table.html" %}
    </div>
{% endblock content %}

{% block scripts %}
 
    <script src="{% static 'js/utils/exportSW.js' %}"></script>
{% endblock scripts %}
