{% extends "_base.html" %}

{% load static %}
{% load compress %}

{% block page_title %}
    Projects - Clusters
{% endblock page_title %}

{% block content %}
    <div class="container">
        <div class="page-top-panel">
            <div class="tabs-nav-holder">
                <ul class="tabs-nav">
                    <li class=" {% if not request.GET.state  %}active{% endif %}">
                        <a href="{{request.GET.url}}">All Projects
                            ({{ projects_count }})
                        </a>
                    </li>
                    <li class=" {% if request.GET.state == 'in-progress' %}active{% endif %}">
                        <a href="{{request.GET.url}}?state=in-progress">Active Projects
                            (
                            {% if active_projects_count %}
                                {{ active_projects_count }}
                            {% endif %}
                            )
                        </a>
                    </li>
                    <li class=" {% if request.GET.state == 'draft' %}active{% endif %}">
                        <a href="{{request.GET.url}}?state=draft">Draft Projects
                            (
                            {% if draft_projects_count %}
                                {{ draft_projects_count }}
                            {% endif %}
                            )
                        </a>
                    </li>
                    {% if completed_projects_count or completed_projects %}
                        <li class=" {% if request.GET.state == 'done' %}active{% endif %}">
                            <a href="{{request.GET.url}}?state=done">Completed Projects
                                (
                                {% if completed_projects_count %}
                                    {{ completed_projects_count }}
                                {% endif %}
                                )
                            </a>
                        </li>
                    {% endif %}
                    {% if archived_projects_count or archived_projects %}
                        <li class=" {% if request.GET.state == 'archive' %}active{% endif %}">
                            <a href="{{request.GET.url}}?state=archive">Archived Projects
                                (
                                {% if archived_projects_count %}
                                    {{ archived_projects_count }}
                                {% endif %}
                                )
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="actions-panel">
                {% include "rh/projects/views/_projects_filters_drawer.html" %}
                
                <div class="export-formats-holder">
                    <span class="btn btn-gray export-open">
                        <span class="btn-text">Export</span>
                        <!-- spinner start-->
                        <img class='downloading' style="width: 1.2rem;" src="{% static 'src/images/spinner.gif' %}" />
                        <!-- spinner end -->
                        <span class="icon-download"></span>
                    </span>
                    <div class="export-formats">
                        <span class="title">File format</span>
                        <div class="format-list">
                            <div class="export-link-holder" 
                                onclick="exportButton(event)"
                                data-export-url="{% url 'export-clusters-projects' 'csv' %}">
                                <span class="export-link cursor-pointer">
                                    CSV
                                </span>
                            </div>
                            <div class="export-link-holder" 
                                onclick="exportButton(event)"
                                data-export-url="{% url 'export-clusters-projects' 'xls' %}">
                                <span class="export-link cursor-pointer" >
                                    Excel
                                </span>
                            </div>
                            <div class="export-link-holder" 
                                onclick="exportButton(event)"
                                data-export-url="{% url 'export-clusters-projects' 'json' %}">
                                <span class="export-link cursor-pointer">
                                    JSON
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- filter applied  -->
        <div class="filter-container" id="filter-container">
            <span class="filter-applied deactivated" id="filter-applied">
                <svg xmlns="http://www.w3.org/2000/svg" 
                fill="none" viewBox="0 0 23 23" 
                stroke-width="1.5" 
                stroke="currentColor"  
                width="20" height="20">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                </svg>
            </span>
            <span class="filter-items" id="filter-items">
                {% if project_filter.form.clusters.data %}
                <span class="title" id="title">{{project_filter.form.clusters.name}}</span>
                {% endif %}
                {% if project_filter.form.donors.data %}
                    <span class="title" id="title">{{project_filter.form.donors.name}}</span>
                {% endif %}
                {% if project_filter.form.activity_domains.data %}
                    <span class="title" id="title">{{project_filter.form.activity_domains.name}}</span>
                {% endif %}
                {% if project_filter.form.implementing_partners.data %}
                    <span class="title" id="title">{{project_filter.form.implementing_partners.name}}</span>
                {% endif %}
                {% if project_filter.form.programme_partners.data %}
                    <span class="title" id="title">{{project_filter.form.programme_partners.name}}</span>
                {% endif %}
                {% if project_filter.form.start_date.data %}
                    <span class="title" id="title">{{project_filter.form.start_date.name}}</span>
                {% endif %}
                {% if project_filter.form.end_date.data %}
                    <span class="title" id="title">{{project_filter.form.end_date.name}}</span>
                {% endif %}
                {% if project_filter.form.user.data %}
                    <span class="title" id="title">{{project_filter.form.user.name}}</span>
                {% endif %}
            </span>
        </div>
        <!-- filter applied end -->
        
        {% include "rh/projects/views/_projects_table.html" %}
    </div>
{% endblock content %}

{% block scripts %}    
    <script src="{% static 'src/js/utils/exportSW.js' %}"></script>
    <script>
        let element = document.querySelector(".filter-items");
        if(element.textContent.trim() !== ""){
            document.querySelector(".filter-applied").classList.remove("deactivated");
            document.querySelector(".filter-applied").classList.add("active");
        } else {
            document.querySelector(".filter-applied").classList.remove("active");
            document.querySelector(".filter-applied").classList.add("deactivated");
        }
    </script>
{% endblock scripts %}