{% extends "_base.html" %}

{% load static %}

{% block title %}
    Projects - Clusters
{% endblock title %}


{% block breadcrumb_li %}
  <li class="current">Cluster projects</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="projects-options-panel">
            <div class="holder">
                <h2>{{ request.resolver_match.kwargs.cluster|upper }} Cluster projects</h2>
                <ul class="buttons-list-inline">
                    {% comment %} <li>
                        <a href="{% url 'projects-create' %}" class="btn btn-red add-btn">New Project</a>
                    </li> {% endcomment %}
                </ul>
            </div>
            <p class="py-4 flex items-center gap-2">
                The below table displays the projects according to their status (Active, Draft, Completed, etc).
            </p>
        </div>

        <div class="tabs-nav-holder">
            <ul class="tabs-nav">
                <li class=" {% if not request.GET.state %}active{% endif %}">
                    <a href="{{ request.path }}">All
                        ({{ projects_count }})
                    </a>
                </li>
                <li class=" {% if request.GET.state == 'in-progress' %}active{% endif %}">
                    <a href="{{ request.GET.url }}?state=in-progress">Active
                        ({{ active_projects_count }})
                    </a>
                </li>
                <li class=" {% if request.GET.state == 'draft' %}active{% endif %}">
                    <a href="{{ request.GET.url }}?state=draft">Draft
                        ({{ draft_projects_count }})
                    </a>
                </li>
                    <li class=" {% if request.GET.state == 'completed' %}active{% endif %}">
                        <a href="{{ request.GET.url }}?state=completed">Completed
                            ({{ completed_projects_count }})
                        </a>
                    </li>
                    <li class=" {% if request.GET.state == 'archive' %}active{% endif %}">
                        <a href="{{ request.GET.url }}?state=archive">Archived
                            ({{ archived_projects_count }})
                        </a>
                    </li>
            </ul>
        </div>

        {% include "rh/projects/views/_projects_table.html" %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/utils/exportSW.js' %}"></script>
{% endblock scripts %}
