<div class="activity_form">
    {{ form.id }} {{ form.save }}
    <input type="hidden"
           name="project_id"
           id="project_id"
           value="{{ project.id }}"/>
    <div class="project-activity-block project-activity-accordion"
         data-form-id="{{ form.prefix }}">
        <div class="inner-holder">
            <div class="block-activity mb-3">
                <div id="{{ form.prefix }}-actions">
                    <button href="#"
                            data-url="{% url 'copy_plan' project=project.pk plan=form.instance.pk %}"
                            data-type="copy" 
                            data-name="activity" 
                            class="btn btn-gray-outline show-sw-action-popup">
                        <span class="icon-copy"></span>
                        <span class="btn-text">Duplicate</span>
                    </button>
                    <button href="#"
                            data-url="{% url 'delete_plan' form.instance.pk %}"
                            data-type="delete" 
                            data-name="activity" 
                            class="btn btn-gray-outline show-sw-action-popup">
                        <span class="icon-trashbin"></span>
                        <span class="btn-text">Delete</span>
                    </button>
                    <button type="submit"
                            class="btn btn-red save"
                            value="true"
                            name="{{ form.prefix }}-save">Save
                    </button>
                </div>
            </div>

            <div class="block-top project-activity-accordion-opener">
                <span class="title ">
                    {% if form.total_target.value %}
                    <span class="people">
                        <span class="icon-group"></span>
                        <span id="{{ form.prefix }}-people-count">{{ form.total_target.value }}</span>
                        -
                    </span>
                    {% endif %}
                    {% if not form.id.value %}
                    <span>Add New Beneficiary</span>
                    <br/>
                    {% endif %}
                    <span id="title-domain-{{ form.prefix }}"></span>
                    <span id="title-type-{{ form.prefix }}"></span>
                    <span id="title-detail-{{ form.prefix }}"></span>
                </span>
                <span class="subtitle"></span>
            </div>
            <div class="project-activity-accordion-slide" id="{{ form.prefix }}-details">
                <!-- ERRORS SECTION STARTS -->
                {% if form.errors %}
                    <div class="message-container">
                    {% for error in form.errors %}
                        <div class="message-danger-alert">
                            {{error}}
                            <span class="close-alert-message">&#x2715;</span>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
                <!-- ERRORS SECTION ENDS -->

                <div class="row">
                    <div class="col">
                        <div class="multiple-fields-row three-items">
                            <div class="field-col">
                                <div class="select-field is-required">
                                    <label for="{{form.activity_domain.id_for_label}}">Activity Domain</label>
                                    {{ form.activity_domain }}
                                </div>
                            </div>
                            <div class="field-col">
                                <div class="select-field is-required">
                                    <label for="{{form.activity_type.id_for_label}}">Activity Type</label>
                                    {{ form.activity_type }}
                                </div>
                            </div>
                            <div class="field-col">
                                <div class="select-field">
                                    <label for="{{form.activity_detail.id_for_label}}">Activity Detail</label>
                                    {{ form.activity_detail }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <div class="select-field">
                            <label for="{{form.indicator.id_for_label}}">
                                Indicator
                            </label>
                            {{ form.indicator }}
                        </div>
                        <div class="multiple-fields-row">
                            <div class="field-col">
                                <div class="select-field">
                                    <label for="{{form.beneficiary.id_for_label}}">Beneficiary</label>
                                    {{ form.beneficiary }}
                                </div>
                            </div>
                            <div class="field-col">
                                <div class="select-field">
                                    <label for="{{form.beneficiary_category.id_for_label}}">Beneficiary Category</label>
                                    {{ form.beneficiary_category }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <!-- Indicator types start to diaplay -->
                <div class="row" id="{{ form.prefix }}-indicator-types">
                </div>
                <div class="row" id="Locations-{{form.prefix}}">
                    <div class="col col-lg">
                        <div class="target-location-block target-location-accordion">
                            <div class="inner-holder">
                                <div class="add_button">
                                    <button data-form-prefix="{{form.prefix}}" data-project="{{project.pk}}" type="button"
                                            class="btn btn-red add-target-location-form-button">Add Target Location
                                    </button>
                                </div>
                                <div class="block-top target-location-accordion-opener">
                                    <div class="location-block-holder">
                                        <div class="block-top-title">
                                            <span class="title">
                                                Target Locations
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="target-location-accordion-slide">
                                    {{ target_location_formset.management_form }}
                                    <div id="{{form.prefix}}">
                                        {% for target_location_form in target_location_formset %}
                                            {% include "rh/projects/forms/target_location_empty_form.html" with target_location_form=target_location_form %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field is-required">
                        <label for="{{ form.description.id_for_label}}">Activity Description</label>
                        <div class="input-holder">{{ form.description }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>