{% extends "_base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock head %}


{% block content %}
    <div class="container">
        <div class="page-navigation-panel">
            <div class="holder">
                <div class="tabs-nav-holder">
                    <ul class="tabs-nav">
                                                <li class="{% if request.resolver_match.url_name == 'projects-update' %}active{% endif %}">

                            <a href="{% if project %}{% url 'projects-update' project.pk %}{% else %}{% url 'projects-create' %}{% endif %}">Project

                            planning</a>

                        </li>

                        <li class="{% if request.resolver_match.url_name == 'activity-plans-list' %}active{% endif %}">

                            <a href="{% if project %}{% url 'activity-plans-list' project.pk %}{% else %}#{% endif %}">Activity Plans</a>

                        </li>

                        <li class="{% if request.resolver_match.url_name == 'target-locations-list' %}active{% endif %}">

                            <a href="{% if project %}{% url 'target-locations-list' project.pk %}{% else %}#{% endif %}">Target Locations</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="breadcrumbs-nav-panel">
            <div class="holder">
                <ul class="breadcrumbs">
                    <li>
                        <a href="{% url 'landing' %}">Home</a>
                    </li>
                    {% if project %}
                        <li>
                            <a id="return-url" href="{% url 'projects-list' %}?state={{project.state}}">
                                {% if project.state == 'in-progress' %}
                                    Active Projects
                                {% elif project.state == 'draft' %}
                                    Draft Projects
                                {% elif project.state == 'archive' %}
                                    Archived Projects
                                {% elif project.state == 'done' %}
                                    Completed Projects
                                {% endif %}
                            </a>
                        </li>
                        <li class="current">
                            <a href="{% url 'projects-detail' project.id %}">
                                {{ project.code }}
                            </a>
                        </li>
                    {% else %}
                        <li class="current">New Project</li>
                    {% endif %}
                </ul>
            </div>
        </div> 

        <div class="main-content">        
            {% block project_contents %}
            {% endblock project_contents %}
            
            {% block project_form_scripts %}
            {% endblock project_form_scripts %}
        </div>
    </div>
{% endblock content %}


{% block scripts %}
    {{ block.super }}
    <script type="module" src="{% static 'src/js/components/initAccordion.js' %}"></script>
    <script type="module" src="{% static 'src/js/utils/exportSW.js' %}"></script>
    <!-- Select2 CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock scripts %}