{% extends "rh/projects/forms/project_form_base.html" %}
{% load static %}

{% block page_title %} 
    Plan: {{project.title}} Activities
{% endblock page_title %}


{% block project_contents %}
    <div class="project-title-holder" style="display: flex;">
        <h2 class="plan-title"> <em>Project: </em> {{ project.title }}</h2>
    </div>

    <div class="main-content">
        <div class="activity-planning create-activity">
            <div id="activity-formset-form">
                <div class="activity-planning read-only">
                    <div class="activity-block-holder">
                        <div class="top-activity-block">
                            <span class="activity-title">
                                <span>
                                    Activity Plans
                                </span>
                                <span class="btn btn-gray" style="float:right"> {{ project.activityplan_set.all | length }}</span>
                            </span>
                            <br>
                            <span class="">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quod quam fugiat aperiam sint, blanditiis pariatur perspiciatis officiis ipsa at accusantium cupiditate magni voluptatum odio ipsam voluptatem error necessitatibus molestiae!
                            </span>
                        </div>
                    </div>
                </div>

                {% include "rh/activity_plans/_activity_plan_table.html"  with object_list=project.activityplan_set.all %}

                {% comment %} {{ activity_plan_formset.management_form }} {% csrf_token %} {% endcomment %}
                {% comment %} <div id="activity-formset">
                    {% for form, target_location_formset in combined_formset %}
                        {% include "rh/projects/forms/activity_empty_form.html" with form=form target_location_formset=target_location_formset %}
                    {% endfor %}
                </div> {% endcomment %}
            </div>
        </div>
    </div>
{% endblock project_contents %}

{% block project_form_scripts %}
{% endblock project_form_scripts %}
