{% extends "../projects_index.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock head %}

{% block project_body %}
    <div class="two-cols-layout">
        <div class="breadcrumbs-nav-panel">
            <div class="holder">
                <ul class="breadcrumbs">
                    <li>
                        <a href="{% url 'landing' %}">Home</a>
                    </li>
                    {% if project %}
                        <li>
                            <a id="return-url" href="{% url 'clusters-projects-list' %}?state={{project.state}}">
                                {% if project.state == 'in-progress' %}
                                    Active Projects
                                {% elif project.state == 'draft' %}
                                    Draft Projects
                                {% elif project.state == 'archive' %}
                                    Archived Projects
                                {% elif project.state == 'done' %}
                                    Completed Projects
                                {% endif %}
                            </a>
                        </li>
                        <li class="current">{{ project.code }}</li>
                    {% else %}
                        <li class="current">New Project</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
        <aside class="sidebar">
            <div class="sidebar-nav-holder">
                <ul class="sidebar-nav">
                    <li class="{% if project_planning %}current{% endif %}">
                        <a href="{% if project %}{% url 'projects-update' project.pk %}{% else %}{% url 'projects-create' %}{% endif %}">
                            Project Planning
                        </a>
                    </li>
                    <li class="{% if activity_planning %}current{% endif %}">
                        <a class="{% if not project %}disabled-link{% endif %}"
                            href="{% if project %}{% url 'create_project_activity_plan' project.pk %}{% else %}#{% endif %}">Activities
                        Planning</a>
                    </li>
                    <li class="{% if project_review %}current{% endif %}">
                        
                        <a class="disabled-link"
                            href="{% if project %} {% url 'project_plan_review' project.pk %} {% else %}#{% endif %}">Review</a>
                    </li>
                </ul>
            </div>
        </aside>
        
        {% block project_contents %}
        {% endblock project_contents %}
        
        {% block project_form_scripts %}
        {% endblock project_form_scripts %}
    </div>
{% endblock project_body %}

{% block scripts %}
{{ block.super }}
<!-- Select2 CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock scripts %}