{% extends "_base.html" %}

{% load static %}

{% block head %}
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> {% endcomment %}
{% endblock head %}

{% block breadcrumb_li %}
{% if project %}
    <li>
        <a id="return-url" href="{% url 'projects-list' %}?state={{ project.state }}"> {{ project.get_state_display }} Projects </a>
    </li>
    <li>
        <a href="{% url 'projects-detail' project.id %}">{{ project.code }}</a>
    </li>
{% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-navigation-panel">
            <div class="holder">
                <div class="tabs-nav-holder">
                    <ul class="tabs-nav divide-x">
                        <li class="{% if request.resolver_match.url_name == 'projects-update' or request.resolver_match.url_name == 'projects-create' %}active{% endif %}">
                            <a href="{% if project %}{% url 'projects-update' project.pk %}{% else %}{% url 'projects-create' %}{% endif %}">
                                Project planning
                            </a>
                        </li>
                        <li class="{% if request.resolver_match.url_name == 'activity-plans-list' or request.resolver_match.url_name == 'activity-plans-create' or request.resolver_match.url_name == 'activity-plans-update' or request.resolver_match.url_name == 'projects-import-activity-plans' %}active{% endif %}">
                            <a href="{% if project %}{% url 'activity-plans-list' project.pk %}{% else %}#{% endif %}">Activity Plans</a>
                        </li>
                        <li class="{% if request.resolver_match.url_name == 'target-locations-list' or request.resolver_match.url_name == 'target-locations-create' or request.resolver_match.url_name == 'target-locations-update' %}active{% endif %}">
                            <a href="{% if project %}{% url 'target-locations-list' project.pk %}{% else %}#{% endif %}">Targeted Locations</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {% if project and not activity_plan %}
            <div class="flex flex-col gap-2 pt-2 pb-2">
                <div>
                    <span>Project</span>
                    <div class="input-holder">
                        <span class="text-read-only">{{ project.code }} - {{ project.title }}</span>
                    </div>
                </div>
                <div>
                    <span>Duration</span>
                    <div class="input-holder">
                        <span class="text-read-only">From {{ project.start_date }} to {{ project.end_date }}</span>
                    </div>
                </div>
            </div>
        {% endif %}
 
        <div class="main-content">
            {% block project_contents %}
            {% endblock project_contents %}
 
            {% block project_form_scripts %}
            {% endblock project_form_scripts %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="module" src="{% static 'js/utils/exportSW.js' %}"></script>
{% endblock scripts %}
