{% extends "rh/projects/forms/project_form_base.html" %}

{% block header %}
{% endblock header %}

{% block project_contents %}
<div class="project-title-holder">
    <h2 class="plan-title">{{ project.title }}</h2>
</div>
<div class="main-content">
    <div class="project-options-panel">
        <div class="top-block">
        </div>
        <div class="bottom-block">
            <div class="actions-panel">
                <a href="#" class="btn btn-gray"><span class="btn-text">Upload document</span><span
                        class="icon-upload"></span></a>

                <a href="#" class="btn btn-gray"><span class="btn-text">Copy project</span><span
                        class="icon-copy-outline"></span></a>

                <div class="export-formats-holder">
                    <a href="#" class="btn btn-gray export-open">
                        <span class="btn-text">Export</span>
                        <span class="icon-download"></span>
                    </a>
                    <div class="export-formats">
                        <span class="title">File format</span>
                        <ul class="formats-list">
                            <li>
                                <div class="input-check-holder">
                                    <input type="radio" id="radio1" name="exportFormat" />
                                    <label for="radio1">
                                        <span class="input"></span>
                                        <span class="text">Docs</span>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="input-check-holder">
                                    <input type="radio" id="radio2" name="exportFormat" />
                                    <label for="radio2">
                                        <span class="input"></span>
                                        <span class="text">CVS</span>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="input-check-holder">
                                    <input type="radio" id="radio3" name="exportFormat" />
                                    <label for="radio3">
                                        <span class="input"></span>
                                        <span class="text">Excel</span>
                                    </label>
                                </div>
                            </li>

                            <li>
                                <div class="input-check-holder">
                                    <input type="radio" id="radio4" name="exportFormat" />
                                    <label for="radio4">
                                        <span class="input"></span>
                                        <span class="text">PDF</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <a href="#" class="btn btn-gray">
                    <span class="btn-text">Delete</span>
                    <span class="icon-trashbin-outline"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="project-plan read-only">
        <div class="row">
            <div class="col">
                <div class="input-field">
                    <span class="label">Project title</span>
                    <div class="input-holder">
                        <span id="title" class="text-read-only">{{ project.title }}</span>
                    </div>
                </div>
                <div class="input-field">
                    <span class="label">Project code</span>
                    <div class="input-holder">
                        <span class="text-read-only">{{ project.code }}</span>
                    </div>
                </div>
                <div class="select-field ">
                    <span class="label">Clusters</span>
                    <span class="text-read-only m2m-badges">
                        {% for cluster in project.clusters.all %}
                        <span class="btn btn-red"> {{ cluster.title }}</span>
                        {% endfor %}
                    </span>
                </div>
                <div class="select-field ">
                    <span class="label">Project donor</span>
                    <span class="text-read-only m2m-badges">
                        {% for donor in project.donors.all %}
                        <span class="btn btn-red"> {{ donor.name }}</span>
                        {% endfor %}
                    </span>
                </div>
                <div class="select-field ">
                    <span class="label">Implementing Partners</span>
                    <span class="text-read-only m2m-badges">
                        {% for implementing_partner in project.implementing_partners.all %}
                        <span class="btn btn-red"> {{ implementing_partner.code }}</span>
                        {% endfor %}
                    </span>
                </div>
                <div class="select-field ">
                    <span class="label">Programme Partners</span>
                    <span class="text-read-only m2m-badges">
                        {% for programme_partner in project.programme_partners.all %}
                        <span class="btn btn-red"> {{ programme_partner.code }}</span>
                        {% endfor %}
                    </span>
                </div>
            </div>
            <div class="col col-sm">
                <div class="date-picker-field">
                    <div class="date start">
                        <span class="label">Start Date</span>
                        <span class="text-read-only">{{ project.start_date | date:'d M, Y' }}</span>
                    </div>
                    <div class="date end">
                        <span class="label">End Date</span>
                        <span class="text-read-only">{{ project.end_date | date:'d M, Y' }}</span>
                    </div>
                </div>
                <div class="multiple-fields-row">
                    <div class="field-col">
                        <div class="input-field">
                            <span class="label">Project budget</span>
                            <div class="input-holder">
                                <span class="text-read-only">{{ project.budget }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="field-col">
                        <span class="label">Currency</span>
                        <div class="select-field ">
                            <span class="text-read-only">{{ project.budget_currency }}</span>
                        </div>
                    </div>
                </div>
                <div class="multiple-fields-row">
                    <div class="field-col">
                        <div class="input-field">
                            <span class="label">Budget Received</span>
                            <div class="input-holder">
                                <span class="text-read-only">{{ project.budget_received }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="field-col">
                        <div class="input-field">
                            <span class="label">Budget Gap</span>
                            <div class="input-holder">
                                <span class="text-read-only">{{ project.budget_gap }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="multiple-fields-row">
                    <div class="field-col">
                        <div class="input-field">
                            <span class="label">Is HRP Project?</span>
                            <div class="input-holder">
                                <span class="text-read-only">
                                    {% if project.is_hrp_project %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                    {% if project.is_hrp_project %}
                    <div class="field-col">
                        <div class="input-field">
                            <span class="label">Has HRP Code?</span>
                            <div class="input-holder">
                                <span class="text-read-only">
                                    {% if project.has_hrp_code %}
                                    Yes
                                    {% else %}
                                    No
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if project.has_hrp_code %}
                <div class="input-field">
                    <span class="label">HRP project code</span>
                    <div class="input-holder">
                        <span class="text-read-only">{{ project.hrp_code }}</span>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col col-lg">
                <div class="select-field ">
                    <span class="label">Activity Domains</span>
                    <span class="text-read-only m2m-badges">
                        {% for activity_domain in project.activity_domains.all %}
                        <span class="btn btn-red"> {{ activity_domain.name }}</span>
                        {% endfor %}
                    </span>
                </div>
                <div class="select-field">
                    <span class="label">Focal point</span>
                    <div class="input-holder">
                        <span class="text-read-only">
                            {% if project.user.first_name %} {{ project.user.first_name }} {% endif %}
                            {% if project.user.last_name %} {{ project.user.last_name }} {% endif %}
                            {% if project.user.username %} | {{ project.user.username }} {% endif %}
                            {% if project.user.profile.position %} | {{ project.user.profile.position }} {% endif %}
                            {% if project.user.profile.phone %} | {{ project.user.profile.phone }} {% endif %}
                            {% if project.user.email %} | {{ project.user.email }} {% endif %}
                        </span>
                    </div>
                </div>
                <div class="input-field ">
                    <span class="label">Project description &amp; objectives</span>
                    <div class="input-holder">{{ project.description | linebreaksbr }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="activity-planning read-only">
        <div class="activity-block-holder">
            <div class="top-activity-block">
                <span class="activity-title">
                    <span>
                    Activities Planning
                    </span>
                    <span class="btn btn-red" style="float:right"> {{ activity_plans | length }}</span>
                </span>
                
            </div>
        </div>
    </div>

    {% for activity_plan in activity_plans %}
    <div class="activity-planning read-only">
        <div class="activity-acc-block activity-acc-accordion">
            <div class="inner-holder">
                <div class="review-block-top activity-acc-accordion-opener">
                    <span class="title">
                        {{ activity_plan.activity_domain }},
                        {{ activity_plan.activity_type }}{% if activity_plan.activity_detail %}, {{ activity_plan.activity_detail }}{% endif %}
                    </span>
                    <div class="block-activity">
                        <span class="people">
                            <span class="icon-group"></span>
                            {{ activity_plan.total_target }}
                        </span>
                    </div>
                </div>
                <div class="activity-acc-accordion-slide">
                    {% if activity_plan.total_set_target > 0 %}
                    <div class="field-col">
                        <div class="input-field">
                            <span class="label">Total Set Target</span>
                            <div class="input-holder">
                                <span class="text-read-only">{{ activity_plan.total_set_target }}</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col">
                            <div class="multiple-fields-row two-items">
                                <div class="field-col">
                                    <div class="select-field">
                                        <span class="label">Activity Domain</span>
                                        <span class="text-read-only">{{ activity_plan.activity_domain }}</span>
                                    </div>
                                </div>
                                <div class="field-col">
                                    <div class="select-field">
                                        <span class="label">Activity Type</span>
                                        <span class="text-read-only">{{ activity_plan.activity_type }}</span>
                                    </div>
                                </div>
                            </div>
                            {% if activity_plan.activity_detail %}
                            <div class="select-field">
                                <span class="label">Activity Details</span>
                                <span class="text-read-only">{{ activity_plan.activity_detail }}</span>
                            </div>
                            {% endif %}
                            <div class="select-field">
                                <span class="label">Indicator</span>
                                <span class="text-read-only">
                                    {{ activity_plan.indicator.name }} <br>
                                </span>
                            </div>
                        </div>

                        <div class="col col-lg">
                            <div class="multiple-fields-row">
                                <div class="field-col">
                                    <div class="select-field">
                                        <span class="label">Beneficiary</span>
                                        <span class="text-read-only">{{ activity_plan.beneficiary }}</span>
                                    </div>
                                </div>
                                <div class="field-col">
                                    <div class="select-field">
                                        <span class="label">Beneficiary Category</span>
                                        <span class="text-read-only">{{ activity_plan.beneficiary_category }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg">
                            <div class="multiple-fields-row">
                                {% if activity_plan.package_type %}
                                    <div class="field-col">
                                        <div class="select-field">
                                            <span class="label">Package Type</span>
                                            <span class="text-read-only">{{ activity_plan.package_type }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if activity_plan.unit_type %}
                                <div class="field-col">
                                    <div class="select-field">
                                        <span class="label">Unit Type</span>
                                        <span class="text-read-only">{{ activity_plan.unit_type }}</span>
                                    </div>
                                </div>
                                {% endif %}
                                {% if activity_plan.grant_type %}
                                <div class="field-col">
                                    <div class="select-field">
                                        <span class="label">Grant Type</span>
                                        <span class="text-read-only">{{ activity_plan.grant_type }}</span>
                                    </div>
                                </div>
                                {% endif %}
                                {% if activity_plan.transfer_category %}
                                <div class="field-col">
                                    <div class="select-field">
                                        <span class="label">Transfer Category</span>
                                        <span class="text-read-only">{{ activity_plan.transfer_category }}</span>
                                    </div>
                                </div>
                                {% endif %}
                                {% if activity_plan.currency %}
                                <div class="field-col">
                                    <div class="select-field">
                                        <span class="label">Currency</span>
                                        <span class="text-read-only">{{ activity_plan.currency }}</span>
                                    </div>
                                </div>
                                {% endif %}
                                {% if activity_plan.transfer_mechanism_type %}
                                <div class="field-col">
                                    <div class="select-field">
                                        <span class="label">Transfer Mechanism Type</span>
                                        <span class="text-read-only">{{ activity_plan.transfer_mechanism_type }}</span>
                                    </div>
                                </div>
                                {% endif %}
                                {% if activity_plan.implement_modility_type %}
                                <div class="field-col">
                                    <div class="select-field">
                                        <span class="label">Implementation Modility Type</span>
                                        <span class="text-read-only">{{ activity_plan.implement_modility_type }}</span>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col col-lg">
                            <div class="input-field">
                                <span class="label">Activity Description</span>
                                <div class="input-holder">
                                    <span class="text-read-only">{{ activity_plan.description | linebreaksbr }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="target-location-block target-location-accordion">
                        <div class="inner-holder">
                            <a href="#" class="block-top target-location-accordion-opener">
                                <div class="location-block-holder">
                                    <div class="block-top-title">
                                        <div class="title">
                                            Target Locations
                                        </div>
                                    </div>
                                </div>
                                <span class="btn btn-red" style="float:right"> {{ activity_plan.targetlocation_set.all | length }}</span>
                            </a>
                            <div class="target-location-accordion-slide js-acc-hidden">
                            {% for target_location in activity_plan.targetlocation_set.all %}                                
                                <div class="target-location read-only">
                                    <div class="location-block-holder">
                                        <div class="inner-holder">
                                            <div class="block-top">
                                                <span class="title">
                                                    {% if target_location.province %}
                                                    {{ target_location.province }},
                                                    {% endif %}
                                                    {{ target_location.district }}
                                                </span>
                                            </div>
                                            <div class="row">
                                                <div class="col col-lg">
                                                    <div class="multiple-fields-row {% if target_location.zone %}three{% else %}two{% endif %}-items">
                                                        <div class="field-col">
                                                            <div class="select-field">
                                                                <span class="label">Province</span>
                                                                <span class="text-read-only">{{ target_location.province }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="field-col">
                                                            <div class="input-field">
                                                                <span class="label">District</span>
                                                                <div class="input-holder">
                                                                    <span class="text-read-only">{{ target_location.district }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% if target_location.zone %}
                                                        <div class="field-col">
                                                            <div class="input-field">
                                                                <span class="label">Ward/Zone</span>
                                                                <div class="input-holder">
                                                                    <span class="text-read-only">{{ target_location.zone }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                        
                                                    </div>
                                                </div>
                                                <br/>
                                                <div class="col col-lg">
                                                    <div class="multiple-fields-row {% if target_location.nhs_code %}three{% else %}two{% endif %}-items">
                                                        <div class="field-col">
                                                            <div class="select-field ">
                                                                <span class="label">Location Type</span>
                                                                <span class="text-read-only">{{ target_location.location_type }}</span>
                                                            </div>
                                                        </div>

                                                        <div class="field-col">
                                                            <div class="select-field">
                                                                <label class="label">Classification</label>
                                                                <span class="text-read-only">{{ target_location.classification }}</span>
                                                            </div>
                                                        </div>

                                                        {% if target_location.nhs_code %}
                                                        <div class="field-col">
                                                            <div class="input-field">
                                                                <span class="label">NHS Code</span>
                                                                <div class="input-holder">
                                                                    <span class="text-read-only">{{ target_location.nhs_code }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col col-lg">
                                                    <div class="field-col">
                                                        <div class="input-field">
                                                            <span class="label">Facility Monitoring</span>
                                                            <div class="input-holder">
                                                                <span class="text-read-only">
                                                                    {% if target_location.facility_monitoring %}
                                                                    Yes
                                                                    {% else %}
                                                                    No
                                                                    {% endif %}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="row">
                                                {% if target_location.facility_monitoring %}
                                                <div class="col">
                                                    <div class="multiple-fields-row two-items">
                                                        <div class="field-col">
                                                            <div class="select-field">
                                                                <span class="label">Facility / Site Name</span>
                                                                <span class="text-read-only">{{ target_location.facility_name }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="field-col">
                                                            <div class="input-field">
                                                                <span class="label">Facility / Site ID</span>
                                                                <div class="input-holder">
                                                                    <span class="text-read-only">{{ target_location.facility_id }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="multiple-fields-row two-items">
                                                        <div class="field-col">
                                                            <div class="input-field">
                                                                <span class="label">Facility / Site Latitude</span>
                                                                <div class="input-holder">
                                                                    <span class="text-read-only">{{ target_location.facility_lat }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="field-col">
                                                            <div class="input-field">
                                                                <span class="label">Facility / Site Longitude</span>
                                                                <div class="input-holder">
                                                                    <span class="text-read-only">{{ target_location.facility_long }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                            <br/>
                                            <div class="disaggregation-block disaggregation-accordion">
                                                <div class="inner-holder">
                                                    <a href="#" class="block-top disaggregation-accordion-opener">
                                                        <div class="location-block-holder">
                                                            <div class="block-top-title">
                                                                <div class="title">
                                                                    Disaggregations
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span class="btn btn-red" style="float:right"> {{ target_location.disaggregationlocation_set.all | length }}</span>
                                                    </a>
                                                    <div class="disaggregation-accordion-slide">
                                                        {% for disaggregation_location in target_location.disaggregationlocation_set.all %}
                                                            <div class="location-inner-holder">
                                                                <div class="row">
                                                                    <div class="col col-lg">
                                                                        <div class="multiple-fields-row two-items">
                                                                            <div class="field-col">
                                                                                <div class="select-field">
                                                                                    <span class="label">Disaggregation</span>
                                                                                    <span class="text-read-only">{{ disaggregation_location.disaggregation }}</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="field-col">
                                                                                <div class="input-field">
                                                                                    <span class="label">Target</span>
                                                                                    <div class="input-holder">
                                                                                        <span class="text-read-only">{{ disaggregation_location.target }}</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>  
                                                            </div>
                                                            <br/>
                                                            <br/>
                                                        {% endfor %} 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %} 
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="plan-submit-holder">
        <a href="{% url 'create_project_activity_plan' project.pk %}" class="btn btn-gray-outline">Back</a>
        <a href="#" 
            data-url="{% url 'project_submit' project.pk %}"
            data-button="Submit Project" 
            class="btn btn-red show-sw-confirm-button">
            Submit Project
        </a>
    </div>
</div>
{% endblock project_contents %}