{% extends "rh/projects/forms/project_form_base.html" %}
{% load static %}

{% block header %}
{% endblock header %}

{% block project_contents %}
    <div class="project-title-holder">
        <h2 class="plan-title">{{ project.title }}</h2>
    </div>
    <div class="main-content">
        <div class="activity-planning create-activity">
            <!-- MESSAGE SECTION STARTS -->
            {% if messages %}
                <div class="message-container">
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="message-success-alert">
                        {{message}}
                        <span class="close-alert-message">&#x2715;</span>
                    </div>
                    {% elif message.tags == 'error' %}
                    <div class="message-danger-alert">
                        {{message}}
                        <span class="close-alert-message">&#x2715;</span>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
        <!-- MESSAGE SECTION ENDS -->
            <form method="post" enctype="multipart/form-data" id="activity-formset-form">
                <div class="main-heading">
                    <div class="main-activity-holder main-target">
                        <div class="subtitle-holder">
                            <div>
                                <span class="subtitle">Activities Planning</span>
                            </div>
                            <div>
                                <button id="add-activity-form-button" type="button" data-forms-count="{{ activity_plan_formset.management_form.TOTAL_FORMS.value }}" data-form-prefix="{{activity_plan_formset.prefix}}" data-project="{{project.pk}}"
                                    class="btn btn-red">Add Activity
                                </button>
                               
                                <!-- <button type="button"
                                        id="fold-unfold-all"
                                        class="btn btn-gray-outline fold-unfold-all-details">
                                    <span class="icon-chevron-up up hidden" id="fold-icon-up"></span>
                                    <span class="icon-chevron-down down" id="fold-icon-down"></span>
                                    <span class="btn-text hidden" id="all-fold">Collapse All</span>
                                    <span class="btn-text" id="all-unfold">Expand All</span>
                                </button> -->
                            </div>
                        </div>
                        <div class="main-heading"></div>
                    </div>
                </div>
                {{ activity_plan_formset.management_form }} {% csrf_token %}
                
                <div id="activity-formset">
                    {% for form, target_location_formset in combined_formset %}
                        {% include "rh/projects/forms/activity_empty_form.html" with form=form target_location_formset=target_location_formset %}
                        
                    {% endfor %}
                    
                </div>
                <div class="plan-submit-holder">
                    <a href="{% url 'projects-update' project.pk %}"
                       class="btn btn-gray-outline">Back</a>
                    <button type="submit"
                            class="btn btn-red"
                            name="submit_type"
                            value="next_step">Save and Next</button>
                </div>
            </form>
        </div>
    </div>
{% endblock project_contents %}

{% block project_form_scripts %}
    {{ activity_plan_formset.media.js }}
    <script defer src="{% static 'rh/js/activity_planning.js' %}"></script>
{% endblock project_form_scripts %}
