<div class="target_location_form" data-location-prefix="{{ target_location_form.prefix }}">
    {{ target_location_form.id }}
    <div class="location-inner-holder">
        <div class="block-top">
            <div class="title">
                <span id="title-province-{{ target_location_form.prefix }}"></span>
                <span class="location-title" id="title-district-{{ target_location_form.prefix }}"></span>
                <span class="location-title" id="title-site_name-{{ target_location_form.prefix }}"></span>
            </div>
            <div class="block-activity mb-3">
                <div>
                    <button href="#" 
                        {% if target_location_form.instance.pk %} data-url="{% url 'copy_location' project=project.pk location=target_location_form.instance.pk  %}" {% endif %}
                        {% comment %} data-url="{% url 'copy_location' project=project.pk location=target_location_form.instance.pk  %}" {% endcomment %}
                        data-type="copy"
                        data-name="target location" 
                        class="btn btn-gray-outline show-sw-action-popup">
                        <span class="icon-copy"></span>
                        <span class="btn-text">Duplicate</span>
                    </button>
                    <button href="#"
                            {% if target_location_form.instance.pk %} data-url="{% url 'delete_location' target_location_form.instance.pk %}" {% endif %}
                            data-type="delete" 
                            data-name="target location" 
                            class="btn btn-gray-outline show-sw-action-popup">
                        <span class="icon-trashbin"></span>
                        <span class="btn-text">Delete</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="{{ target_location_form.prefix }}" >       
            <!-- ERRORS SECTION STARTS -->
                {% if target_location_form.errors %}
                    <div class="message-container">
                    {% for error in target_location_form.errors %}
                        <div class="message-danger-alert">
                            {{error}}
                            <span class="close-alert-message">&#x2715;</span>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
                <!-- ERRORS SECTION ENDS -->

            <div class="row">
                <div class="col">
                    <div class="multiple-fields-row four-items">
                        <div class="field-col">
                            <div class="select-field is-required">
                                <label for="{{target_location_form.province.id_for_label}}" >Province / State</label>
                                {{ target_location_form.province }}
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-field is-required">
                                <label for="{{target_location_form.district.id_for_label}}">District</label>
                                {{ target_location_form.district }}
                            </div>
                        </div>
                        {% if target_location_form.zone.choices %}
                         <div class="field-col">
                            <div class="input-field">
                                <label for="{{target_location_form.zone.id_for_label}}">Ward / Zone</label>
                                {{ target_location_form.zone }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="field-col">
                            <div class="select-field">
                                <label for="{{target_location_form.facility_site_type.id_for_label}}">Facility Site Type</label>
                                {{ target_location_form.facility_site_type }}
                            </div>
                        </div>
                        <!-- <div class="field-col">
                            <div class="select-field is is-required">
                                <label for="{{target_location_form.classification_for_label}}">Classification</label>
                                {{ target_location_form.classification }}
                            </div>
                        </div> -->

                        {% if target_location_form.nhs_code %}
                        <div class="field-col">
                            <div class="input-field is is-required">
                                <label for="{{target_location_form.nhs_code_for_label}}">NHS Code</label>
                                {{ target_location_form.nhs_code }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                
            </div>
            <div class="row mtb20">
                <div class="col">
                    <div class="field-col">
                        <div class="input-check-holder">
                            {{ target_location_form.facility_monitoring }}
                            <label for="{{ target_location_form.facility_monitoring.id_for_label }}">
                                <span class="input"></span>
                                <span class="text">Facility Monitoring</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mtb20" id="facility_details_{{ target_location_form.prefix }}">
                <div class="col col-lg">
                    <div class="multiple-fields-row two-items">
                        <div class="field-col">
                            <div class="input-field is-required">
                                <label for="{{ target_location_form.facility_name.id_for_label }}">
                                    Facility / Site Name
                                </label>
                                <div class="input-holder">{{ target_location_form.facility_name }}</div>
                            </div>
                        </div>
                         <div class="field-col">
                             <div class="input-field is-required">
                                 <label for="{{ target_location_form.facility_id.id_for_label }}">
                                     Facility / Site ID [HMIS code]
                                 </label>
                                 <div class="input-holder">{{ target_location_form.facility_id }}</div>
                             </div>
                         </div>
                    </div>
                    <div class="multiple-fields-row two-items">
                        <div class="field-col">
                            <div class="input-field">
                                <label for="{{ target_location_form.facility_lat.id_for_label }}">
                                    Facility / Site Latitude
                                </label>
                                <div class="input-holder">{{ target_location_form.facility_lat }}</div>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-field">
                                <label for="{{ target_location_form.facility_long.id_for_label }}">
                                    Facility / Site Longitude
                                </label>
                                <div class="input-holder">{{ target_location_form.facility_long }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="disaggregation-block disaggregation-accordion">
                <div class="inner-holder">
                    <div class="block-top disaggregation-accordion-opener">
                        <div class="location-block-holder">
                            <div class="block-top-title">
                                <div class="title">
                                    Disaggregations
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="disaggregation-accordion-slide">
                        {{ target_location_form.disaggregation_formset.management_form }}
                        {% for disaggregation_form in target_location_form.disaggregation_formset %}
                            {{ disaggregation_form.id }}
                            {% include "rh/projects/forms/disaggregation_empty_form.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

