.login-section {
  position: relative;
  min-height: 100%;
  z-index: 2;

  &.sign-up {
    .input-check-holder {
      margin: 0;
      padding: 4px;
    }

    .btn-holder {
      @include media('>=desktop') {
        padding: 38px 0 45px;
      }
    }
  }

  .decor-holder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(180deg, $white 0%, rgba(255, 255, 255, 0.8) 0.01%, $white 100%);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top center;
    }
  }

  .section-heading {
    @include media('>=laptop') {
      margin: 0 0 54px;
    }
  }
}

.login-form {
  .form-holder {
    max-width: 600px;
    margin: 0 auto;
  }

  .btn-holder {
    padding: 20px 0;

    @include media('>=desktop') {
      padding: 48px 0 40px;
    }

    .btn {
      width: 100%;
    }
  }

  .form-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: $gray-35;

    &:hover {
      color: $red-be;
      text-decoration: underline;
    }
  }
}
