{% extends "_base.html" %}

{% load static %}

{% block title %}
    Profile: {{ profile_user.username }}
{% endblock title %}


{% block breadcrumb_li %}
  <li class=""><a href="{% url 'organizations-show' profile_user.profile.organization.code %}">{{profile_user.profile.organization.code}}</a></li>
  <li class=""><a href="{% url 'users-organization' %}">Members</a></li>
  <li class="current">{{profile_user.username}}</a></li>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="font-bold leading-7 text-red-be">User Information</h1>
    <div class="mt-6 border-t border-gray-e6">
        <dl class="divide-y divide-gray-100">
            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Full Name</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {{ profile_user.profile.name }}
                </dd>
            </div> 
     
            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Email</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 js-copy-field">
                    {{ profile_user.email }}
                </dd>
            </div>
            
            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Position</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {{ profile_user.profile.position }}
                </dd>
            </div>
            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Country</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {{ profile_user.profile.country}}
                </dd>
            </div>

            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Organization</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    <span class="text-read-only m2m-badges">
                        <span class="border border-gray-d1 rounded-full px-4 py-1 bg-gray-f5">{{profile_user.profile.organization}}</span>
                    </span>
                </dd>
            </div>

            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Clusters</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    <span class="text-read-only m2m-badges">
                        {% for cluster in profile_user.profile.clusters.all %}
                            <span class="border border-gray-d1 rounded-full px-4 py-1 bg-gray-f5">{{ cluster.title }}</span>
                        {% endfor %}
                    </span>
                </dd>
            </div>

            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">State</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {% if profile_user.is_active %}
                        <span class="in-progress">Active</span>
                    {% else %} 
                       <span class="draft">Deactive</span> 
                    {% endif %}
                </dd>
            </div>

            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Roles</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {% for group in profile_user.groups.all %}
                        {% if group.name == "ORG_LEAD" %}
                            <span class="completed">Admin</span>
                        {% elif "_CLUSTER_LEADS" in group.name %}
                            <span class="archived">{{ group.name }}</span>
                        {% endif %}
                    {% endfor %}
                </dd>
            </div>

            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Last Login</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {{profile_user.last_login}}
                </dd>
            </div>
            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Date Joined</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {{profile_user.date_joined}}
                </dd>
            </div>
        
            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Other</dt>
                <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                    <div class="flex gap-4">
                        <div class="input-field read-only">
                            <span class="label">Cluster Contact</span>
                            <div class="input-holder">
                                {% if project.is_cluster_contact %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </div>
                        </div>
                        {% if profile_user.profile.skype %}
                        <div class="input-field read-only">
                            <span class="label">Skype</span>
                            <div class="input-holder">
                                <a href="skype:{{ profile_user.profile.skype }}?userinfo">{{ profile_user.profile.skype }}</a>  
                            </div>
                        </div>
                        {% endif %}

                        {% if profile_user.profile.phone %}
                        <div class="input-field read-only">
                            <span class="label">Phone</span>
                            <div class="input-holder">
                                {{profile_user.profile.phone}}
                            </div>
                        </div>
                        {% endif %}

                        {% if profile_user.profile.whatsup %}
                        <div class="input-field read-only">
                            <span class="label">Phone</span>
                            <div class="input-holder">
                                {{profile_user.profile.whatsup }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </dd>
            </div>

            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Actions</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                {% if perms.rh.activate_deactivate_user %}
                    <button id="in-detail-page"
                            class="btn btn-gray"
                            hx-patch="{% url 'users-toggle-status' profile_user.id %}"
                            hx-swap="none"
                            hx-disable-element="in-detail-page"
                            hx-ext="disable-element">
                        {% if profile_user.is_active %}
                            <span class="project-detail icon-trashbin"></span> Deactivate
                        {% else %}
                            Activate
                        {% endif %}
                        <img class="htmx-indicator"
                                id="spinner"
                                alt="spinner"
                                style="width: 1.2rem"
                                src="{% static 'images/spinner.gif' %}" />
                    </button>
                {% endif %}
                  {% if perms.rh.activate_deactivate_user %}
                    <button 
                        class="btn btn-gray"
                        hx-post="{% url 'users-make-admin' user.id %}"
                        hx-swap="none"
                        id="in-detail-page"
                        hx-disable-element="#dectivate-button-{{ user.id }}"
                        hx-ext="disable-element"
                    >
                        Toggle Admin Status
                    </button>
                {% endif %}
                </dd>
            </div>
        </dl>
    </div>
</div>
{% endblock content %}