{% extends "_base.html" %}

{% load static %}

{% block title %}
    Organization Members
{% endblock title %}

{% block breadcrumb_li %}
  <li class=""><a href="{% url 'organizations-show' user.profile.organization.code %}">{{user.profile.organization.code}}</a></li>
  <li class="current">Members</a>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="projects-options-panel">
            <div class="holder">
                <div class="input-holder">
                    <h2>{{ user.profile.organization }} Members</h2>
                </div>
            </div>
             <p class="py-4 rounded flex items-center gap-2">
                <span class="icon-info"></span>
                The below table list your organization's users. 
                You can filter the users by their using the filter sidebar. 
                The actions column in the table lets gives you ability to activate and deactivate users. 
            </p>
        </div>

        <div class="tabs-nav-holder">
            <ul class="tabs-nav">
                <li class=" {% if not request.GET.is_active %}active{% endif %}">
                    <a href="{% url 'users-organization' %}">All Users
                        ({{ users_count }})
                    </a>
                </li>
                <li class=" {% if request.GET.is_active == 'true' %}active{% endif %}">
                    <a href="{{ request.GET.url }}?is_active=true">Active Users
                        (
                        {% if active_users_count %}
                            {{ active_users_count }}
                        {% else %}
                            {{ active_users | length }}
                        {% endif %}
                        )
                    </a>
                </li>
                <li class=" {% if request.GET.is_active == 'false' %}active{% endif %}">
                    <a href="{{ request.GET.url }}?is_active=false">Deactivated Users
                        (
                        {% if deactive_users_count %}{{ deactive_users_count }}{% endif %}
                        )
                    </a>
                </li>
            </ul>
        </div>

        <div class="">
            {% include "users/partials/_users_table.html" %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
