{% extends "../projects_index.html" %}

{% block project_body %}
        
    <div class="two-cols-layout">
        <div class="breadcrumbs-nav-panel">
            <div class="holder">
                <ul class="breadcrumbs">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    {% if parent_page %}
                    <li>
                        <a id="return-url" href="{% url parent_page %}">
                            {% if project.state == 'in-progress' %}
                                Active Projects
                            {% elif project.state == 'draft' %}
                                Draft Projects
                            {% elif project.state == 'archive' %}
                                Archived Projects
                            {% elif project.state == 'done' %}
                                Completed Projects
                            {% endif %}
                        </a>
                    </li>
                    {% endif %}
                    {% if project %}
                        <li class="current">{{ project.code }}</li>
                    {% else %}
                        <li>New Project</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <aside class="sidebar">
            <div class="sidebar-nav-holder">
                <ul class="sidebar-nav">
                    <li class="{% if project_planning %}current{% endif %}">
                        <a href="{% if project %}{% url 'update_project' project.pk %}{% else %}{% url 'create_project' %}{% endif %}">
                            Project Planning
                        </a>
                    </li>
                    <li class="{% if activity_planning %}current{% endif %}">
                        <a class="{% if not project %}disabled-link{% endif %}"
                            href="{% if project %}{% url 'create_project_activity_plan' project.pk %}{% else %}#{% endif %}">Activities
                        Planning</a>
                    </li>
                    <li class="{% if project_review %}current{% endif %}">
                        <a class="{% if not plans %}disabled-link{% endif %}"
                            href="{% if project and plans %}{% url 'project_plan_review' project.pk %}{% else %}#{% endif %}">Review</a>
                    </li>
                </ul>
            </div>
        </aside>
        {% block project_contents %}
        {% endblock project_contents %}
        {% block scripts %}
        {% endblock scripts %}
    </div>
{% endblock project_body %}
