{% extends "../../../_base.html" %}
{% load static %}
{% block page_title %}
    ReportHub - Projects
{% endblock page_title %}
{% block content %}
    {% comment %} Header code goes here e.g. stylesheet links specific to page etc. {% endcomment %}
    {% block header %}
    {% endblock header %}
    <div class="container">
        <div class="page-navigation-panel">
            <div class="holder">
                <div>
                    <ul class="breadcrumbs">
                        {% comment %} <li>
                                <a href="{% url 'home' %}">Home</a>
                                <!-- <a href="{% url 'active_projects' %}">All Projects</a> -->
                        </li> {% endcomment %}
                        {% if project %}
                            <li>
                                <a href="{% url parent_page %}">
                                    {% if project.state == 'in-progress' %}
                                        Active Projects
                                    {% elif project.state == 'draft' %}
                                        Draft Projects
                                    {% else %}
                                        Completed Projects
                                    {% endif %}
                                </a>
                                <!-- <a href="{% url 'active_projects' %}">All Projects</a> -->
                            </li>
                        {% endif %}
                        <li>
                            {% if project %}
                                <a href="{% url 'view_project' project.pk %}">{{ project.code }}</a>
                            {% else %}
                                <a href="#">New Project</a>
                            {% endif %}
                        </li>
                        <li class="breadcrumb-nav current">
                            {% if project_planning %}Project Plan{% endif %}
                            {% if activity_planning %}Activity Planning{% endif %}
                            {% if locations_planning %}Target Locations{% endif %}
                            {% if project_review %}Project Review{% endif %}
                        </li>
                    </ul>
                    {% comment %} <a href="{% url parent_page %}" class="btn-back">
                            {% if project.state == 'in-progress' %}
                                Back To Active Projects
                            {% elif project.state == 'draft' %}
                                Back To Draft Projects
                            {% else %}
                                Back To Completed Projects
                            {% endif %}
                    </a> {% endcomment %}
                </div>
                <div class="tabs-nav-holder">
                    <ul class="tabs-nav">
                        <li class="active">
                            <a href="{% if project %}{% url 'update_project' project.pk %}{% else %}{% url 'create_project' %}{% endif %}">Project
                            plan</a>
                        </li>
                        <li>
                            <a href="{% if project %}{% url 'create_project_budget_progress' project.pk %}{% else %}#{% endif %}">Financial Reports</a>
                        </li>
                        <li>
                            <a href="#">Monthly Progress</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="two-cols-layout">
            <div class="breadcrumbs-nav-panel">
                {% comment %} <div class="holder">
                        <h2 class="plan-title">{{ project.title }}</h2>
                </div> {% endcomment %}
            </div>
            <aside class="sidebar">
                <div class="sidebar-nav-holder">
                    <ul class="sidebar-nav">
                        <li class="{% if project_planning %}current{% endif %}">
                            <a href="{% if project %}{% url 'update_project' project.pk %}{% else %}{% url 'create_project' %}{% endif %}">
                                Project Planning
                            </a>
                        </li>
                        <li class="{% if activity_planning %}current{% endif %}">
                            <a class="{% if not project %}disabled-link{% endif %}"
                               href="{% if project %}{% url 'create_project_activity_plan' project.pk %}{% else %}#{% endif %}">Activity
                            Planning</a>
                        </li>
                        <li class="{% if locations_planning %}current{% endif %}">
                            <a class="{% if not plans %}disabled-link{% endif %}"
                               href="{% if project %}{% url 'create_project_target_location' project.pk %}{% else %}#{% endif %}">Target
                            Locations</a>
                        </li>
                        <li class="{% if project_review %}current{% endif %}">
                            <a class="{% if not locations %}disabled-link{% endif %}"
                               href="{% if project and plans and locations %}{% url 'project_plan_review' project.pk %}{% else %}#{% endif %}">Review</a>
                        </li>
                    </ul>
                </div>
            </aside>
            {% block project_contents %}
            {% endblock project_contents %}
        </div>
    </div>
    {% block scripts %}
    {% endblock scripts %}
{% endblock content %}
