{% extends "rh/projects/forms/project_form_base.html" %}
{% load static %}
{% load compress %}
{% block header %}
{% endblock header %}
{% block project_contents %}
    <div class="project-title-holder">
        <h2 class="plan-title">{{ project.title }}</h2>
    </div>
    <div class="main-content">
        <div class="activity-planning create-activity">
            {% if messages %}
                {% for message in messages %}
                    <div class="section-message-alert">
                        <div class="description">
                            <div class="text">
                                <p class="error-message">{{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                <div class="main-heading">
                    <div class="main-activity-holder main-target">
                        <div class="subtitle-holder">
                            <div>
                                <span class="subtitle">Activities Planning</span>
                            </div>
                            <div>
                                <button type="button"
                                        id="fold-unfold-all"
                                        class="btn btn-gray-outline fold-unfold-all-details">
                                    <span class="icon-chevron-up up hidden" id="fold-icon-up"></span>
                                    <span class="icon-chevron-down down" id="fold-icon-down"></span>
                                    <span class="btn-text hidden" id="all-fold">Collapse All</span>
                                    <span class="btn-text" id="all-unfold">Expand All</span>
                                </button>
                            </div>
                        </div>
                        <div class="main-heading"></div>
                    </div>
                </div>
                <div id="activity-forms">
                    {{ formset.management_form }} {% csrf_token %}
                    {% for form, target_location_formset in combined_formset %}

                        {{ form.id }} {{ form.save }}
                        <input type="hidden"
                               name="project_id"
                               id="project_id"
                               value="{{ project.id }}" />
                        <div class="activity-block-holder js-collapse-expand"
                             data-form-id="{{ form.prefix }}">
                            <div class="inner-holder">
                                <div class="block-activity mb-3">
                                    <div id="{{ form.prefix }}-actions">
                                        <button href="#"
                                                data-url="{% url 'copy_plan' project=project.pk plan=form.instance.pk %}"
                                                data-return-url="{% url 'create_project_activity_plan' project=project.pk %}"
                                                data-type="copy"
                                                data-project=""
                                                class="btn btn-gray-outline show_confirm">
                                            <span class="icon-copy"></span>
                                            <span class="btn-text">Duplicate</span>
                                        </button>
                                        <button href="#"
                                                data-url="{% url 'delete_plan' form.instance.pk %}"
                                                data-return-url="{% url 'create_project_activity_plan' project=project.pk %}"
                                                data-type="delete"
                                                data-project=""
                                                class="btn btn-gray-outline show_confirm">
                                            <span class="icon-trashbin"></span>
                                            <span class="btn-text">Delete</span>
                                        </button>
                                        <button type="submit"
                                                class="btn btn-red save"
                                                value="true"
                                                name="{{ form.prefix }}-save">Save</button>
                                    </div>
                                    <a href="#" class="btn btn-gray-outline collapse-details">
                                        <span class="icon-chevron-up up" id="{{ form.prefix }}-up"></span>
                                        <span class="icon-chevron-down down hidden" id="{{ form.prefix }}-down"></span>
                                        <span class="btn-text" id="{{ form.prefix }}-fold">Collapse</span>
                                        <span class="btn-text hidden" id="{{ form.prefix }}-unfold">Expand</span>
                                    </a>
                                </div>
                                <div class="block-top">
                                    <span class="title">
                                        {% if form.total.value %}
                                            <span class="people">
                                                <span class="icon-group"></span>
                                                <span id="{{ form.prefix }}-people-count">{{ form.total.value }}</span>
                                                -
                                            </span>
                                        {% endif %}
                                        {% if not form.id.value %}
                                            <span>Add New Beneficiary</span>
                                            <br />
                                        {% endif %}
                                        <span id="title-domain-{{ form.prefix }}"></span>
                                        <span id="title-type-{{ form.prefix }}"></span>
                                        <span id="title-detail-{{ form.prefix }}"></span>
                                    </span>
                                    <span class="subtitle"></span>
                                </div>
                                <div id="{{ form.prefix }}-details">
                                    <div class="row">
                                        <div class="col">
                                            <div class="multiple-fields-row three-items">
                                                <div class="field-col">
                                                    <div class="select-field is-required">
                                                        <label for="{{form.activity_domain.id_for_label}}">Activity Domain</label>
                                                        {{ form.activity_domain }}
                                                    </div>
                                                </div>
                                                <div class="field-col">
                                                    <div class="select-field is-required">
                                                        <label for="{{form.activity_type.id_for_label}}">Activity Type</label>
                                                        {{ form.activity_type }}
                                                    </div>
                                                </div>
                                                <div class="field-col">
                                                    <div class="select-field">
                                                        <label for="{{form.activity_detail.id_for_label}}">Activity Detail</label>
                                                        {{ form.activity_detail }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="select-field">
                                                <label for="{{form.indicators.id_for_label}}">
                                                    Indicators [Hold Control/Command button to select
                                                    multiple]
                                                </label>
                                                {{ form.indicators }}
                                            </div>
                                            <div class="multiple-fields-row">
                                                <div class="field-col">
                                                    <div class="select-field">
                                                        <label for="{{form.beneficiary.id_for_label}}">Beneficiary</label>
                                                        {{ form.beneficiary }}
                                                    </div>
                                                </div>
                                                <div class="field-col">
                                                    <div class="select-field">
                                                        <label for="{{form.beneficiary_category.id_for_label}}">Beneficiary Category</label>
                                                        {{ form.beneficiary_category }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="multiple-fields-row three-items">
                                                <div class="field-col">
                                                    <div class="input-check-holder">
                                                        {{ form.facility_monitoring }}
                                                        <label for="{{ form.facility_monitoring.id_for_label }}">
                                                            <span class="input"></span>
                                                            <span class="text">Facility / Site Monitoring</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="field-col">
                                                    <div class="input-check-holder">
                                                        {{ form.age_desegregation }}
                                                        <label for="{{ form.age_desegregation.id_for_label }}">
                                                            <span class="input"></span>
                                                            <span class="text">Gender / Age Desegregation</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="field-col"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="Locations">
                                        <div class="col col-lg">
                                            <div class="stock-block stock-accordion">
                                                <div class="inner-holder">
                                                  <a href="#" class="block-top stock-accordion-opener">
                                                    <div class="location-block-holder">
                                                        <div class="block-top">
                                                            Target Locations
                                                        </div>
                                                    </div>
                                                  </a>
                                                  <div class="stock-accordion-slide">
                                                    {{ target_location_formset.management_form }}
                                                    {% for target_location_form in target_location_formset %}
                                                    {{ target_location_form.id }}
                                                        {% include "rh/projects/forms/target_location_form.html" %}
                                                    {% endfor %}
                                                  </div>
                                                </div>
                                            </div>                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="plan-submit-holder">
                        <a href="{% url 'update_project' project.pk %}"
                           class="btn btn-gray-outline">Back</a>
                        <button type="submit"
                                class="btn btn-red"
                                name="submit_type"
                                value="next_step">Save and Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock project_contents %}

{% block scripts %}
    {{ formset.media.js }}
    {% compress js %}
        <script defer src="{% static 'rh/js/activity_planning.js' %}"></script>
    {% endcompress js %}
{% endblock scripts %}
