<div class="target_location_form" data-location-prefix="{{ target_location_form.prefix }}">
    {{ target_location_form.id }}
    <div class="location-inner-holder">
        <div class="block-activity mb-3">
            <div>
                <button href="#"
                    data-url="{% url 'copy_location' project=project.pk location=target_location_form.instance.pk  %}"
                    data-return-url="{% url 'create_project_activity_plan' project=project.pk %}"
                    data-type="copy"
                    data-record-name="target location"
                    class="btn btn-gray-outline show_confirm"><span class="btn-text">Duplicate</span><span class="icon-copy-outline"></span>
                </button>
                <button href="#"
                    data-url="{% url 'delete_location' target_location_form.instance.pk %}"
                    data-return-url="{% url 'create_project_activity_plan' project=project.pk %}"
                    data-type="delete"
                    data-record-name="target location"
                    class="btn btn-gray-outline show_confirm">
                    <span class="icon-trashbin"></span>
                    <span class="btn-text">Delete</span>
                </button>
            </div>
        </div>
        <div class="block-top">
            <span class="title">
                <span id="title-province-{{ target_location_form.prefix }}"></span>
                <span class="location-title" id="title-district-{{ target_location_form.prefix }}"></span>
                <span class="location-title" id="title-site_name-{{ target_location_form.prefix }}"></span>
            </span>
        </div>
        <div id="{{ target_location_form.prefix }}" >
            
            {% comment %} {% if target_location_formset.can_delete %}
                {% if target_location_form.instance.id %}
                    <div class="field">
                        <label>Delete:</label>
                        {{ target_location_form.DELETE }}
                    </div>
                {% endif %}
            {% endif %} {% endcomment %}
            
            <div class="row">
                
                <div class="col">
                    <div class="multiple-fields-row three-items">
                        <div class="field-col">
                            <div class="select-field is-required">
                                <label for="{{target_location_form.province.id_for_label}}" >Province / State</label>
                                {{ target_location_form.province }}
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-field is-required">
                                <label for="{{target_location_form.district.id_for_label}}">District</label>
                                {{ target_location_form.district }}
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-field">
                                <label for="{{target_location_form.zone.id_for_label}}">Ward / Zone</label>
                                {{ target_location_form.zone }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col">
                    <div class="multiple-fields-row three-items">
                        <div class="field-col">
                            <div class="input-check-holder">
                                {{ target_location_form.site_monitoring }}
                                <label for="{{ target_location_form.site_monitoring.id_for_label }}">
                                    <span class="input"></span>
                                    <span class="text">Site Monitoring</span>
                                </label>
                            </div>
                        </div>
                        <div class="field-col">
                            comment this out
                            <div class="input-check-holder">
                                {{ target_location_form.age_desegregation }}
                                <label for="{{ target_location_form.age_desegregation.id_for_label }}">
                                    <span class="input"></span>
                                    <span class="text">Gender / Age Desegregation</span>
                                </label>
                            </div>
                        </div>
                        <div class="field-col"></div>
                    </div>
                    <div class="multiple-fields-row three-items" id="{{ target_location_form.prefix }}_site_details">
                        <div class="field-col" >
                            <div class="input-field">
                                <label for="{{target_location_form.site_name.id_for_label}}">Site name</label>
                                <div class="input-holder">{{ target_location_form.site_name }}</div>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-field">
                                <label for="{{target_location_form.site_lat.id_for_label}}">Site Latitude</label>
                                <div class="input-holder">{{ target_location_form.site_lat }}</div>
                            </div>
                        </div>
                        <div class="field-col">
                            <div class="input-field">
                                <label for="{{target_location_form.site_long.id_for_label}}">Site Longitude</label>
                                <div class="input-holder">{{ target_location_form.site_long }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="disaggregation-block disaggregation-accordion">
                <div class="inner-holder">
                  <a href="#" class="block-top disaggregation_accordion_opener">
                    <div class="location-block-holder">
                        <div class="block-top">
                            Disaggregations
                        </div>
                    </div>
                  </a>
                  <div class="disaggregation_accordion_slide">
                        {{ target_location_form.disaggregation_formset.management_form }}
                        {% for disaggregation_form in target_location_form.disaggregation_formset %}
                            {{ disaggregation_form.id }}
                            {% include "rh/projects/forms/disaggregation_empty_form.html" %}
                        {% endfor %}
                  </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

