.tabs-nav {
  @extend %listreset;

  display: flex;
  flex-wrap: wrap;
  // gap:0.7rem;
  // margin: 0 -10px;
  font-size: 14px;
  line-height: 1.2;
  margin: 14px auto;
  // margin: 0.8rem 0rem;
  background-color: $gray-fa;
  padding: 10px;
  border: 1px solid $gray-e6;
  border-radius: 0.4rem;
  max-width: fit-content;

  @include media('>=desktop') {
    // margin: 0 -20px;
    font-size: 16px;
  }

  &.tabs-nav-small {
    font-size: 14px;

    @include media('>=desktop') {
      margin: 0 -12px;
    }

    li {
      @include media('>=desktop') {
        padding: 0 12px;
      }
    }
  }

  li {
    padding: 0 10px;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    
    // border: 2px solid $gray-e6;
    // border-top: 2px solid $gray-e6;
    // border-left: 2px solid $gray-e6;
    // border-right: 2px solid $gray-e6;


    // @include media('>=desktop') {
      // padding: 0 20px;
    // }
  }

  a {
    text-decoration: none;
    color: $gray-35;
    padding: 4px 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-transform: capitalize;

    &:after {
      @include transition(background-color);

      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      height: 2px;
      background-color: transparent;
    }

    &:hover {
      &:after {
        background-color: $gray-d3;
      }
    }
  }

  .active {
    background-color: $red-a5;
    border-radius: 0.4rem;

    
    border: 2px solid $red;
    // border-top: 2px solid $red;
    // border-left: 2px solid $red;
    // border-right: 2px solid $red;

    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;

    a {
      color: $white;
    }
  }
}

.page-navigation-panel {
  .tabs-nav {
    a {
      font-weight: 600;
    }
  }
}
