{% load template_tags %}

{% if object_list.paginator.count > 0 %}
<div class="pagination-holder">
    <div class="select-field view-options">
        <ul class="main-nav custom-select">
            <li class="main-nav-item has-drop-down js-main-nav-openclose">
                <label class="main-nav-link openclose-opener">View</label>
                <div class="inner-drop">
                    <ul class="inner-nav">
                        <li class="inner-nav-item">
                            <a href="?{% url_params per_page=10 %}">10</a>
                        </li>
                        <li class="inner-nav-item">
                            <a href="?{% url_params per_page=20 %}">20</a>
                        </li>
                        <li class="inner-nav-item">
                            <a href="?{% url_params per_page=30 %}">30</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div>
        Displaying items {{ object_list.start_index }} - {{ object_list.end_index }} of {{ object_list.paginator.count }}
    </div>

    <div class="pagination-wrapper">
        <ul class="pagination">
            <li class="page-item prev">
                <a class="page-link"
                   href="{% if object_list.has_previous %}?{% url_params page=object_list.previous_page_number %}{% else %}#{% endif %}">
                    Previous
                </a>
            </li>

            {% for page_number in object_list.adjusted_elided_pages %}
                {% if page_number == object_list.paginator.ELLIPSIS %}
                    {{ page_number }}
                {% else %}
                    <li class="page-item {% if object_list.number == forloop.counter %}current-page{% endif %}">
                        <a class="page-link" href="?{% url_params page=page_number %}">{{ page_number }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if object_list.has_next %}
                <li class="page-item next">
                    <a class="page-link"
                       href="?{% url_params page=object_list.next_page_number %}">Next</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}
