{% load compress %}
{% load static %}

<div class="content-block bottom-border table-container">
    {% comment %} Table Actions and filters {% endcomment %}
    <div class="page-top-panel bottom-border">
        <div class="actions-panel">
            <label for="query">Search</label>
            <div class="input-holder row">
                <input type="text" id="query" placeholder="Search Traget Locations" />
            </div>
        </div>

        <div class="actions-panel">
            <a href="{% url 'target-locations-create' project.id %}" class="btn btn-red">New Target Location</a>
        </div>
    </div>

    {% comment %} Table {% endcomment %}
    {% if object_list %}
        <div class="table-wrapper-scrollable">
            <table class="table all-projects-table">
                <thead class="content-block ">
                    <tr> 
                        <th> <strong class="table-title"> Activity Plan</strong> </th>
                            <th> <strong class="table-title"> Location </strong> </th>
                            <th> <strong class="table-title"> State </strong> </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                
                <tbody>
                    <!--Include The Projects Details Here -->
                    {% for row in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'activity-plans-update' row.activity_plan.pk %}" class="">
                                <svg data-slot="icon" width="18px" data-darkreader-inline-stroke="" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"></path>
                                </svg>
                            </a>
                            {{row.activity_plan}}
                        </td>
                        <td> 
                            {% if row.zone %}{{row.zone}}, {% endif %}{% if row.district %}{{row.district}}, {% endif %}{% if row.province %}{{row.province}}, {% endif %}{% if row.country %}{{row.country}}{% endif %} 
                        </td>
                        <td> <span class="{{row.state}}"> {{row.state}} </span> </td>
                        <td>
                            <a href="{% url 'target-locations-update' row.id %}" class="btn btn-gray">Edit</a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="view_nocontent">
            <div class="nocontent_help">
                <h4>No Target Location found. Let's create one!</h4>
            </div>
        </div>
    {% endif %}

    {% comment %} Pagination {% endcomment %}
    {% include 'components/_pagination.html' with object_list=object_list %}
</div>