{% load static %}
{% load humanize %}

<div class="content-block bottom-border table-container">
    <div class="progress bg-red h-0.5">
        <div class="indeterminate bg-white"></div>
    </div>
    {% comment %} Table Actions and filters {% endcomment %}
    <div class="page-top-panel bottom-border">
        <div class="actions-panel">
            <!-- filter applied  -->
            <div class="filter-container" id="filter-container">
                {% for field in target_locations_filter.form %}
                    {% if forloop.first %}<span>Applied Filters:</span>{% endif %}
                    {% if field.value %}
                        <span class="filter-item title" id="title">{{ field.label }}</span>
                        {% if forloop.last %}<span class="close-alert-message">x</span>{% endif %}
                    {% endif %}
 
                {% endfor %}
            </div>
            <!-- filter applied end -->
        </div>
        <div class="actions-panel">{% include "components/_filter_drawer.html" with filter=target_locations_filter %}</div>
    </div>

    {% comment %} Table {% endcomment %}
    {% if object_list %}
        <div class="table-wrapper-scrollable">
 
            <table class="table all-projects-table">
                <thead class="content-block ">
                    <tr>
                        <th>
                            <strong class="table-title">Activity Plan</strong>
                        </th>
                        <th>
                            <strong class="table-title">Location</strong>
                        </th>
                        <th>
                            <strong class="table-title">Total Beneficiaries</strong>
                        </th>
                        <th>
                            <strong class="table-title">State</strong>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
 
                <tbody>
                    <!--Include The Projects Details Here -->
                    {% for row in object_list %}
                        <tr>
                            <td>
                                {{ row.activity_plan }}
                                <a target="_blank" href="{% url 'activity-plans-update' row.activity_plan.pk %}" class="ml-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                    </svg>
                                </a>
                            </td>
                            <td>
                                {% if row.zone %}{{ row.zone }},{% endif %}
                                {% if row.district %}{{ row.district }},{% endif %}
                                {% if row.province %}{{ row.province }},{% endif %}
                                {% if row.country %}{{ row.country }}{% endif %}
                            </td>
                            <td> {{ row.total_target|intcomma }} </td>
                             <td class="flex items-center gap-2">
                                <span class="h-4 w-4 rounded-full
                                        {% if row.state == 'draft' %}bg-yellow{% endif %}
                                        {% if row.state == 'in-progress' %}bg-green-light{% endif %}
                                        {% if row.state == 'archived' %}bg-gray{% endif %}
                                        {% if row.state == 'completed' %}bg-gray-d1{% endif %}
                                    "
                                >
                                </span>
                                <select 
                                    hx-post="{% url 'target-locations-update-state' row.id %}" 
                                    hx-trigger="change" 
                                    hx-swap="none"
                                    hx-indicator=".progress"
                                    name="state"
                                    class=""
                                    style="width: unset;padding:1px 6px;height:36px;appearance:auto;"
                                    hx-on::after-request="
                                        const selectedClass = this.value;
                                        const previousElement = this.previousElementSibling;
                                        previousElement.classList.remove('draft', 'in-progress', 'archived','completed'); // remove other classes
                                        previousElement.classList.add(selectedClass); // add selected class
                                    "
                                >
                                    {% for state in row.get_available_states %}
                                        <option 
                                            value="{{ state }}" 
                                            {% if state == row.state %}selected{% endif %}
                                        >
                                            {{state}}
                                        </option>
                                    {% endfor %}
                                </select>
                                
                            </td>
                            <td>
                                <div class="table-flex-holder">
                                    <ul class="table-options-buttons ">
                                        <li>
                                            <a href="{% url 'target-locations-update' row.id %}"
                                               class="btn btn-gray">Edit</a>
                                        </li>
                                        <li>
                                            <button>
                                                <a hx-delete="{% url 'target-locations-delete' row.id %}"
                                                    hx-indicator=".progress"
                                                    hx-trigger="click"
                                                    hx-swap="outerHTML swap:1s"
                                                    hx-confirm="Do you want to delete `{{ row }}` and its dependencies ? WARNING: All reports associated with this Target Location will be deleted!!"
                                                    hx-target="closest tr"
                                                    data-tippy-content="Delete Target Location"
                                                    hx-on:htmx:after-request="if(!event.detail.successful){ alert('Cant delete TargetLocation. it already has a report.'); }"
                                                >
                                                    <span class="project-detail icon-trashbin"></span>
                                                </a>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="view_nocontent">
            <div class="nocontent_help">
                <h4>No Target Location found. Let's create one!</h4>
            </div>
        </div>
    {% endif %}

    {% comment %} Pagination {% endcomment %}
    {% include "components/_pagination.html" with object_list=object_list %}
</div>
