{% extends "rh/projects/forms/project_form_base.html" %}
{% load static %}

{% block page_title %} 
    New Target Location 
{% endblock page_title %}


{% block project_contents %}
    <div class="project-title-holder" style="display: flex;">
        <h2 class="plan-title"> Activity Plan: {{activity_plan}}</h2>
    </div>

    <div class="main-content">
        <div class="activity-planning create-activity">
            <div id="activity-formset-form">
                <div class="activity-planning read-only">
                    <div class="activity-block-holder">
                        <div class="top-activity-block">
                            <span class="activity-title">
                                <span>
                                    New Target Location
                                </span>
                            </span>
                            <br>
                            <span class="">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quod quam fugiat aperiam sint, blanditiis pariatur perspiciatis officiis ipsa at accusantium cupiditate magni voluptatum odio ipsam voluptatem error necessitatibus molestiae!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="target-location-form">
                    {{ form.as_p }}
                </div>
            </div>
        </div>
    </div>
{% endblock project_contents %}

{% block project_form_scripts %}
    <script defer src="{% static 'rh/js/activity_planning.js' %}"></script>
{% endblock project_form_scripts %}
