{% extends "rh/projects/forms/project_form_base.html" %}

{% load static %}
{% load humanize %}

{% block title %}
    {% if target_location_form.initial %}
        Edit Target Location
    {% else %}
        Add Target Location
    {% endif %}
{% endblock title %}

{% block breadcrumb_li %}
    {{block.super}}
<li>
    <a href="{% url 'activity-plans-update' activity_plan.id %}">{{activity_plan}}</a>
</li>
    <li> <a href="{% if project %}{% url 'target-locations-list' project.pk %}{% else %}#{% endif %}">Targeted Locations</a> </li>
    {% if target_location_form.instance.id %}
        <li class="current">Update Target Location</li>
    {% else %}
        <li class="current">Create Target Location</li>
    {% endif %}
{% endblock breadcrumb_li %}

{% block project_contents %}
    <div class="flex flex-col gap-2 pt-2 pb-2">
        <div>
            <span class="label">Activity Plan Domain | Type</span>
            <div class="input-holder">
                <span class="text-read-only">{{ activity_plan.activity_type }} | {{ activity_plan.activity_domain }}</span>
            </div>
        </div>
        <div >
            <span class="label">Activity Plan Indicator</span>
            <div class="input-holder">
                <span class="text-read-only">{{ activity_plan.indicator }}</span>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="activity-planning read-only">
            <div class="activity-block-holder">
                <div class="top-activity-block">
                    <span class="activity-title">
                        <span>
                            {% if target_location_form.initial %}
                                Update Target Location of Activity 
                            {% else %}
                                Add Target Location for Activity 
                            {% endif %}
                        </span>
                    </span>
                    <br>
                    <ul class="space-y-2 p-4 border border-gray-e6 rounded">
                        <li>
                            <span class="icon-info mr-2"></span>
                            Use this form to provide detailed information about the target location for the above activity plan, including the country, province or state, and other relevant details.
                        </li>
                        <li>
                            <span class="icon-info mr-2"></span>
                             Also specify the number of people you aim to reach with your activity in the selected location from the Disaggregation section.
                        </li>
                        <li><span class="icon-info mr-2"></span> Required fields are marked with * </li>
                    </ul>
                </div>
            </div>
        </div>

        <form action="" method="post" class="form-container">
            <div class="progress bg-red h-0.5">
                <div class="indeterminate bg-white"></div>
            </div>
            {% csrf_token %}
            <div class="inner-holder">
                <div class="row">
                    <div class="col">
                        <div class="multiple-fields-row four-items">
                            <div class="field-col">
                                <div class="select-field is-required">
                                    <label for="{{ target_location_form.country.id_for_label }}">Country</label>
                                    {{ target_location_form.country }}
                                    <div class="sign-up-field-error">{{ target_location_form.country.errors }}</div>
                                </div>
                            </div>
                            <div class="field-col">
                                <div class="select-field is-required">
                                    <label for="{{ target_location_form.province.id_for_label }}">Province / State</label>
                                    <select name="{{ target_location_form.province.name }}"
                                            id="{{ target_location_form.province.id_for_label }}"
                                            hx-get="{% url 'get-locations-details' %}"
                                            hx-target="#{{ target_location_form.district.id_for_label }}"
                                            hx-swap="innerHTML"
                                            hx-trigger="change"
                                            hx-indicator=".progress"
                                            required>
                                        {% for province in target_location_form.province %}{{ province }}{% endfor %}
                                    </select>
                                    <div class="sign-up-field-error">{{ target_location_form.province.errors }}</div>
                                </div>
                            </div>
                            <div class="field-col">
                                <div class="input-field is-required">
                                    <label for="{{ target_location_form.district.id_for_label }}">District</label>
                                    <select name="{{ target_location_form.district.name }}"
                                            id="{{ target_location_form.district.id_for_label }}"
                                            required
                                            {% if target_location_form.zone.choices %} hx-get="{% url 'ajax-load-locations' %}" hx-target="#{{ target_location_form.zone.id_for_label }}" hx-swap="innerHTML" hx-trigger="change" hx-indicator=".progress" {% endif %}>
                                        {% for district in target_location_form.district %}{{ district }}{% endfor %}
                                    </select>
                                    <div class="sign-up-field-error">{{ target_location_form.district.errors }}</div>
                                </div>
                            </div>
                            {% if target_location_form.zone.choices %}
                                <div class="field-col">
                                    <div class="input-field">
                                        <label for="{{ target_location_form.zone.id_for_label }}">Ward / Zone</label>
                                        {{ target_location_form.zone }}
                                        <div class="sign-up-field-error">{{ target_location_form.zone.errors }}</div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="field-col">
                                <div class="input-field">
                                    <label for="{{ target_location_form.implementing_partner.id_for_label }}">Implementing Partner</label>
                                    {{ target_location_form.implementing_partner }}
                                    <div class="sign-up-field-error">{{ target_location_form.implementing_partner.errors }}</div>
                                </div>
                            </div>

                            {% if target_location_form.nhs_code %}
                                <div class="field-col">
                                    <div class="input-field is is-required">
                                        <label for="{{ target_location_form.nhs_code.id_for_label }}">NHS Code</label>
                                        {{ target_location_form.nhs_code }}
                                        <div class="sign-up-field-error">{{ target_location_form.nhs_code.errors }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row" id="">
                    <div class="col col-lg">
                        <div class="multiple-fields-row two-items">
                            {% if cluster_facility %}
                            <div class="field-col input-field input-check-holder flex gap-3">
                                <div class="flex h-6 items-center">
                                    {{ target_location_form.facility_monitoring }}
                                </div>
                                <div>
                                    <label for="{{ target_location_form.facility_monitoring.id_for_label }}" class="font-medium text-gray-900">Facility Monitoring</label>
                                    <p class="help-text">{{ target_location_form.facility_monitoring.help_text }}
                                        Tick this if you want monitor a facility
                                    </p>
                                    <div class="sign-up-field-error">{{ target_location_form.facility_monitoring.errors }}</div>
                                </div>
                            </div>
                            {% endif %}
                            {% if target_location_form.instance.id %}
                                <div class="field-col">
                                    <div class="select-field">
                                        <label for="">State</label>
                                        <div>
                                            <span class="{{ target_location_form.instance.state}}">
                                                {{ target_location_form.instance.state}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if cluster_facility %}
                <div class="row" id="facility_details">
                    <div class="col col-lg">
                        <div class="multiple-fields-row two-items">
                            {% if target_location_form.facility_site_type %}
                                <div class="field-col">
                                    <div class="select-field">
                                        <label for="{{ target_location_form.facility_site_type.id_for_label }}">Facility Site Type</label>
                                        {{ target_location_form.facility_site_type }}
                                        <div class="sign-up-field-error">{{ target_location_form.facility_site_type.errors }}</div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="field-col">
                                <div class="input-field is-required">
                                    <label for="{{ target_location_form.facility_name.id_for_label }}">Facility / Site Name</label>
                                    <div class="input-holder">{{ target_location_form.facility_name }}</div>
                                    <div class="sign-up-field-error">{{ target_location_form.facility_facility_name.errors }}</div>
                                </div>
                            </div> 
                        </div>
                        <div class="multiple-fields-row three-items">
                            <div class="field-col">
                                <div class="input-field is-required">
                                    <label for="{{ target_location_form.facility_id.id_for_label }}">Facility / Site ID [HMIS code]</label>
                                    <div class="input-holder">{{ target_location_form.facility_id }}</div>
                                    <div class="sign-up-field-error">{{ target_location_form.facility_id.errors }}</div>
                                </div>
                            </div>
                            <div class="field-col">
                                <div class="input-field">
                                    <label for="{{ target_location_form.facility_lat.id_for_label }}">
                                        Facility / Site Latitude [Please enter decimal only]
                                    </label>
                                    <div class="input-holder">{{ target_location_form.facility_lat }}</div>
                                    <div class="sign-up-field-error">{{ target_location_form.facility_lat.errors }}</div>
                                </div>
                            </div>
                            <div class="field-col">
                                <div class="input-field">
                                    <label for="{{ target_location_form.facility_long.id_for_label }}">
                                        Facility / Site Longitude [Please enter decimal only]
                                    </label>
                                    <div class="input-holder">{{ target_location_form.facility_long }}</div>
                                    <div class="sign-up-field-error">{{ target_location_form.facility_long.errors }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="disaggregation-block js-inline-admin-formset inline-group divide-y-2"
                     id="{{ disaggregation_formset.prefix }}-group"
                     data-inline-type="tabular"
                     data-inline-formset='{"name":"#{{ disaggregation_formset.prefix }}","options":{"prefix":"{{ disaggregation_formset.prefix }}","addText":"Add Disaggregation","deleteText":"Delete"}}'>
                    <div class="tabular inline-related">
                        <div class="block-top">
                            <h2 class="title">Disaggregations</h2>
                        </div>
                        <p class="pb-4">
                            The Disaggregation list is selected from the Indicator of your Activity plan. If there is someting missing, please contact your cluster.
                        </p>
                        {{ disaggregation_formset.management_form }}
                        <fieldset class="table-wrapper-scrollable">
                            <table class="table border border-solid border-gray-d1 rounded">
                                <thead class="content-block bg-gray-f3">
                                    <tr class="divide-x">
                                        {% for field in disaggregation_formset.form.fields %}
                                            <th class="border-r border-gray-e6 column-{{ field.title }}{% if field.required %} required{% endif %}{% if field.widget.is_hidden %} hidden{% endif %}">
                                                {{ field|capfirst }}
                                            </th>
                                        {% endfor %}
                                        {% if disaggregation_formset.can_delete %}<th>Delete?</th>{% endif %}
                                    </tr>
                                </thead>
 
                                <tbody>
                                    {% for form in disaggregation_formset %}
                                        {% if form.non_field_errors %}
                                            <tr class="row-form-errors">
                                                <td colspan="4">{{ form.non_field_errors }}</td>
                                            </tr>
                                        {% endif %} 
                                        <tr class="form-row {% if forloop.last %}empty-form{% endif %} {% if form.instance.pk %}has_original{% endif %} "
                                            id="{{ disaggregation_formset.prefix }}-{% if forloop.last %}empty{% else %}{{ forloop.counter0 }}{% endif %}">

                                            {% for field in form %}
                                                {% if field.name != "DELETE" %}
                                                    <td class="{% if field.name %}field-{{ field.name }}{% endif %}{% if field.is_hidden %} hidden{% endif %} ">
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </td>
                                                {% endif %}
                                            {% endfor %}

                                            <td class="delete">
                                                {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                </div>
                <div class="plan-submit-holder">
                    {% if target_location_form.initial %}
                        <a id="delete-btn"
                           hx-delete="{% url 'target-locations-delete' target_location_form.initial.id %}"
                           hx-trigger="click"
                           hx-indicator=".progress"
                           hx-confirm="Do you want to delete Target Locations ?"
                           data-tippy-content="Delete Target Location and its disaggregations."
                           class="cursor-pointer btn btn-gray">
                            <span class="project-detail icon-trashbin"></span>
                            Delete
                        </a>
                    {% else %}
                        <a href="#"></a>
                    {% endif %}
                    <div>
                        <input type="submit"
                               name="_addanother"
                               class="btn btn-gray"
                               value="Save and add another">
                        <input type="submit"
                               name="_continue"
                               class="btn btn-gray"
                               value="Save and continue editing">
                        <input type="submit" name="_save" class="btn btn-red" value="Save">
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock project_contents %}

{% block project_form_scripts %}
    <script defer src="{% static 'js/utils/inlines.js' %}"></script>
    <script>
        // Handle Facility Monitoring Toggls
        const facilityMonitoringCheckBox = document.querySelector(`#id_facility_monitoring`);

        function handleFacilityMonitoringToggle() {
            const facilityDetailsDiv = document.querySelector(`#facility_details`);

            if (!facilityMonitoringCheckBox.checked) {
                facilityDetailsDiv.style.display = 'none';
                return
            }

            facilityDetailsDiv.style.display = 'block';
        }

        handleFacilityMonitoringToggle()

        facilityMonitoringCheckBox.addEventListener('change', function() {
            handleFacilityMonitoringToggle()
        });
    </script>
{% endblock project_form_scripts %}
