{% extends "rh/projects/forms/project_form_base.html" %}
{% load static %}

{% block page_title %} 
    New Target Location 
{% endblock page_title %}


{% block project_contents %}
    <div class="project-title-holder" style="display: flex;">
        <h2 class="plan-title"> Activity Plan: {{activity_plan}}</h2>
    </div>

    <div class="main-content">
        <div class="activity-planning create-activity">
            <div id="activity-formset-form">
                <div class="activity-planning read-only">
                    <div class="activity-block-holder">
                        <div class="top-activity-block">
                            <span class="activity-title">
                                <span>
                                    New Target Location
                                </span>
                            </span>
                            <br>
                            <span class="">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quod quam fugiat aperiam sint, blanditiis pariatur perspiciatis officiis ipsa at accusantium cupiditate magni voluptatum odio ipsam voluptatem error necessitatibus molestiae!
                            </span>
                        </div>
                    </div>
                </div>

                <div class="target-location-form">
                    <form action="" method="post" class="form-container">
                        {% csrf_token %}
                        <div id="">       
                            <!-- ERRORS SECTION STARTS -->
                            {% if target_location_form.errors %}
                                <div class="message-container">
                                {% for error in target_location_form.errors %}
                                    <div class="message-danger-alert">
                                        {{error}}
                                        <span class="close-alert-message">&#x2715;</span>
                                    </div>
                                {% endfor %}
                                </div>
                            {% endif %}
                            <!-- ERRORS SECTION ENDS -->

                            <div class="row">
                                <div class="col">
                                    <div class="multiple-fields-row four-items">
                                        <div class="field-col">
                                            <div class="select-field is-required">
                                                <label for="{{target_location_form.province.id_for_label}}" >Province / State</label>
                                                {{ target_location_form.province }}
                                            </div>
                                        </div>
                                        <div class="field-col">
                                            <div class="input-field is-required">
                                                <label for="{{target_location_form.district.id_for_label}}">District</label>
                                                {{ target_location_form.district }}
                                            </div>
                                        </div>
                                        {% if target_location_form.zone.choices %}
                                        <div class="field-col">
                                            <div class="input-field">
                                                <label for="{{target_location_form.zone.id_for_label}}">Ward / Zone</label>
                                                {{ target_location_form.zone }}
                                            </div>
                                        </div>
                                        {% endif %}

                                        {% if  target_location_form.facility_site_type.value %}
                                        <div class="field-col">
                                            <div class="select-field">
                                                <label for="{{target_location_form.facility_site_type.id_for_label}}">Facility Site Type</label>
                                                {{ target_location_form.facility_site_type }}
                                            </div>
                                        </div>
                                        {% endif %}

                                        {% if target_location_form.nhs_code %}
                                        <div class="field-col">
                                            <div class="input-field is is-required">
                                                <label for="{{target_location_form.nhs_code.id_for_label}}">NHS Code</label>
                                                {{ target_location_form.nhs_code }}
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="row mtb20">
                                <div class="col">
                                    <div class="field-col">
                                        <div class="input-check-holder">
                                            {{ target_location_form.facility_monitoring }}
                                            <label for="{{ target_location_form.facility_monitoring.id_for_label }}">
                                                <span class="input"></span>
                                                <span class="text">Facility Monitoring</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mtb20" id="facility_details_{{ target_location_form.prefix }}">
                                <div class="col col-lg">
                                    <div class="multiple-fields-row two-items">
                                        <div class="field-col">
                                            <div class="input-field is-required">
                                                <label for="{{ target_location_form.facility_name.id_for_label }}">
                                                    Facility / Site Name
                                                </label>
                                                <div class="input-holder">{{ target_location_form.facility_name }}</div>
                                            </div>
                                        </div>
                                        <div class="field-col">
                                            <div class="input-field is-required">
                                                <label for="{{ target_location_form.facility_id.id_for_label }}">
                                                    Facility / Site ID [HMIS code]
                                                </label>
                                                <div class="input-holder">{{ target_location_form.facility_id }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="multiple-fields-row two-items">
                                        <div class="field-col">
                                            <div class="input-field">
                                                <label for="{{ target_location_form.facility_lat.id_for_label }}">
                                                    Facility / Site Latitude [Please enter decimal only]
                                                </label>
                                                <div class="input-holder">{{ target_location_form.facility_lat }}</div>
                                            </div>
                                        </div>
                                        <div class="field-col">
                                            <div class="input-field">
                                                <label for="{{ target_location_form.facility_long.id_for_label }}">
                                                    Facility / Site Longitude [Please enter decimal only]
                                                </label>
                                                <div class="input-holder">{{ target_location_form.facility_long }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div 
                                class="disaggregation-block js-inline-admin-formset disaggregation-accordion inline-group" 
                                id="{{ disaggregation_formset.prefix }}-group" 
                                data-inline-type="tabular" 
                                data-inline-formset='{"name":"#{{disaggregation_formset.prefix}}","options":{"prefix":"{{disaggregation_formset.prefix}}","addText":"Add another","deleteText":"Delete"}}'
                            >
                                <div class="inner-holder tabular inline-related">
                                    <div class="block-top disaggregation-accordion-opener">
                                        <div class="location-block-holder">
                                            <div class="block-top-title">
                                                <div class="title">
                                                    Disaggregations
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ disaggregation_formset.management_form }}
                                    <fieldset class="module aligned table-wrapper-scrollable">
                                        <table class="table table-striped ">
                                            <thead class="content-block">
                                                <tr >
                                                    {% for form in disaggregation_formset.empty_form.visible_fields %}
                                                        <th>{{ form.label_tag }}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for form in disaggregation_formset %}
                                                    {% if form.non_field_errors %}
                                                        <tr class="row-form-errors">
                                                            <td colspan="2">{{ form.non_field_errors }}</td>
                                                        </tr>
                                                    {% endif %}
                                                    {% if form.errors %}
                                                        <tr class="row-form-errors">
                                                            <td colspan="2">{{ form.errors }}</td>
                                                        </tr>
                                                    {% endif %}

                                                    <tr
                                                        class="form-row"
                                                        id="{{ disaggregation_formset.prefix }}-{{ forloop.counter0 }}"
                                                    >
                                                         {% for field in form %}
                                                            <td>{{ field }}</td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                                <tr 
                                                    class="form-row empty-form" 
                                                    id="{{ disaggregation_formset.prefix }}-empty"
                                                >
                                                    {% for field in disaggregation_formset.empty_form.visible_fields %}
                                                        <td>{{ field }}</td>
                                                    {% endfor %}
                                                </tr>
                                            </tbody>
                                        </table> 

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                          <div class="plan-submit-holder">
                            <div></div>
                            <div>
                                <input type="submit" name="_addanother" class="btn btn-gray" value="Save and add another">
                                <input type="submit" name="_continue" class="btn btn-gray" value="Save and continue editing" >
                                <input type="submit" name="_save" class="btn btn-red" value="Save" >
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock project_contents %}

{% block project_form_scripts %}
    <script defer src="{% static 'src/js/utils/inlines.js' %}"></script>
    <script defer src="{% static 'rh/js/activity_planning.js' %}"></script>
{% endblock project_form_scripts %}
