{% extends "rh/projects/forms/project_form_base.html" %}

{% load static %}

{% block title %}
    Target Locations
{% endblock title %}

{% block breadcrumb_li %}
    <li class="current">Target Locations</li>
{% endblock breadcrumb_li %}

{% block project_contents %}
    <div class="main-content">
        <div class="activity-planning create-activity">
            <div id="activity-formset-form">
                <div class="activity-planning read-only">
                    <div class="top-activity-block">
                        <span class="activity-title pb-2">
                            <span>Project Target Locations</span>
                        </span>
                        <p class="pt-2">List all target locations of your project.</p>
                    </div>
                </div>
                {% include "rh/target_locations/_target_location_table.html" with object_list=target_locations %}
            </div>
        </div>
    </div>
{% endblock project_contents %}

{% block project_form_scripts %}
{% endblock project_form_scripts %}
