{% extends "../_base.html" %}
{% load static %}
{% load vite %}
{% load compress %}
{% block content %}
<div class="base-section" style="padding-bottom: 20px;">
    <div class="container">
        <div class="page-navigation-panel">
            <div class="holder">
                <div class="tabs-nav-holder">
                    <ul class="tabs-nav">
                        <li>
                            <a href="{% url 'stocks' %}">warehouse locations</a>
                        </li>
                        <li class="active">
                            <a href="{% url 'all_stock_report' %}">Stock report</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="projects-options-panel projects-options-panel-small with-border">
            <div class="holder">
                <div class="actions-panel">
                    <div class="filter-holder">
                        <a href="#" class="btn btn-red filter-open">Filter</a>
                        <form action="#" class="filter-form">
                            <div class="filter-options">
                                <div class="block-top">
                                    <span class="title">Filter</span>
                                    <a class="filter-close" href="#"></a>
                                </div>
                                <div class="block-body">
                                    <div class="select-field">
                                        <label>Region</label>
                                        <select name="region" id="region" class="custom-select">
                                            <option value="placeholder" disabled selected>Region</option>
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                        </select>
                                    </div>
                                    <div class="select-field">
                                        <label>Country</label>
                                        <select name="country" id="country" class="custom-select">
                                            <option value="placeholder" disabled selected>Country</option>
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                        </select>
                                    </div>
                                    <div class="select-field">
                                        <label>Province/ State</label>
                                        <select name="state" id="state" class="custom-select">
                                            <option value="placeholder" disabled selected>Province/ State
                                            </option>
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                        </select>
                                    </div>
                                    <div class="select-field">
                                        <label>District</label>
                                        <select name="district" id="district" class="custom-select">
                                            <option value="placeholder" disabled selected>District</option>
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                        </select>
                                    </div>
                                    <div class="date-picker-field">
                                        <div class="date start">
                                            <input type="text" id="dateStart" name="Start date" placeholder="Start date"
                                                onfocus="(this.type='date')" onblur="(this.type='text')" />
                                        </div>
                                        <div class="date end">
                                            <input type="text" id="dateEnd" name="End date" placeholder="End date"
                                                onfocus="(this.type='date')" onblur="(this.type='text')" />
                                        </div>
                                    </div>
                                    <div class="select-field">
                                        <label>Cluster/Sector</label>
                                        <select name="cluster" id="cluster" class="custom-select">
                                            <option value="placeholder" disabled selected>Cluster/Sector
                                            </option>
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                        </select>
                                    </div>
                                    <div class="select-field">
                                        <label>Organization</label>
                                        <select name="organisation" id="organisation" class="custom-select">
                                            <option value="placeholder" disabled selected>Organization
                                            </option>
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                        </select>
                                    </div>
                                    <div class="select-field">
                                        <label>Activity Domain</label>
                                        <select name="domain" id="domain" class="custom-select">
                                            <option value="placeholder" disabled selected>Activity Domain
                                            </option>
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="block-footer">
                                    <div class="btn-wrapper">
                                        <button type="button" class="btn btn-gray-outline">Reset</button>
                                        <button type="submit" class="btn btn-red">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="export-formats-holder">
                        <a href="#" class="btn btn-gray export-open">
                            <span class="btn-text">Export</span>
                            <span class="icon-download"></span>
                        </a>
                        <div class="export-formats">
                            <span class="title">File format</span>
                            <ul class="formats-list">

                                <li>
                                    <div class="input-check-holder">
                                        <input type="radio" id="radio2" name="exportFormat" />
                                        <label for="radio2">
                                            <span class="input"></span>
                                            <span class="text">CVS</span>
                                        </label>
                                    </div>
                                </li>

                                <li>
                                    <div class="input-check-holder">
                                        <input type="radio" id="radio4" name="exportFormat" />
                                        <label for="radio4">
                                            <span class="input"></span>
                                            <span class="text">PDF</span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 px-lg-5 h-100">
    <div class="row h-100 align-items-center justify-content-center text-left">
        <div class="col-lg-9 align-self-end">
            <div class="projects-options-panel projects-options-panel-small page-top-panel-reports">
                <div class="holder tabs-nav-holder">
                    <div>
                        <ul class="tabs-nav js-tabs-nav tabs-nav-small">
                            <li class="active">
                                <strong><a href="#stock_reports_todo">Stock Reports Todo</a></strong>
                            </li>
        
                            <li class="">
                                <strong><a href="#reports_complete">Stock Reports Completed</a></strong>   
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div id="stock_reports_todo">
                <table class="table responsive-table report-table">
                    <thead>
                        <tr>
                            <th class="month-col">
                                <strong class="table-title">Month</strong>
                            </th>
            
                            <th class="progress-col">
                                <strong class="table-title">Srock Progress Report</strong>
                            </th>
            
                            <th class="date-col">
                                <strong class="table-title">Due date</strong>
                            </th>
            
                            <th class="month-col">
                                <strong class="table-title">Status</strong>
                            </th>
                        </tr>
                    </thead>
                    {% if stock_reports %}
                        <tbody class="cursor-pointer">
                            {% for report in stock_reports %}
                                <tr data-url="{% url 'stock_report' report.id %}">
                                    <td class="month-col" data-title="Month">
                                        <div class="table-flex-holder">
                                            {{ report.created_at|date:"F, Y" }}
                                        </div>
                                    </td>
                                    <td class="progress-col" data-title="Progress Report">Monthly progress for {{ report.created_at|date:"F, Y" }} {% now "r" as todays_date %}</td>
                                
                                    <td class="date-col" data-title="Due date">{{ report.due_date|date:"d F, Y" }}</td>
                                
                                    <td class="date-col" data-title="Status">Pending</td>
                                </tr>    

                            {% endfor %}
                        </tbody>
                    {% endif %}
                </table>                   
            </div>

            <div id="reports_complete">
                <table class="table responsive-table report-table">
                    <thead>
                        <tr>
                            <th class="month-col">
                                <strong class="table-title">Month</strong>
                            </th>
            
                            <th class="progress-col">
                                <strong class="table-title">Srock Progress Report</strong>
                            </th>
            
                            <th class="date-col">
                                <strong class="table-title">Submitted date</strong>
                            </th>
            
                            <th class="month-col">
                                <strong class="table-title">Status</strong>
                            </th>
                        </tr>
                    </thead>
                    {% if submitted_stock_reports %}
                        <tbody class="cursor-pointer">
                            {% for report in submitted_stock_reports %}
                                <tr data-url="{% url 'stock_report' report.id %}">
                                    <td class="month-col" data-title="Month">
                                        <div class="table-flex-holder">
                                            {{ report.created_at|date:"F, Y" }}
                                        </div>
                                    </td>
                                
                                    <td class="progress-col" data-title="Progress Report">Monthly progress for {{ report.created_at|date:"F, Y" }}</td>
                                
                                    <td class="date-col" data-title="Submitted date">{{ report.submitted_at|date:"d F, Y" }}</td>
                                
                                    <td class="date-col" data-title="Status">Submitted</td>
                                </tr>    

                            {% endfor %}
                        </tbody>
                    {% endif %}
                </table>  
            </div>
        </div>
    </div>
</div>

{% comment %} Full Pack relative to location of manage.py file {% endcomment %}
{% vite  'stock/static/stock/stock.js' %}
{% endblock %}