{% extends "_base.html" %}

{% load static %}

{% block head %}
{% endblock head %}

{% block title %}
    Warehouse Name
{% endblock title %}

{% block breadcrumb_li %}
<li ><a href="{% url 'stocks' %}">{{warehouse.name}}</a></li>
<li class="current">Report Periods</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-navigation-panel">
        <div class="holder">
            <div class="tabs-nav-holder">
                <ul class="tabs-nav">
                    <li class="">
                        <a href="{% url 'stocks' %}">
                           Warehouses
                        </a>
                    </li>
                    <li class="active">
                        <a href="">
                            Stock Reports
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-block">
        <div class="activity-planning read-only">
            <div class="flex items-center justify-between pb-2">
                <div class="activity-title">
                    <span>Stock Report Periods</span>
                </div>
                <a href="{% url 'create-report-period' warehouse.id %}" class="btn btn-red add-btn">
                    <svg  viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    Add Report 
                </a>
            </div>
        </div>
        {% include "stock/_report_period_table.html" with object_list=stock_reports %}
        
    </div>
</div>
{% endblock content %}

{% comment %} {% block scripts %}
    <script type="module" src="{% static 'js/utils/exportSW.js' %}"></script>
{% endblock scripts %} {% endcomment %}