{% extends "../_base.html" %}
{% load static %}
{% load vite %}
{% block content %}
  <div class="container px-4 px-lg-5 h-100">
    <div class="row h-100 align-items-center justify-content-center text-left">
      <div class="col-lg-9 align-self-end">
        <h1 class="mb-4 mt-4">Report</h1>
        <div class="card">
          <div class="card-body">

            <h3 class="card-title bg-light p-3">
              Edit submited form will available here 
            </h3>

          </div>
        </div>
      </div>
    </div>
  </div>

{% comment %} Full Pack relative to location of manage.py file {% endcomment %}
{% vite 'stock/static/stock/stock.js' %}

{% endblock content %}
