{% extends "_base.html" %}

{% load static %}

{% block title %}
    Create Stock Report
{% endblock title %}

{% block breadcrumb_li %}
<li> <a href="{% url 'stock-report-period' monthly_report.warehouse_location.id %}"> Report Periods </a> </li>
<li> <a href="{% url 'stocks' %}"> {{ monthly_report.get_state_display }} Stock </a> </li>
<li><a href="{% url 'stock-details-view' monthly_report.id %}">Stock Reports</a></li>
    {% if form.instance.id %}
        <li class="current">Update Stock Report</li>
    {% else %}
        <li class="current">New Stock Report</li>
    {% endif %}

{% endblock breadcrumb_li %}
{% block content %}
<div class="container">
    <div class="content-block top-border">
        <div class="flex flex-col gap-2 pt-3">
            <div class="activity-planning read-only">
                <div class="flex items-center justify-between pb-2">
                    <div class="activity-title">
                        <h2>
                            {{monthly_report.warehouse_location.name}}
                        </h2>
                        <p class="text-read-only">{{monthly_report.warehouse_location.province}} - {{monthly_report.warehouse_location.district}}</p>
                    </div>
                    
                </div>
            </div>
            
        </div>
        <div class="main-content">
            <div class="activity-planning create-activity">
                <div id="activity-formset-form">
                    <div class="activity-planning read-only">
                        <div class="top-activity-block">
                            <span class="activity-title">
                                <span>
                                    {% if form.instance.id %}
                                        Update Stock Report for {{ monthly_report.from_date| date:"F Y" }}
                                    {% else %}
                                        New Stock Report for {{ monthly_report.from_date| date:"F Y" }}
                                    {% endif %}
                                </span>
                            </span>
                            <br>
                            <ul class="space-y-2 ">
                                <li>
                                    <span class="icon-info mr-2"></span> 
                                    Use this form to provide detailed information about the stock report for the above reporting period.
                                </li>
                                <li>
                                    <span class="icon-info mr-2"></span> 
                                    Modify any fields as necessary. Ensure that all updated information is correct and complete.
                                </li>
                                <li>
                                    <span class="icon-info mr-2"></span> 
                                    All the field marked with (*) are required.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="activity_form">
                        <div class="progress bg-red h-0.5">
                            <div class="indeterminate bg-white"></div>
                        </div>
                        <!-- Stock Report Form -->
                        <form method="post" class="form-container">
                            <div class="progress bg-red h-0.5">
                                <div class="indeterminate bg-white"></div>
                            </div>
                            {% csrf_token %}
                            <div class="inner-holder">
                                <div class="row">
                                    <div class="col">
                                        <div class="multiple-fields-row two-items">
                                            <div class="field-col input-field input-check-holder flex gap-3">
                                                <div class="flex h-6 items-center">
                                                    <input type="checkbox" name="id_is_project_stock" id="id_is_project_stock">
                                                </div>
                                                <div for="id_is_project_stock">
                                                    <label for="id_is_project_stock" class="font-medium text-gray-900">Is this a project stock report ?</label>
                                                    <p class="help-text">Select the option if the report is associated with any of your projects available on the platform.</p>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="select-field is-required" id="is-project-report" style="display: none;">
                                                    <label for="{{form.project.id_for_label}}">Projects</label>
                                                    {{ form.project }}
                                                    <div class="sign-up-field-error">{{form.project.errors}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="multiple-fields-row three-items">
                                            <div class="field-col">
                                                <div class="select-field is-required">
                                                    <label for="{{ form.cluster.code_for_label }}">Cluster</label>
                                                    <select name="cluster"
                                                            id="{{ form.cluster.code_for_label }}"
                                                            hx-get="{% url 'get-cluster-stock-type' %}"
                                                            hx-target="#{{ form.stock_item_type.id_for_label }}"
                                                            hx-swap="innerHTML"
                                                            hx-trigger="change"
                                                            required>
                                                            {% for sector in form.cluster %}{{ sector }}{% endfor %}
                                                    </select>
                                                    <div class="sign-up-field-error">{{form.cluster.errors }}</div>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="select-field is-required">
                                                    <label for="{{ form.stock_item_type.id_for_label }}">Stock Type</label>
                                                    <select name="{{ form.stock_item_type.name }}"
                                                            id="{{ form.stock_item_type.id_for_label }}"
                                                            required
                                                            hx-swap="innerHTML"  >
                                                            {% for stockType in form.stock_item_type %}{{ stockType.name }}{% endfor %}
                                                    </select>
                                                    <div class="sign-up-field-error">{{ form.stock_item_type.errors }}</div>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-field">
                                                    <label for="{{form.qty_in_stock.id_for_label}}">No. in Stock</label>
                                                    {{ form.qty_in_stock }}
                                                    <div class="sign-up-field-error">{{form.qty_in_stock.errors}}</div>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="select-field">
                                                    <label for="{{form.stock_purpose.id_for_label}}">Stock Purpose</label>
                                                    {{ form.stock_purpose }}
                                                    <div class="sign-up-field-error">{{form.stock_purpose.errors}}</div>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="select-field">
                                                    <label for="{{form.status.id_for_label}}">Status</label>
                                                    {{ form.status }}
                                                    <div class="sign-up-field-error">{{form.status.errors}}</div>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="input-field">
                                                    <label for="{{form.qty_in_pipeline.id_for_label}}">No. in Pipeline</label>
                                                    {{ form.qty_in_pipeline }}
                                                    <div class="sigin-up-field-error">{{form.qty_in_pipeline.errors}}</div>  
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="select-field">
                                                    <label for="{{form.targeted_groups.id_for_label}}">Targeted Groups</label>
                                                    {{ form.targeted_groups }}
                                                    <div class="sign-up-field-error">{{form.targeted_groups.errors}}</div>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="select-field">
                                                    <label for="{{form.stock_unit.id_for_label}}">Units</label>
                                                    {{ form.stock_unit }}
                                                    <div class="sign-up-field-error">{{form.stock_unit.errors}}</div>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="select-field">
                                                    <label for="{{form.beneficiary_coverage.id_for_label}}">Beneficiary Coverage</label>
                                                    {{ form.beneficiary_coverage }}
                                                    <div class="sign-up-field-error">{{form.beneficiary_coverage.errors}}</div>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="select-field">
                                                    <label for="{{form.unit_required.id_for_label}}">No. of units required</label>
                                                    {{ form.unit_required }}
                                                    <div class="sign-up-field-error">{{form.unit_required.errors}}</div>
                                                </div>
                                            </div>
                                            <div class="field-col">
                                                <div class="select-field">
                                                    <label for="{{form.people_to_assisted.id_for_label}}">No. of people to be assisted</label>
                                                    {{ form.people_to_assisted }}
                                                    <div class="sign-up-field-error">{{form.people_to_assisted.errors}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="plan-submit-holder">
                                    {% if form.initial %}
                                        <a id="delete-one-btn"
                                           hx-delete="{% url 'delete-record-stock-report' form.instance.id %}"
                                           hx-trigger="click"
                                           hx-confirm="Do you want to delete the record ?"
                                           class="cursor-pointer btn btn-gray">
                                            <span class="project-detail icon-trashbin"></span>
                                            Delete
                                        </a>
                                    {% else %}
                                        <a href="#"></a>
                                    {% endif %}
                                    <div>
                                        {% if form.initial %}
                                        <input type="submit" name="_save" class="btn btn-red" value="Update">
                                        {% else %}
                                        <input type="submit"
                                               name="_addanother"
                                               class="btn btn-gray"
                                               value="Save and add another activity">
                                        <input type="submit" name="_save" class="btn btn-red" value="Save">
                                        {% endif %}
                                        
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script>
    document.querySelector("input[type='checkbox']").addEventListener('change',(event)=>{
        const projectField = document.getElementById("is-project-report");
        const projectInputField = document.getElementById("id_project");
            const inputCheckbox = event.currentTarget;
            if(inputCheckbox.checked == true){
                projectField.style.display = "block";
                projectInputField.setAttribute("required","true");
            } else if (inputCheckbox.checked == false){
                projectField.style.display = "none";
                projectInputField.removeAttribute("required");
            }
        });
</script>
{% endblock scripts %}
