{% extends "../_base.html" %}
{% load static %}
{% load vite %}
{% block content %}
<div class="base-section">
    <div class="container">
        <div class="page-navigation-panel">
            <div class="holder">
                <div class="tabs-nav-holder">
                    <ul class="tabs-nav">
                        <li>
                            <a href="{% url 'stocks' %}">warehouse locations</a>
                        </li>
                        <li class="active">
                            <a href="{% url 'stock_report' %}">Stock report</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="projects-options-panel projects-options-panel-small with-border">
            <div class="holder">
                <div class="actions-panel">
                    <div class="filter-holder">
                        <a href="#" class="btn btn-red filter-open">Filter</a>
                        <form action="#" class="filter-form">
                            <div class="filter-options">
                                <div class="block-top">
                                    <span class="title">Filter</span>
                                    <a class="filter-close" href="#"></a>
                                </div>
                                <div class="block-body" data-simplebar>
                                    <div class="select-field">
                                        <label>Region</label>
                                        <select name="region" id="region" class="custom-select">
                                            <option value="placeholder" disabled selected>Region</option>
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                        </select>
                                    </div>
                                    <div class="select-field">
                                        <label>Country</label>
                                        <select name="country" id="country" class="custom-select">
                                            <option value="placeholder" disabled selected>Country</option>
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                        </select>
                                    </div>
                                    <div class="select-field">
                                        <label>Province/ State</label>
                                        <select name="state" id="state" class="custom-select">
                                            <option value="placeholder" disabled selected>Province/ State
                                            </option>
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                        </select>
                                    </div>
                                    <div class="select-field">
                                        <label>District</label>
                                        <select name="district" id="district" class="custom-select">
                                            <option value="placeholder" disabled selected>District</option>
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                        </select>
                                    </div>
                                    <div class="date-picker-field">
                                        <div class="date start">
                                            <input type="text" id="dateStart" name="Start date" placeholder="Start date"
                                                onfocus="(this.type='date')" onblur="(this.type='text')" />
                                        </div>
                                        <div class="date end">
                                            <input type="text" id="dateEnd" name="End date" placeholder="End date"
                                                onfocus="(this.type='date')" onblur="(this.type='text')" />
                                        </div>
                                    </div>
                                    <div class="select-field">
                                        <label>Cluster/Sector</label>
                                        <select name="cluster" id="cluster" class="custom-select">
                                            <option value="placeholder" disabled selected>Cluster/Sector
                                            </option>
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                        </select>
                                    </div>
                                    <div class="select-field">
                                        <label>Organization</label>
                                        <select name="organisation" id="organisation" class="custom-select">
                                            <option value="placeholder" disabled selected>Organization
                                            </option>
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                        </select>
                                    </div>
                                    <div class="select-field">
                                        <label>Activity Domain</label>
                                        <select name="domain" id="domain" class="custom-select">
                                            <option value="placeholder" disabled selected>Activity Domain
                                            </option>
                                            <option value="option1">Option 1</option>
                                            <option value="option2">Option 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="block-footer">
                                    <div class="btn-wrapper">
                                        <button type="button" class="btn btn-gray-outline">Reset</button>
                                        <button type="submit" class="btn btn-red">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="export-formats-holder">
                        <a href="#" class="btn btn-gray export-open">
                            <span class="btn-text">Export</span>
                            <span class="icon-download"></span>
                        </a>
                        <div class="export-formats">
                            <span class="title">File format</span>
                            <ul class="formats-list">
                                <li>
                                    <div class="input-check-holder">
                                        <input type="radio" id="radio1" name="exportFormat" />
                                        <label for="radio1">
                                            <span class="input"></span>
                                            <span class="text">Docs</span>
                                        </label>
                                    </div>
                                </li>

                                <li>
                                    <div class="input-check-holder">
                                        <input type="radio" id="radio2" name="exportFormat" />
                                        <label for="radio2">
                                            <span class="input"></span>
                                            <span class="text">CVS</span>
                                        </label>
                                    </div>
                                </li>

                                <li>
                                    <div class="input-check-holder">
                                        <input type="radio" id="radio3" name="exportFormat" />
                                        <label for="radio3">
                                            <span class="input"></span>
                                            <span class="text">Excel</span>
                                        </label>
                                    </div>
                                </li>

                                <li>
                                    <div class="input-check-holder">
                                        <input type="radio" id="radio4" name="exportFormat" />
                                        <label for="radio4">
                                            <span class="input"></span>
                                            <span class="text">PDF</span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container px-4 px-lg-5 h-100">
    <div class="row h-100 align-items-center justify-content-center text-left">
        <div class="col-lg-9 align-self-end">
            <h1 class="m-5">Report</h1>
            {% if stock_reports %}
            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title bg-light p-3">
                        Stock Reports Todo
                    </h3>

                    <ol class="list-group">
                        {% for report in stock_reports %}
                        <a href="{% url 'stock_report' report.id %}" class="list-group-item list-group-item-action">
                            <li class="d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">{{ report.created_at|date:"F, Y" }}</div>
                                    Monthly Stock Report for {{ report.created_at|date:"F, Y" }}
                                </div>
                                {% now "r" as todays_date %}

                                <span
                                    class="badge bg-{% if todays_date >= report.due_date|date:'r' %}danger {% else %}warning {% endif %}p-2">
                                    Due Date: {{ report.due_date|date:"d F, Y" }}
                                </span>
                            </li>
                        </a>
                        {% endfor %}
                    </ol>
                </div>

            </div>
            {% endif %}

            {% if submitted_stock_reports %}
            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title bg-light p-3">
                        Stock Reports Completed
                    </h3>

                    <ol class="list-group">
                        {% for report in submitted_stock_reports %}
                        <a href="{% url 'stock_report' report.id %}" class="list-group-item list-group-item-action">
                            <li class="d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">{{ report.created_at|date:"F, Y" }}</div>
                                    Monthly Stock Report for {{ report.created_at|date:"F, Y" }}
                                </div>
                                {% now "r" as todays_date %}
                                <span class="badge bg-success p-2">
                                    Submitted Date: {{ report.submitted_at|date:"d F, Y" }}
                                </span>
                            </li>
                        </a>
                        {% endfor %}
                    </ol>
                </div>

            </div>
            {% endif %}

        </div>
    </div>
</div>

{% comment %} Full Pack relative to location of manage.py file {% endcomment %}
{% vite 'stock/static/stock/stock.js' %}
{% endblock %}