{% extends "_base.html" %}

{% load static %}

{% block title %}
    Stocks
{% endblock title %}
{% block breadcrumb_li %}
    {{block.super}}
        <li class="current">{{organization}} Warehouse Lists</li> 
{% endblock breadcrumb_li %}
{% block content %}
    <div class="base-section">
        <div class="container">
            <div class="page-navigation-panel">
                <div class="holder">
                    <div class="tabs-nav-holder">
                        <ul class="tabs-nav">
                            <li class="active">
                                <a href="{% url 'stocks' %}">warehouse locations</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="activity-planning read-only">
                <div class="flex items-center justify-between pb-2">
                    <div class="activity-title">
                        <span>{{organization}} Warehouse Locations</span>
                    </div>
                    <div class="space-x-2">
                        <a href="{% url 'create-warehouse-location' %}" class="btn btn-red">
                            <svg  viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-white">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                            </svg>
                            Add New Warehouse
                        </a>
                    </div>
                </div>
                <p class="">The table below displays all your organizaton warehouse Locaitons </p>
            </div>
            {% include "stock/_stock_table_list.html" with object_list=warehouse_locations %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}
