{% extends "_base.html" %}

{% load static %}

{% block title %} Change Password {% endblock title %}

{% block breadcrumb_li %}
    <li class="current">Change password</li> 
{% endblock breadcrumb_li %}

{% block content %}
    <div class="login-section base-section">
        <div class="decor-holder">
            <img src="{% static 'images/login-decor.webp' %}" alt="Login" fetchpriority="high" />
        </div>
        <div class="container">
            <div class="section-heading">
                <h1 class="title">Password change</h1>
            </div>
            <form method="post" action="" class="login-form">
                <div class="form-holder">
                    {{form.non_field_errors}}
                    {% csrf_token %}
                    <div class="space-y-4">
                        {% for field in form %}
                            <div class="input-field">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                    <div class="error text-red">{{ field.errors|join:", " }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="btn-holder">
                        <button type="submit" class="btn btn-red">Change my password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
