{% extends "_base.html" %}
{% load static %}

{% block page_title %} 
   Change Password 
{% endblock page_title %}


{% block content %}
    <div class="login-section base-section">
        <div class="decor-holder">
            <img src="{% static 'rh/images/login-decor.webp' %}" alt="Login" fetchpriority="high" />
        </div>
        <div class="container">
            <div class="section-heading">
                <h1 class="title">Password change</h1>
                {% comment %}
            <div class="description">
                <div class="text">
                    <p>Enter your email address below, and we’ll email instructions for setting a new one.</p>
                </div>
            </div>
                {% endcomment %}
            </div>
            <form method="post" action="#" class="login-form">
                <div class="form-holder">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="btn-holder">
                        <button type="submit" class="btn btn-red">Change my password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
