{% extends "_base.html" %}

{% load static %}
{% load vite %}

{% block title %}
    Register An Account
{% endblock title %}


{% block content %}
    <div class="login-section sign-up base-section">
        <div class="decor-holder">
            <img src="{% static 'images/login-decor.webp' %}"
                 alt="image description"
                 fetchpriority="high" />
        </div>
        <div class="container">
            <div class="section-heading">
                <h1 class="title">Create Account</h1>
                <div class="description">
                    <div class="text">
                        <p>New to ReportHub? Quickly signup for an account now.</p>
                    </div>
                </div>
            </div>
 
            <form method="post" class="login-form">
                {% csrf_token %}
                <div class="form-holder">
                    {% for field in u_form %}
                        <div class="input-field is-required">
                            {{ field.label_tag }}
                            <div class="input-holder">{{ field }}</div>
                            <div class="sign-up-field-error">{{ field.errors }}</div>
                        </div>
                    {% endfor %}
                    {% for field in p_form %}
                        <div class="input-field is-required">
                            {{ field.label_tag }}
                            {{ field }}
                            <span class="sign-up-field-error">{{ field.errors }}</span>
                        </div>
                    {% endfor %}
                    <div class="input-check-holder">
                        <input type="checkbox" id="check1" required />
                        <label for="check1">
                            <span class="input"></span>
                            <span class="text">
                                I accept the
                                <a href="#" class="terms-link">Terms and Conditions</a>
                            </span>
                        </label>
                    </div>
                    <div class="btn-holder">
                        <button type="submit" class="btn btn-red">Sign Up</button>
                    </div>
                    <div class="form-link-holder text-center">
                        <a href="{% url 'login' %}" class="form-link">Already have account? Log In</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {% comment %} {% vite 'users/static/users/users.js' %} {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script>
        document.querySelectorAll('.custom-select').forEach((select) => {
            const choice = new Choices(select, {
                searchEnabled: true,
                itemSelectText: '',
                removeItemButton: true,
                classNames: {
                    listDropdown: 'choices__list--dropdown',
                },
                shouldSort: false,
            });
        })
    </script>
{% endblock scripts %}
