{% extends '../../_base.html' %}
{% load static %}
{% block content %}
    <div class="login-section base-section">
        <div class="decor-holder">
            <img src="{% static 'rh/images/login-decor.png' %}" alt="Login" />
        </div>
        <div class="container">
            <div class="section-heading">
                <h1 class="title">Activation Email Sent</h1>
                <div class="description">
                    <div class="text">
                        <p>
                            Dear <b>{{ user.profile.name }}</b>,
                            <br />
                            please go to your email <b><a href="mailto:{{ user.email }}">{{ user.email }}</a></b>
                            inbox and click on the activation link to confirm and complete your registration.
                            <br />
                            <b>Note: </b>Check your spam folder if email not found in inbox.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-link-holder text-center">
            <a href="{% url 'login' %}" class="btn btn-red">Login</a>
        </div>
    </div>
{% endblock content %}
