{% extends "../../_base.html" %}
{% load static %}
{% block content %}
    <div class="login-section base-section">
        <div class="decor-holder">
            <img src="{% static 'rh/images/login-decor.png' %}" alt="Login" />
        </div>
        <div class="container">
            <div class="section-heading">
                <h1 class="title">Login</h1>
                <div class="description">
                    <div class="text">
                        <p>Welcome to ReportHub, please LOGIN or REGISTER to continue</p>
                    </div>
                </div>
            </div>
            <!-- MESSAGE SECTION STARTS -->
            {% if messages %}
                <div class="message-container">
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                        <div class="message-success-alert">
                            {{message}}
                            <span class="close-message-alert">&#x2715;</span>
                        </div>
                        {% elif message.tags == 'error' %}
                        <div class="message-danger-alert">
                            {{message}}
                            <span class="close-message-alert">&#x2715;</span>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        <!-- MESSAGE SECTION ENDS -->
            <form method="post" action="#" class="login-form">
                <div class="form-holder">
                    {% csrf_token %}
                    {% if request.GET.next %}<input type="hidden" name="next" id="rh_next" value="{{ request.GET.next }}" />{% endif %}
                    <div class="input-field is-required">
                        <label for="id_email">Email/Username</label>
                        <div class="input-holder">
                            <input type="text"
                                   name="email"
                                   id="id_email"
                                   class="form-control"
                                   placeholder="Email"
                                   required />
                        </div>
                    </div>
                    <div class="input-field is-required">
                        <label for="id_password">Password</label>
                        <div class="input-holder">
                            <input type="password"
                                   class="form-control"
                                   name="password"
                                   id="id_password"
                                   placeholder="Password"
                                   required />
                        </div>
                    </div>
                    <div class="form-link-holder">
                        <a href="{% url 'password_reset' %}" class="form-link">Forgot password?</a>
                    </div>
                    <div class="btn-holder">
                        <button type="submit" class="btn btn-red">Login</button>
                    </div>
                    <div class="form-link-holder text-center">
                        <a href="{% url 'register' %}" class="form-link">Don’t have an account? Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

