{% extends "../../../_base.html" %}
{% load static %}
{% block content %}
    <div class="base-section">
        <div class="container">
            <div class="page-navigation-panel">
                <div class="holder">
                    <div class="link-holder">
                        <a href="{% url 'projects' %}" class="btn-back">Back to All Projects</a>
                    </div>
                    <div class="tabs-nav-holder">
                        <ul class="tabs-nav">
                            <li class="active">
                                <a href="#">Project plan</a>
                            </li>
                            <li>
                                <a href="#">financial reports</a>
                            </li>
                            <li>
                                <a href="#">monthly progress</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="breadcrumbs-nav-panel">
                <div class="holder">
                    <ul class="breadcrumbs">
                        <li>
                            <a href="{% url 'projects' %}">All Projects</a>
                        </li>
                        <li>
                            <a href="{% url 'view_project' project.pk %}" class="current">{{ project.code }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="project-options-panel">
                <div class="top-block">
                    <ul class="project-breadcrumbs">
                        <li>Health sector</li>
                        <li>Afghanistan</li>
                        <li>WASH</li>
                    </ul>
                </div>
                <div class="bottom-block">
                    <div class="actions-panel">
                        <a href="#" class="btn btn-gray"><span class="btn-text">Upload document</span><span class="icon-upload"></span></a>
                        <a href="#" class="btn btn-gray"><span class="btn-text">Copy project</span><span class="icon-copy-outline"></span></a>
                        <div class="export-formats-holder">
                            <a href="#" class="btn btn-gray export-open">
                                <span class="btn-text">Export</span>
                                <span class="icon-download"></span>
                            </a>
                            <div class="export-formats">
                                <span class="title">File format</span>
                                <ul class="formats-list">
                                    <li>
                                        <div class="input-check-holder">
                                            <input type="radio" id="radio1" name="exportFormat" />
                                            <label for="radio1">
                                                <span class="input"></span>
                                                <span class="text">Docs</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-check-holder">
                                            <input type="radio" id="radio2" name="exportFormat" />
                                            <label for="radio2">
                                                <span class="input"></span>
                                                <span class="text">CVS</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-check-holder">
                                            <input type="radio" id="radio3" name="exportFormat" />
                                            <label for="radio3">
                                                <span class="input"></span>
                                                <span class="text">Excel</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="input-check-holder">
                                            <input type="radio" id="radio4" name="exportFormat" />
                                            <label for="radio4">
                                                <span class="input"></span>
                                                <span class="text">PDF</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="btn btn-gray">
                            <span class="btn-text">Delete</span>
                            <span class="icon-trashbin-outline"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="project-plan read-only">
                <div class="row">
                    <div class="col">
                        <div class="input-field">
                            <label>Project title</label>
                            <div class="input-holder">
                                <span class="text-read-only">{{ project.title }}</span>
                            </div>
                        </div>
                        <div class="input-field">
                            <label>Project code</label>
                            <div class="input-holder">
                                <span class="text-read-only">{{ project.code }}</span>
                            </div>
                        </div>
                        <div class="select-field is-required">
                            <label>Clusters</label>
                            <span class="text-read-only">
                                {% for cluster in project.clusters.all %}<span class="btn btn-red">{{ cluster.title }}</span>{% endfor %}
                            </span>
                        </div>
                        <div class="select-field is-required">
                            <label>Project donor</label>
                            <span class="text-read-only">
                                {% for donor in project.donors.all %}<span class="btn btn-red">{{ donor.name }}</span>{% endfor %}
                            </span>
                        </div>
                    </div>
                    <div class="col col-sm">
                        <div class="date-picker-field">
                            <div class="date start">
                                <label>Start Date</label>
                                <span class="text-read-only">{{ project.start_date }}</span>
                            </div>
                            <div class="date end">
                                <label>End Date</label>
                                <span class="text-read-only">{{ project.end_date }}</span>
                            </div>
                        </div>
                        <div class="multiple-fields-row">
                            <div class="field-col">
                                <div class="input-field">
                                    <label>Project budget</label>
                                    <div class="input-holder">
                                        <span class="text-read-only">{{ project.budget }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="field-col">
                                <label>Currency</label>
                                <div class="select-field is-required">
                                    <span class="text-read-only">{{ project.budget_currency }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="input-check-holder">
                            <input type="checkbox" id="prHRP" disabled checked />
                            <label for="prHRP">
                                <span class="input"></span>
                                <span class="text">HRP project</span>
                            </label>
                        </div>
                        <div class="input-field">
                            <label>HRP project code</label>
                            <div class="input-holder">
                                <span class="text-read-only">AFG-HRP-2023-ESNFI-1673249980</span>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg">
                        <div class="select-field is-required">
                            <label>Activity type</label>
                            <span class="text-read-only">
                                {% for activity in project.activities.all %}<span class="btn btn-red">{{ activity.name }}</span>{% endfor %}
                            </span>
                        </div>
                        <div class="select-field">
                            <label>Focal point</label>
                            <div class="input-holder">
                                <span class="text-read-only">{{ project.user.profile.name }}</span>
                            </div>
                        </div>
                        <div class="input-field is-required">
                            <label>Project description &amp; objectives</label>
                            <div class="input-holder">
                                <span class="text-read-only">{{ project.description }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="activity-planning read-only">
                <div class="activity-block-holder">
                    <div class="top-activity-block">
                        <span class="activity-title">Activity Planning</span>
                    </div>
                </div>
            </div>
            {% for activity_plan in activity_plans %}
                <div class="activity-planning read-only">
                    <div class="activity-block-holder">
                        <div class="inner-holder">
                            <div class="block-top">
                                <span class="title">{{ activity_plan.activity }}</span>
                                <div class="block-activity">
                                    <span class="people">
                                        <span class="icon-group"></span>
                                        1657
                                    </span>
                                </div>
                                <span class="subtitle">{{ activity_plan.beneficiary }}</span>
                            </div>
                            <div class="row">
                                <div class="col col-sm">
                                    <div class="select-field">
                                        <label>Activity Domain</label>
                                        <span class="text-read-only">{{ activity_plan.activity }}</span>
                                    </div>
                                    <div class="select-field">
                                        <label>Beneficiary Category</label>
                                        <span class="text-read-only">{{ activity_plan.beneficiary_category }}</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="select-field">
                                        <label>Beneficiary Type</label>
                                        <span class="text-read-only">{{ activity_plan.beneficiary }}</span>
                                    </div>
                                    <div class="multiple-fields-row">
                                        <div class="field-col">
                                            <div class="select-field">
                                                <label>Activity Measurement Unit</label>
                                                <span class="text-read-only">Individuals</span>
                                            </div>
                                        </div>
                                        <div class="field-col">
                                            <div class="select-field">
                                                <label>HRP Status</label>
                                                <span class="text-read-only">HRP beneficiary</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-lg">
                                    <div class="input-field is-required">
                                        <label>Activity Description</label>
                                        <div class="input-holder">
                                            <span class="text-read-only">{{ activity_plan.description }}</span>
                                        </div>
                                    </div>
                                    <div class="input-field">
                                        <label>Gender/Age</label>
                                        <span class="text-read-only">Female 6-12: 6,798; Female 18+: 76,345; Male 0-5: 6,537;
                                        Male: 12-17: 87,649</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="target-location read-only">
                <div class="main-activity-holder">
                    <div class="top-activity-block">
                        <span class="activity-title">Targeted Locations</span>
                    </div>
                </div>
                {% for target_location in target_locations %}
                    <div class="location-block-holder">
                        <div class="inner-holder">
                            <div class="block-top">
                                <span class="title">
                                    {% if target_location.country %}{{ target_location.country }},{% endif %}
                                    {% if target_location.province %}{{ target_location.province }},{% endif %}
                                    {{ target_location.district }}
                                </span>
                                <span class="subtitle">{{ target_location.location_type }}: {{ target_location.site_name }}</span>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="multiple-fields-row three-items">
                                        <div class="field-col">
                                            <div class="select-field is-required">
                                                <label>Country</label>
                                                <span class="text-read-only">{{ target_location.country }}</span>
                                            </div>
                                        </div>
                                        <div class="field-col">
                                            <div class="select-field is-required">
                                                <label>Province</label>
                                                <span class="text-read-only">{{ target_location.province }}</span>
                                            </div>
                                        </div>
                                        <div class="field-col">
                                            <div class="input-field">
                                                <label>District</label>
                                                <div class="input-holder">
                                                    <span class="text-read-only">{{ target_location.district }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="multiple-fields-row three-items">
                                        <div class="field-col">
                                            <div class="select-field">
                                                <label>Type</label>
                                                <span class="text-read-only">{{ target_location.location_type }}</span>
                                            </div>
                                        </div>
                                        <div class="field-col">
                                            <div class="input-field">
                                                <label>Site name</label>
                                                <div class="input-holder">
                                                    <span class="text-read-only">{{ target_location.site_name }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
