<!-- templates/_base.html -->
{% load static %}
{% load compress %}
{% load vite %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block page_title %}
            {% endblock page_title %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
        <meta name="description" content=" " />
        <meta name="keywords" content=" " />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Open+Sans&display=swap"
              rel="stylesheet" />
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'rh/images/favicon/apple-touch-icon.png' %}" />
        <link rel="icon"
              type="image/x-icon"
              sizes="32x32"
              href="{% static 'rh/images/favicon/favicon-32x32.png' %}" />
        <link rel="icon"
              type="image/x-icon"
              sizes="16x16"
              href="{% static 'rh/images/favicon/favicon-16x16.png' %}" />
        <link rel="manifest"
              href="{% static 'rh/images/favicon/site.webmanifest' %}" />
        <link rel="mask-icon"
              href="{% static 'rh/images/favicon/safari-pinned-tab.svg' %}"
              color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <noscript>
            <style>
            /**  * Reinstate scrolling for non-JS clients  */
            .simplebar-content-wrapper {
                scrollbar-width: auto;
                -ms-overflow-style: auto;
            }

            .simplebar-content-wrapper::-webkit-scrollbar,
            .simplebar-hide-scrollbar::-webkit-scrollbar {
                display: initial;
                width: initial;
                height: initial;
            }
            </style>
        </noscript>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
              
        {% vite 'static/src/styles/style.scss' %}
        <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" /> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="wrapper" id="wrapper">
            <div class="wrapper-inner">
                <header class="header logged-in" id="header">
                    <div class="container">
                        <div class="logo-holder">
                            <strong class="logo">
                                <a href="{% url 'index' %}">
                                    <img src="{% static 'rh/images/immap-logo.svg' %}" alt="IMMAP" />
                                </a>
                            </strong>
                            <strong class="logo-text">ReportHub</strong>
                        </div>
                        {% if user.is_authenticated %}
                            <button type="button" class="mobile-menu-opener">
                                <span class="bar bar1"></span>
                                <span class="bar bar2"></span>
                                <span class="bar bar3"></span>
                                <span class="bar bar4"></span>
                            </button>
                            <div class="mobile-menu-holder">
                                <ul class="main-nav">
                                    <li class="main-nav-item">
                                        <a class="main-nav-link" href="{% url 'active_projects' %}">Projects</a>
                                    </li>
                                    <li class="main-nav-item">
                                        <a class="main-nav-link" href="{% url 'stocks' %}">Stocks</a>
                                    </li>
                                    <li class="main-nav-item">
                                        <a class="main-nav-link" href="#">Admin Dashboard</a>
                                    </li>
                                    <li class="main-nav-item">
                                        <a class="main-nav-link" href="#">Account</a>
                                        <div class="inner-drop">
                                            <ul class="inner-nav">
                                                <li class="inner-nav-item">
                                                    <a class="inner-nav-link" href="{% url 'profile' %}">My Profile</a>
                                                </li>
                                                <li class="inner-nav-item">
                                                    <a class="inner-nav-link" href="#">My Cluster/Org</a>
                                                </li>
                                                <li class="inner-nav-item">
                                                    <a href="{% url 'logout' %}" class="inner-nav-link logout-link">Logout</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <div class="header-options-wrapper">
                                <a href="{% url 'login' %}" class="btn btn-red">Login</a>
                                <a href="{% url 'register' %}" class="btn btn-gray-outline">Register</a>
                            </div>
                        {% endif %}
                    </div>
                </header>
                <main id="main" class="main">
                    <div class="base-section">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </main>
                <footer class="footer">
                    <div class="container">
                        <div class="footer-inner">
                            <div class="logo-holder">
                                <strong class="logo">
                                    <a href="#">
                                        <img src="{% static 'rh/images/immap-logo.svg' %}" alt="image description" />
                                    </a>
                                </strong>
                                <strong class="logo-text">ReportHub</strong>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="footer-row">
                                    <div class="footer-col">
                                        <span class="col-label">Contact us</span>
                                        <ul class="footer-list">
                                            <li>
                                                <a href="mailto:&#110;&#103;&#109;&#082;&#101;&#112;&#111;&#114;&#116;&#072;&#117;&#098;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;"
                                                   style="text-decoration: none">&#110;&#103;&#109;&#082;&#101;&#112;&#111;&#114;&#116;&#072;&#117;&#098;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="footer-col">
                                        <span class="col-label">Help Desk</span>
                                        <ul class="footer-list">
                                            <li>
                                                <a href="#">Reporthub Service Desk</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="footer-col">
                                        <span class="col-label">Sources</span>
                                        <ul class="footer-list">
                                            <li>
                                                <a href="#">User Guides</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {% else %}
                                <div class="footer-row alt">
                                    <div class="footer-col">
                                        <ul class="footer-list">
                                            <li>
                                                <span class="col-text">Meeting the Requirements of Humanitarian Reporting</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="footer-col">
                                        <div class="footer-info">
                                            <div class="block-top">
                                                <span class="block-label">Funded by:</span>
                                                <ul class="logos-list">
                                                    <li>
                                                        <a href="#">
                                                            <img src="{% static 'rh/images/usaid.svg' %}" alt="image description" />
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="block-text">
                                                <p>
                                                    ReportHub services is provided through the generous support of the American
                                                    people, and is funded by United States Agency for International Development
                                                    (USAID)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer-col">
                                        <ul class="social-list">
                                            <li>
                                                <a href="#" target="_blank">
                                                    <span class="icon-facebook"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <span class="icon-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank">
                                                    <span class="icon-linkedin"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <!-- jQuery CDN -->
        <script 
            src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"
        >
        </script>

        <!-- Full Pack relative to location of manage.py file -->
        {% vite 'static/src/js/app.js' %}
        
        <script 
            defer 
            src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"
        >
        
        </script>
        <!-- Select2 CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </script>
        
    <script src="{% static 'users/js/profile.js' %}"></script>
    </body>
</html>
