{% extends '_base.html' %}

{% block content %}

<div class="container mx-auto px-4 md:mt-0 sm:max-w-md xl:p-0 ">
    <form class="mx-3 space-y-28 md:space-y-6" action="/add_project/" method="GET" id="projectForm">
        {% csrf_token %}
        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Cluster</label>
            <select class="w-full rounded-lg focus:ring-primary-600 focus:border-primary-600" name="posts"
                id="id_cluster" multiple>
            </select>
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Activity type</label>
            <select class="w-full rounded-lg focus:ring-primary-600 focus:border-primary-600" name="users"
                id="id_activity_type" multiple>
            </select>
        </div>
        <button type="submit"
            class="w-full py-2 px-4 text-sm text-center font-medium  bg-transparent rounded-lg border border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700 bg-blue-700">SAVE</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function () {
        var userUrl = "https://jsonplaceholder.typicode.com/users"

        $.getJSON(userUrl, function (data) {
            $.each(data, function (index, value) {
                $('#id_cluster').append('<option style="background-color:powderblue;" value="' + value.id + '">' + value.name + '</option>');
            });
        });


        $("select#id_cluster").change(function () {

            var selectedUser = $(this).children("option:selected").map(function (_, e) {
                return "&userId=" + e.value
            }).get().join('');

            var postUrl = "https://jsonplaceholder.typicode.com/posts?" + selectedUser

            $.getJSON(postUrl, function (data) {
                $.each(data, function (index, value) {
                    $('#id_activity_type').append('<option value="' + value.id + '">' + value.title + '</option>');
                });
            });

            if ($(this).children("option:selected").empty()) {
                $('#id_activity_type').empty()
            }
        });
    });

    $(document).ready(function () {
        $("#id_cluster").select2({
            placeholder: 'Select Cluster...'
        });
        $("#id_activity_type").select2({
            placeholder: 'Select Activity Type...'
        });
    });
</script>

{% endblock %}