{% extends "_base.html" %}
{% load static %}

{% block content %}
    
    <section class="benefits-section">
    <div class="container">
        <div class="decor-holder">
        <img src="{% static 'rh/images/benefits-section/decor-1.png' %}" alt="image desvription" />
        </div>

        <div class="section-heading">
        <h1 class="title">ReportHub</h1>

        <div class="description">
            <strong class="subtitle">Humanitarian Decision Support in Real-Time</strong>

            <div class="text">
            <p>
                ReportHub provides an easy-to-use system that includes alerts and notifications for a daily reporting workflow, tailored to your needs. Once entered, the
                analytics engine processes key business indicators for decision support made available via interactive dashboards. All of this in real-time.
            </p>
            </div>

            <a href="#" class="btn btn-red">Get started</a>
        </div>
        </div>
        <div class="section-row">
        <div class="section-col">
            <div class="benefit-block">
            <div class="img-holder">
                <img src="{% static 'rh/images/benefits-section/block-1.svg' %}" alt="image description" />
            </div>

            <span class="title">Reporting</span>

            <div class="text-holder">
                <p>ReportHub enables customised reports to capture the required business indicators</p>
            </div>
            </div>
        </div>

        <div class="section-col">
            <div class="benefit-block">
            <div class="img-holder">
                <img src="{% static 'rh/images/benefits-section/block-2.svg' %}" alt="image description" />
            </div>

            <span class="title">Validation</span>

            <div class="text-holder">
                <p>All reports are validated upon entry and can be reviewed to ensure reliability</p>
            </div>
            </div>
        </div>

        <div class="section-col">
            <div class="benefit-block">
            <div class="img-holder">
                <img src="{% static 'rh/images/benefits-section/block-3.svg' %}" alt="image description" />
            </div>

            <span class="title">Notifications</span>

            <div class="text-holder">
                <p>ReportHub schedules alerts and notifications to keep you up-to-date</p>
            </div>
            </div>
        </div>

        <div class="section-col">
            <div class="benefit-block">
            <div class="img-holder">
                <img src="{% static 'rh/images/benefits-section/block-4.svg' %}" alt="image description" />
            </div>

            <span class="title">Data Platform</span>

            <div class="text-holder">
                <p>All data and key indicators are accessible via the analytics engine for in-depth analysis</p>
            </div>
            </div>
        </div>

        <div class="section-col">
            <div class="benefit-block">
            <div class="img-holder">
                <img src="{% static 'rh/images/benefits-section/block-5.svg' %}" alt="image description" />
            </div>

            <span class="title">Dashboards</span>

            <div class="text-holder">
                <p>ReportHub offers a comprehensive data-visualisation and dashboard engine to explore your data</p>
            </div>
            </div>
        </div>

        <div class="section-col">
            <div class="benefit-block">
            <div class="img-holder">
                <img src="{% static 'rh/images/benefits-section/block-6.svg' %}" alt="image description" />
            </div>

            <span class="title">Global</span>

            <div class="text-holder">
                <p>ReportHub scales easily with the capability to cover all your global reporting requirements</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>

    <section class="visual-map-section">
    <div class="container">
        <div class="inner-holder">
        <div class="row">
            <div class="col order-1 order-lg-2">
            <div class="map-holder">
                <img src="{% static 'rh/images/visual-map/map.png' %}" alt="image description" />
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>

    <section class="info-section">
    <div class="container">
        <div class="section-heading section-heading-wide">
        <h2 class="title">METRICS</h2>

        <div class="description">
            <strong class="subtitle">Meeting the Requirements of Humanitarian Reporting</strong>

            <div class="text">
            <p>
                Since its launch in April 2017, ReportHub has significantly contributed to the humanitarian response efforts in Afghanistan by providing decision support in
                real-time. Initially implemented by the Afghanistan Health Cluster in 2016, ReportHub has since been expanded at the request of the ICCT to cover the
                reporting needs of all Afghanistan Humanitarian Clusters and Working Groups. In doing so, ReportHub has become the official HRP reporting platform for
                Afghanistan and is now being expanded into the Horn of Africa. Once partners submit a report, cluster indicators are available in real-time for analysis via
                RESTful APIs, from the dashboard for decision support and with direct links to UNOCHA's HPC tools for HRP reporting. Currently, ReportHub has 3523 Users
                reporting on 52796 Locations for which 30502 beneficiary Reports have been submitted.
            </p>
            </div>
        </div>
        </div>
        <div class="section-row">
        <div class="section-col">
            <div class="info-block">
            <span class="title">Users</span>

            <span class="number">3,523</span>
            </div>
        </div>

        <div class="section-col">
            <div class="info-block">
            <span class="title">Locations</span>

            <span class="number">52,796</span>
            </div>
        </div>

        <div class="section-col">
            <div class="info-block">
            <span class="title">Reports</span>

            <span class="number">30,502</span>
            </div>
        </div>
        </div>
    </div>
    </section>
    
{% endblock content %} 