{% extends "_base.html" %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="w-screen place-content-center bg-gray-100">
    <br/>
    <br/>
    <p class="text-6xl text-center">ReportHub</p>
    <br/>
    <p class="text-center">Humanitarian Decision Support in Real-Time</p>
    <br/>
    <br/>
    <div class="w-screen text-center">
        <div class="inline-flex rounded-md shadow-sm" role="group">
            <a href="{% url 'login' %}" class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-900 bg-transparent rounded-l-lg border border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
              <svg aria-hidden="true" class="mr-2 w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path></svg>
              Login
            </a>
            <a href="" class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-900 bg-transparent border-t border-b border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
              <svg aria-hidden="true" class="mr-2 w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"></path></svg>
              5W Dashbaord
            </a>
            <button type="button" class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-900 bg-transparent rounded-r-md border border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
              <svg aria-hidden="true" class="mr-2 w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2 9.5A3.5 3.5 0 005.5 13H9v2.586l-1.293-1.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 15.586V13h2.5a4.5 4.5 0 10-.616-8.958 4.002 4.002 0 10-7.753 1.977A3.5 3.5 0 002 9.5zm9 3.5H9V8a1 1 0 012 0v5z" clip-rule="evenodd"></path></svg>
              Download
            </button>
          </div>
    </div>
    <br/>
</div>

<div class="w-screen place-content-center">
  <br>
  <p class="text-center">
    Reporting Workflow. Decision Support. Real-Time.<br>
    ReportHub provides an easy-to-use system that includes alerts and notifications for a daily reporting workflow.<br>
    Once entered, the analytics engine processes key business indicators for decision support made available via interactive dashboards. All of this in real-time.
  </p>
  <br>
</div>

<div class="bg-gray-100">
  <hr/>
  <br/>
  <p class="text-2xl text-center">Number of beneficiaries covered in Afghanistan in 2022</p>
  <div>
    <canvas id="benef"></canvas>
  </div>
</div>

<div class="bg-gray-100">
  <hr/>
  <br/>
  <p class="text-2xl text-center">Number of distinct activity types in Afghanistan in 2022</p>
  <div>
    <canvas id="activity"></canvas>
  </div>
</div>


<script>
  const labels = {{ months | safe }};
  

  const data = {
    labels: labels,
    datasets: [{
      label: 'Number of beneficiaries',
      backgroundColor: '#002B5B',
      borderColor: '#002B5B',
      data: {{ benefs }},
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {
      aspectRatio: 4,
      plugins: {
        legend: {
          display: true,
          lables: {
            color: 'rgb(255, 99, 132)'
          }
        }
      }
    }
  };
</script>

<script>
  const activity_labels = {{ months | safe }};
  

  const activity_data = {
    labels: activity_labels,
    datasets: [{
      label: 'Number of distinct activities',
      backgroundColor: '#256D85',
      borderColor: '#256D85',
      data: {{ activities }},
    }]
  };

  const activity_config = {
    type: 'bar',
    data: activity_data,
    options: {
      aspectRatio: 4,
      plugins: {
        legend: {
          display: true,
          lables: {
            color: 'rgb(255, 99, 132)'
          }
        }
      }
    }
  };
</script>

<script>
  const benef_chart = new Chart(
    document.getElementById('benef'),
    config
  );
  const activity_chart = new Chart(
    document.getElementById('activity'),
    activity_config
  );
</script>
{% endblock content %}