{% extends "_base.html" %}
{% load static %}
{% block content %}
    <div class="base-section">
        <div class="container">
            <div class="profile-layout">
                <div class="sidebar">
                    <div class="profile-info-holder">
                        <div class="profile-info-block">
                            <h1>{{ user.profile.name }}</h1>
                            <strong class="user-position">{{ user.profile.position }}</strong>
                            <address>
                                {% for cluster in user.profile.clusters.all %}{{ cluster.title }},{% endfor %}
                                {{ user.profile.country }}
                                <br />
                                <a href="mailto:{{ user.email }}">{{ user.email }}</a>,
                                <a href="tel:{{ user.profile.phone }}">{{ user.profile.phone }}</a>
                            </address>
                        </div>
                        <div class="profile-info-block">
                            <div class="subtitle-block">
                                <strong class="subtitle">Contact information</strong>
                                <!--<button class="edit-btn" type="button"><span class="icon-pen"></span></button>-->
                            </div>
                            <ul class="user-profile-contacts">
                                <li>
                                    <strong class="title">Phone</strong>
                                    <a href="tel:{{ user.profile.phone }}">{{ user.profile.phone }}</a>
                                </li>
                                <li>
                                    <strong class="title">Whatsapp</strong>
                                    {{ user.profile.whatsapp }}
                                </li>
                                <li>
                                    <strong class="title">Skype ID</strong>
                                    <a href="skype:{{ user.profile.skype }}?userinfo">{{ user.profile.skype }}</a>
                                </li>
                                <li>
                                    <strong class="title">Email</strong>
                                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                                </li>
                                <li>
                                    <strong class="title">Cluster Contact</strong>
                                    {% if user.profile.is_cluster_contact %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="main-content">
                    <div class="user-info-form">
                        <form action="#" method="post" class="login-form">
                            {% csrf_token %}
                            <div class="form-holder">
                                <div class="row">
                                    <div class="col col-sm">
                                        {% for field in u_form %}
                                            <div class="input-field">
                                                {{ field.label_tag }}
                                                <div class="input-holder">{{ field }}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col">
                                        {% for field in p_form %}
                                            <div class="input-field">
                                                {{ field.label_tag }}
                                                <div class="input-holder">{{ field }}</div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="btn-holder">
                                <button type="submit" class="btn btn-red">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
