{% load static %}

<div class="table-container">
     {% comment %} Table Actions and filters {% endcomment %}
    <div class="page-top-panel bottom-border">
        <!-- filter applied  -->
        <div class="filter-container" id="filter-container">
            {% for field in users_filter.form %}
                {% if forloop.first %}<span>Applied Filters:</span>{% endif %}
                {% if field.value and field.name != 'state' %}
 
                    <span class="filter-item title" id="title">{{ field.name }}</span>
                    {% if forloop.last %}<span class="close-alert-message">x</span>{% endif %}
                {% endif %}
 
            {% endfor %}
        </div>
        <!-- filter applied end -->
 
        <div class="actions-panel">
            {% if users_filter %}
                {% include "components/_filter_drawer.html" with filter=users_filter %}
            {% endif %}
        </div>
    </div>

    {% comment %} Table {% endcomment %}
    {% if users %}
        <div class="table-wrapper-scrollable ">
            <table class="table all-projects-table " >
                <thead class="content-block ">
                    <tr>
                        <th>
                            <strong class="table-title">Name</strong>
                        </th>
                        <th class="description-col">
                            <strong class="table-title">Email</strong>
                        </th>
                        <th>
                            <strong class="table-title">Clusters</strong>
                        </th>
                        <th>
                            <strong class="table-title">Date Joined</strong>
                        </th>
                        <th>
                            <strong class="table-title">Last Login</strong>
                        </th>
                        <th>
                            <strong class="table-title">Status</strong>
                        </th>
                        <th>
                            <strong class="table-title">Action</strong>
                        </th>
                    </tr>
                </thead>
 
                <tbody>
                    {% for user in users %}
                        {% include "users/partials/user_tr.html" %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="view_nocontent">
            <div class="nocontent_help">
                <h4>No users found.</h4>
                <p>Ask your organization members to register for a new account in ReportHub.</p>
            </div>
        </div>
    {% endif %}

    {% comment %} Pagination {% endcomment %}
    {% include "components/_pagination.html" with object_list=users %}
</div>
