{% load static %}
{% load humanize %}

<tr id="user-{{ user.id }}">
    <td>
        {% for group in user.groups.all %}
            {% if group.name == "ORG_LEAD" %}
                <span class="completed">Admin</span>
            {% endif %}
        {% endfor %}
    </td>
    <td>
       <a href="{% url 'profiles-show' user.username %}">
            {{ user.first_name }} {{ user.last_name }} <em>({{ user.username }})</em>
        </a>
    </td>
    <td>{{ user.email }}</td>
    <td>
        {% for cluster in user.profile.clusters.all %}
            {{ cluster.title }}
            {% if not forloop.last %},{% endif %}
        {% endfor %}
    </td>
    <td>{{ user.date_joined|naturaltime }}</td>
    <td>{{ user.last_login|naturaltime }}</td>
    <td>
        {% if user.is_active %}
            <span class="in-progress">Active</span>
        {% else %}
            <span class="archive">Deactive</span>
        {% endif %}
    </td>
    <td>
        {% if perms.rh.activate_deactivate_user %}
            <button id="dectivate-button-{{ user.id }}"
                class="btn btn-gray"
                hx-patch="{% url 'users-toggle-status' user.id %}"
                hx-swap="outerHTML"
                hx-target="#user-{{ user.id }}"
                hx-disable-element="#dectivate-button-{{ user.id }}"
                hx-ext="disable-element">
            {% if user.is_active %}
                <span class="project-detail icon-trashbin"></span> Deactivate
            {% else %}
                Activate
            {% endif %}
            <img class="htmx-indicator"
                    id="spinner"
                    alt="spinner"
                    style="width: 1.2rem"
                    src="{% static 'images/spinner.gif' %}" />
            </button>
        {% endif %}
    </td>
    <td>    
        {% if perms.rh.activate_deactivate_user %}
            <a href="{% url 'profiles-show' user.username %}" class="btn btn-red">
                <small>Manage Access</small>
            </a>
        {% endif %}
    </td>
</tr>
