{% extends "_base.html" %}
{% load static %}
{% load compress %}
{% block page_title %}
    ReportHub -
    Projects
{% endblock page_title %}
{% block content %}
    <div class="container">
        <div class="breadcrumbs-nav-panel">
            <div class="holder">
                <div>
                    <ul class="breadcrumbs">
                        <li>
                            <a id="return-url" href="{% url parent_page %}">
                                {% if project.state == 'in-progress' %}
                                    Active Projects
                                {% elif project.state == 'draft' %}
                                    Draft Projects
                                {% elif project.state == 'archive' %}
                                    Archived Projects
                                {% elif project.state == 'done' %}
                                    Completed Projects
                                {% endif %}
                            </a>
                        </li>
                        {% if project %}<li>{{ project.code }}</li>{% endif %}
                        <li class="current">Budget Progress</li>
                    </ul>
                </div>
                <div class="tabs-nav-holder">
                    <ul class="tabs-nav">
                        <li>
                            <a href="{% if project %}{% url 'update_project' project.pk %}{% else %}{% url 'create_project' %}{% endif %}">Project
                            plan</a>
                        </li>
                        <li>
                            <a href="{% if project %}{% url 'create_project_budget_progress' project.pk %}{% else %}#{% endif %}">Financial Reports</a>
                        </li>
                        <li>
                            <a href="#">Monthly Progress</a>
                        </li>
                    </ul>
                </div>
                <div class="tabs-nav-holder"></div>
            </div>
        </div>
        <div class="main-content">
            <div class="budget-progress">
                <div class="main-heading"></div>
                <div class="bottom-block">
                    <div class="title">
                        <h2 class="plan-title">{{ project.title }}</h2>
                    </div>
                    <div class="actions-panel">
                        <a href="#" class="btn btn-gray"><span class="btn-text">Import From File</span><span class="icon-download"></span></a>
                    </div>
                </div>
            </div>
            <div class="target-location">
                <form method="post" enctype="multipart/form-data">
                    {{ formset.management_form }}
                    {% csrf_token %}
                    {% for form in formset reversed %}
                        {{ form.id }}
                        {{ form.active }}
                        {{ form.save }}
                        <input type="hidden"
                               name="country"
                               id="country_id"
                               value="{{ user.profile.country.pk }}">
                        <input type="hidden" name="project" id="project_id" value="{{ project.pk }}">
                        <div class="location-block-holder js-collapse-expand"
                             data-form-id="{{ form.prefix }}">
                            <div class="inner-holder location-inner-holder">
                                <div class="block-top">
                                    <span class="title">
                                        {% if not form.id.value %}
                                            <span>Add Budget Progress</span>
                                            <br>
                                        {% endif %}
                                    </span>
                                    <div class="block-location-activity">
                                        <div id="{{ form.prefix }}-actions">
                                            <button href="#" class="btn btn-gray-outline">
                                                <span class="icon-copy"></span>
                                                <span class="btn-text">Duplicate</span>
                                            </button>
                                            <button href="#" class="btn btn-gray-outline">
                                                <span class="icon-trashbin"></span>
                                                <span class="btn-text">Delete</span>
                                            </button>
                                            <button type="submit"
                                                    class="btn btn-red save"
                                                    value="true"
                                                    name="{{ form.prefix }}-save">Save</button>
                                        </div>
                                        <a href="#" class="btn btn-gray-outline collapse-details">
                                            <span class="icon-chevron-up up" id="{{ form.prefix }}-up"></span>
                                            <span class="icon-chevron-down down hidden" id="{{ form.prefix }}-down"></span>
                                            <span class="btn-text" id="{{ form.prefix }}-fold">Collapse</span>
                                            <span class="btn-text hidden" id="{{ form.prefix }}-unfold">Expand</span>
                                        </a>
                                    </div>
                                </div>
                                <div id="{{ form.prefix }}-details">
                                    <div class="row">
                                        <div class="col">
                                            <div class="multiple-fields-row two-items">
                                                <div class="field-col">
                                                    <div class="select-field">
                                                        <label>Donor *</label>
                                                        {{ form.donor }}
                                                    </div>
                                                </div>
                                                <div class="field-col">
                                                    <div class="input-field">
                                                        <label>Activity Domain</label>
                                                        {{ form.activity_domain }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            {% comment %} <div class="multiple-fields-row three-items">
                                                <div class="field-col">
                                                    <div class="input-field">
                                                        <label>Site name</label>
                                                        <div class="input-holder">{{ form.site_name }}</div>
                                                    </div>
                                                </div>
                                                <div class="field-col">
                                                    <div class="input-field">
                                                        <label>Site Latitude</label>
                                                        <div class="input-holder">{{ form.site_lat }}</div>
                                                    </div>
                                                </div>
                                                <div class="field-col">
                                                    <div class="input-field">
                                                        <label>Site Longitude</label>
                                                        <div class="input-holder">{{ form.site_long }}</div>
                                                    </div>
                                                </div>
                                            </div> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
