{% comment %} RIGHT: In this page {% endcomment %}
<aside class="hidden text-sm xl:block" id="right-sidebar">
    <div class="sticky top-16 -mt-10 max-h-[calc(100vh-5rem)] overflow-y-auto pt-6 space-y-2"
         id="content_headings">
        <p class="font-medium">On this page</p>
        {% comment %} contents will be added by the below script {% endcomment %}
    </div>
</aside>
{% block scripts %}
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        let article = document.querySelector('article');
        let sidebar = document.getElementById('content_headings');
        let ul = document.createElement('ul');

        article.querySelectorAll('h1, h2, h3').forEach(function(heading) {
            heading.id = `heading-${Math.random().toString(36).substr(2, 9)}`;
            ul.insertAdjacentHTML('beforeend', `<li><a href="#${heading.id}">${heading.textContent}</a></li>`);
        });

        sidebar.appendChild(ul);
    });
    </script>
{% endblock scripts %}
