{% if guide %}
    <div class="feedback">
        <div class="font-bold" id="msg-feedback">Was this helpful?</div>
        <div class="flex">
            <button aria-label="Helpful"
                    class="p-2 hover:text-green-600 hover:bg-green-50 focus:text-green-600 tooltipped tooltipped-s  "
                    {% if guide.upvote == 'upvote' %}style="background-color:lightgreen"{% endif %}
                    data-url="{% url 'guides-feedback' guide.slug %}"
                    id="upvote">
                <svg fill="none"
                     height="20"
                     stroke="currentColor"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     stroke-width="2"
                     viewbox="0 0 24 24"
                     width="20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 10v12"></path>
                    <path d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z">
                    </path>
                </svg>
            </button>
            <button aria-label="Not helpful"
                    class="p-2 hover:text-red-600 hover:bg-red-50 focus:text-red-600 tooltipped tooltipped-s "
                    data-url="{% url 'guides-feedback' guide.slug %}"
                    {% if guide.upvote == 'downvote' %}style="background-color:red"{% endif %}
                    id="downvote">
                <svg fill="none"
                     height="20"
                     stroke="currentColor"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     stroke-width="2"
                     viewbox="0 0 24 24"
                     width="20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 14V2"></path>
                    <path d="M9 18.12 10 14H4.17a2 2 0 0 1-1.92-2.56l2.33-8A2 2 0 0 1 6.5 2H20a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.76a2 2 0 0 0-1.79 1.11L12 22h0a3.13 3.13 0 0 1-3-3.88Z">
                    </path>
                </svg>
            </button>
        </div>
    </div>
    {% block scripts %}
        <script>
            window.addEventListener("DOMContentLoaded", () => {
                const upvote = document.getElementById("upvote")
                if (upvote){
                    upvote.addEventListener("click", (e) => sendEvent(e,{upvote:true}))
                }

                const downvote = document.getElementById("downvote")
                if (downvote) {
                    downvote.addEventListener("click", (e) => sendEvent(e,{upvote:false}))
                }
            })

            function sendEvent(e,eventType) {
                const upvote = document.getElementById("upvote")
                const url = upvote.getAttribute("data-url")

                fetch(url, {
                    method: 'POST',
                    body: JSON.stringify( eventType ),
                    headers: {
                        'Content-Type': 'application/json',
                        "X-CSRFToken": "{{ csrf_token }}",
                    }
                })
                .then(response => response.json())
                .then(data => {
                    // console.log(e.target.closest("button"))
                    const msgFeedback = document.getElementById("msg-feedback")
                    msgFeedback.textContent = "Your feedback has been successfully submitted. Thank you for helping us improve!"
                    // {upvote:false}
                })
                .catch(error => console.error('Error:', error));
            }
        </script>
    {% endblock scripts %}
{% endif %}
