{% load static %}

<div class="content-block bottom-border table-container">
    <div class="progress bg-red">
        <div class="indeterminate bg-white"></div>
    </div>
    {% comment %} Table Actions and filters {% endcomment %}
    <div class="page-top-panel bottom-border">
        <div class="actions-panel">
            <!-- filter applied  -->
            <div class="filter-container" id="filter-container">
                {% for field in activity_plans_filter.form %}
                    {% if forloop.first %}<span>Applied Filters:</span>{% endif %}
                    {% if field.value %}
                        <span class="filter-item title" id="title">{{ field.label }}</span>
                        {% if forloop.last %}<span class="close-alert-message">x</span>{% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <!-- filter applied end -->
        </div>
        <div class="actions-panel">
            {% if activity_plans_filter %}
                {% include "components/_filter_drawer.html" with filter=activity_plans_filter %}
            {% endif %}
            <a href="{% url 'activity-plans-create' project.id %}"
               class="btn btn-red">Add New Activity</a>
        </div>
    </div>
    {% comment %} Table {% endcomment %}
    {% if object_list %}
        <div class="table-wrapper-scrollable">
            <table class="table all-projects-table">
                <thead class="content-block ">
                    <tr>
                        <th>
                            <strong class="table-title">Activity Domain</strong>
                        </th>
                        <th>
                            <strong class="table-title">Activity Type</strong>
                        </th>
                        <th>
                            <strong class="table-title">Indicator</strong>
                        </th>
                        <th>
                            <strong>Target Locations</strong>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Include The Projects Details Here -->
                    {% for row in object_list %}
                        <tr>
                            <td>{{ row.activity_domain }}</td>
                            <td>{{ row.activity_type }}</td>
                            <td>{{ row.indicator }}</td>
                            <td>
                                <a href="{% url 'target-locations-list' project.pk %}?activity_plan={{ row.id }}">
                                    <svg data-slot="icon"
                                         width="14px"
                                         data-darkreader-inline-stroke=""
                                         fill="none"
                                         stroke-width="1.5"
                                         stroke="currentColor"
                                         viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg"
                                         aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244">
                                        </path>
                                    </svg>
                                    Has {{ row.target_location_count }} Target Locations
                                </a>
                            </td>
                            <td>
                                <div class="table-flex-holder">
                                    <ul class="table-options-buttons ">
                                        <li>
                                            <a href="{% url 'target-locations-create' row.id %}"
                                               class="btn btn-gray">
                                                <img src="{% static 'admin/img/icon-addlink.svg' %}"
                                                     width="12px"
                                                     height="12px"
                                                     style="filter: grayscale(100%)"
                                                     alt="add-btn-icon">
                                                Location
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'activity-plans-update' row.id %}" data-tippy-content="Edit Activity Plan">
                                                <span class="project-detail icon-pen"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <form action="{% url 'activity-plans-copy' row.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn-gray" data-tippy-content="Duplicate the Actvity plan and its Target Locations">
                                                    <span class="project-detail icon-copy"></span>
                                                </button>
                                            </form>
                                        </li>
                                      
                                        <li>
                                            <button>
                                                <a hx-delete="{% url 'activity-plans-delete' row.id %}"
                                                   hx-trigger="click"
                                                   hx-indicator=".progress"
                                                   hx-confirm="Do you want to delete `{{ row }}` and its Target Locations ?"
                                                   hx-target="closest tr"
                                                   data-tippy-content="Delete Activity Plan">
                                                    <span class="project-detail icon-trashbin"></span>
                                                </a>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="view_nocontent">
            <div class="nocontent_help">
                <h4>No Activity Plans found. Let's create one!</h4>
            </div>
        </div>
    {% endif %}
    {% comment %} Pagination {% endcomment %}
    {% include "components/_pagination.html" with object_list=object_list %}
</div>
