{% load static %}

<div class="content-block bottom-border table-container">
    <div class="progress bg-red h-0.5">
        <div class="indeterminate bg-white"></div>
    </div>
    {% comment %} Table Actions and filters {% endcomment %}
    <div class="page-top-panel bottom-border">
        <div class="actions-panel">
            <!-- filter applied  -->
            <div class="filter-container" id="filter-container">
                {% for field in activity_plans_filter.form %}
                    {% if forloop.first %}<span>Applied Filters:</span>{% endif %}
                    {% if field.value %}
                        <span class="filter-item title" id="title">{{ field.label }}</span>
                        {% if forloop.last %}<span class="close-alert-message">x</span>{% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            <!-- filter applied end -->
        </div>
        <div class="actions-panel">
            {% if activity_plans_filter %}
                {% include "components/_filter_drawer.html" with filter=activity_plans_filter %}
            {% endif %}
        </div>
    </div>
    {% comment %} Table {% endcomment %}
    {% if object_list %}
        <div class="table-wrapper-scrollable">
            <table class="table all-projects-table">
                <thead class="content-block ">
                    <tr>
                        <th>
                            <strong class="table-title">Activity Domain</strong>
                        </th>
                        <th>
                            <strong class="table-title">Activity Type</strong>
                        </th>
                        <th>
                            <strong class="table-title">Indicator</strong>
                        </th>
                        <th>
                            <strong class="table-title">HRP Beneficiary</strong>
                        </th>
                        <th>
                            <strong>Target Locations</strong>
                        </th>
                        <th>
                            <strong>State</strong>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Include The Projects Details Here -->
                    {% for row in object_list %}
                        <tr>
                            <td>{{ row.activity_domain }}</td>
                            <td>{{ row.activity_type }}</td>
                            <td>{{ row.indicator }}</td>
                            <td>{{ row.hrp_beneficiary.name }}</td>
                            <td class="{% if row.target_location_count == 0 %}text-red{% endif %}">
                                <a href="{% url 'target-locations-list' project.pk %}?activity_plan={{ row.id }}" >
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                                    </svg>
                                    Has {{ row.target_location_count }} Target Locations
                                </a>
                            </td>
                             <td class="flex items-center gap-2">
                                <span class="h-4 w-4 rounded-full
                                        {% if row.state == 'draft' %}bg-yellow{% endif %}
                                        {% if row.state == 'in-progress' %}bg-green-light{% endif %}
                                        {% if row.state == 'archived' %}bg-gray{% endif %}
                                        {% if row.state == 'completed' %}bg-gray-d1{% endif %}
                                    "
                                >
                                </span>
                                <select 
                                    hx-post="{% url 'activity-plans-update-state' row.id %}" 
                                    hx-trigger="change" 
                                    hx-swap="none"
                                    hx-indicator=".progress"
                                    name="state"
                                    class=""
                                    style="width: unset;padding:1px 6px;height:36px;appearance:auto;"
                                    hx-on::after-request="
                                        const selectedClass = this.value;
                                        const previousElement = this.previousElementSibling;
                                        previousElement.classList.remove('draft', 'in-progress', 'archived','completed'); // remove other classes
                                        previousElement.classList.add(selectedClass); // add selected class
                                    "
                                >
                                    {% for state in row.get_available_states %}
                                        <option 
                                            value="{{ state }}" 
                                            {% if state == row.state %}selected{% endif %}
                                        >
                                            {{state}}
                                        </option>
                                    {% endfor %}
                                </select>
                                
                            </td>
                            <td>
                                <div class="table-flex-holder">
                                    <ul class="table-options-buttons ">
                                        <li>
                                            <a href="{% url 'target-locations-create' row.id %}"
                                               class="btn btn-gray">
                                                <img src="{% static 'admin/img/icon-addlink.svg' %}"
                                                     width="12px"
                                                     height="12px"
                                                     style="filter: grayscale(100%)"
                                                     alt="add-btn-icon">
                                                Location
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn btn-gray" href="{% url 'activity-plans-update' row.id %}" data-tippy-content="Edit Activity Plan">
                                                <span class="project-detail icon-pen"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <form action="{% url 'activity-plans-copy' row.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn-gray" data-tippy-content="Duplicate the Actvity plan and its Target Locations">
                                                    <span class="project-detail icon-copy"></span>
                                                </button>
                                            </form>
                                        </li>
                                      
                                        <li>
                                            <button>
                                                <a hx-delete="{% url 'activity-plans-delete' row.id %}"
                                                   hx-trigger="click"
                                                   hx-indicator=".progress"
                                                   hx-swap="outerHTML swap:1s"
                                                   hx-confirm="Do you want to delete `{{ row }}` and its Target Locations ?"
                                                   hx-target="closest tr"
                                                   data-tippy-content="Delete Activity Plan"
                                                >
                                                    <span class="project-detail icon-trashbin"></span>
                                                </a>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="view_nocontent">
            <div class="nocontent_help">
                <h4>No Activity Plans found. Let's create one!</h4>
            </div>
        </div>
    {% endif %}
    {% comment %} Pagination {% endcomment %}
    {% include "components/_pagination.html" with object_list=object_list %}
</div>
