{% extends "rh/projects/forms/project_form_base.html" %}
{% load static %}

{% block page_title %} 
    Plan: {{project.title}} Activities
{% endblock page_title %}


{% block project_contents %}
    <div class="" style="display: flex;flex-direction:column;gap:0.7rem;padding:10px 0px">
        <div class="">
            <span class="">Project</span>
            <div class="input-holder">
                <span class="text-read-only">{{project.code}} - {{project.title}}</span>
            </div>
        </div>
        <div class="">
            <span class="">Duration</span>
            <div class="input-holder">
                <span class="text-read-only">From {{project.start_date}} to {{project.end_date}}</span>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="activity-planning create-activity">
            <div id="activity-formset-form">
                <div class="activity-planning read-only">
                    <div class="top-activity-block">
                        <span class="activity-title">
                            <span>
                                Project Activity Plans
                            </span>
                            <span class="btn btn-gray" style="float:right"> {{ project.activityplan_set.all | length }}</span>
                        </span>
                        <br>
                        <span class="">
                            Your project Activity Plans table. You can add Target Location, edit or search activity plans.
                        </span>
                    </div>
                </div>

                {% include "rh/activity_plans/_activity_plan_table.html"  with object_list=activity_plans %}
            </div>
        </div>
    </div>
{% endblock project_contents %}

{% block project_form_scripts %}
{% endblock project_form_scripts %}
