{% extends "rh/projects/forms/project_form_base.html" %}
{% load static %}

{% block title %}
    {% if form.initial %}
        Edit Activity Plan
    {% else %}
        Add Activity Plan
    {% endif %}
{% endblock title %}

{% block breadcrumb_li %}
    {{block.super}}
    <li> <a href="{% if project %}{% url 'activity-plans-list' project.pk %}{% else %}#{% endif %}">Activity Plans</a> </li>
    {% if form.instance.id %}
        <li class="current">Updated Activity Plan</li> 
    {% else %}
        <li class="current">Create Activity Plan</li> 
    {% endif %}
{% endblock breadcrumb_li %}

{% block project_contents %}
    <div class="main-content">
        <div class="activity-planning read-only">
            <div class="activity-block-holder">
                <div class="top-activity-block">
                    <span class="activity-title">
                        <span>
                            {% if form.initial %}
                                Update Activity Plan 
                            {% else %}
                                Add Activity Plan 
                            {% endif %}
                        </span>
                        {% if form.initial %}
                            <span class="btn btn-gray" style="float:right">
                                <a href="{% url 'target-locations-create' form.initial.id %}"
                                   class="btn btn-gray">
                                    <img src="{% static 'admin/img/icon-addlink.svg' %}" alt="add-btn-icon">
                                    Add Target Location
                                </a>
                            </span>
                        {% endif %}
                    </span>
                    <br>
                    <ul class="space-y-2">
                        <li>
                            <span class="icon-info mr-2"></span>
                             Use this form to provide detailed information about the activity for the above project, including the activity domain,type,indicator and other relevant details.
                        </li>
                        <li>
                            <span class="icon-info mr-2"></span>
                            Activity Domain list is taken from your project. If something is missing please update your project or contact your cluster.
                        </li>
                        <li><span class="icon-info mr-2"></span> Required fields are marked with * </li>
                    </ul>
                </div>
            </div>
        </div>

        {% comment %} No field form errors {% endcomment %}
        {% if form.non_field_errors %}
            <div class="message-container space-y-1">
                {% for error in form.non_field_errors %}
                    <div class="error space-x-2">
                        {{ error }}
                        <span class="rounded-full px-2 bg-gray-d1" onclick="this.closest('div').remove()" class="cursor-pointer">x</span>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" class="form-container">
            <div class="progress bg-red h-0.5">
                <div class="indeterminate bg-white"></div>
            </div>
            {% csrf_token %}
            <div class="inner-holder">
                <div class="row">
                    <div class="col">
                        <div class="multiple-fields-row two-items">
                            <div class="field-col">
                                <div class="select-field is-required">
                                    <label for="{{ form.activity_domain.id_for_label }}">Activity Domain</label>
                                    <p class="help-text">{{ form.activity_domain.help_text }}</p>
                                    <select required
                                            name="{{ form.activity_domain.name }}"
                                            id="{{ form.activity_domain.id_for_label }}"
                                            class="form-control"
                                            hx-get="{% url 'activity-domains-types' %}"
                                            hx-trigger="change"
                                            hx-target="#{{ form.activity_type.id_for_label }}"
                                            hx-swap="innerHTML"
                                            hx-indicator=".progress">
                                        {% for domain in form.activity_domain %}{{ domain }}{% endfor %}
                                    </select>
                                    <div class="sign-up-field-error">{{ form.activity_domain.errors }}</div>
                                </div>
                            </div>
                            <div class="field-col">
                                <div class="select-field is-required">
                                    <label for="{{ form.activity_type.id_for_label }}">Activity Type</label>
                                    <p class="help-text">{{ form.activity_type.help_text }}</p>
                                    <select required
                                            name="{{ form.activity_type.name }}"
                                            id="{{ form.activity_type.id_for_label }}"
                                            class="form-control"
                                            hx-get="{% url 'activity-types-indicators' %}"
                                            hx-trigger="change"
                                            hx-target="#{{ form.indicator.id_for_label }}"
                                            hx-swap="innerHTML"
                                            hx-indicator=".progress">
                                        {% for type in form.activity_type %}{{ type }}{% endfor %}
                                    </select>
                                    <div class="sign-up-field-error">{{ form.activity_type.errors }}</div>
                                </div>
                            </div>
                            {% comment %} <div class="field-col">
                                <div class="select-field">
                                    <label for="{{form.activity_detail.id_for_label}}">Activity Detail</label>
                                    {{ form.activity_detail }}
                                    <div class="sign-up-field-error">{{form.activity_detail.errors}}</div>
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>

                <div class="select-field is-required">
                    <label for="{{ form.indicator.id_for_label }}">Indicator</label>
                    <p class="help-text">{{ form.indicator.help_text }}</p>
                    <select required
                            name="{{ form.indicator.name }}"
                            id="{{ form.indicator.id_for_label }}"
                            class="form-control indicator-select"
                            hx-get="{% url 'update-indicator-type' project.pk %}"
                            hx-trigger="change,load"
                            hx-target="#implement_modility_type_id"
                            hx-swap="innerHTML"
                            hx-indicator=".progress">
                        {% for type in form.indicator %}{{ type }}{% endfor %}
                    </select>
                    <div class="sign-up-field-error">{{ form.indicator.errors }}</div>
                </div>

                <div class="multiple-fields-row two-items ">
                    <div class="field-col w-full">
                        <div class="select-field">
                            <label for="{{ form.beneficiary.id_for_label }}">Beneficiary</label>
                            <p class="help-text">{{ form.beneficiary.help_text }}</p>
                            {{ form.beneficiary }}
                            <div class="sign-up-field-error">{{ form.beneficiary.errors }}</div>
                        </div>
                    </div>

                    <div class="field-col w-full">
                        <div class="select-field">
                            <label for="{{ form.hrp_beneficiary.id_for_label }}">HRP Beneficiary</label>
                            <p class="help-text">{{ form.hrp_beneficiary.help_text }}</p>
                            {{ form.hrp_beneficiary }}
                            <div class="sign-up-field-error">{{ form.hrp_beneficiary.errors }}</div>
                        </div>
                    </div>
                </div>

                <div class="input-field">
                    <label for="{{ form.description.id_for_label }}">Activity Description</label>
                    <div class="input-holder">{{ form.description }}</div>
                    <div class="sign-up-field-error">{{ form.description.errors }}</div>
                </div>

                <div class="input-field">
                    <label for="state">State</label>
                    <div class="input-holder">
                        <span class="{{form.instance.state}}">{{ form.instance.state}}</span>
                    </div>
                </div>
                <div class="toggle-dispay hidden">
                <!-- ***************************** -->
                {% include "rh/projects/views/_cash_kind_detail.html" with cash_in_kind_formset=cash_in_kind_formset %}
                <!-- ****************************** -->
                </div>

                <div class="plan-submit-holder">
                    {% if form.initial %}
                        <a id="delete-btn"
                           hx-delete="{% url 'activity-plans-delete' form.initial.id %}"
                           hx-trigger="click"
                           hx-indicator=".progress"
                           hx-confirm="Do you want to delete `{{ form.initial.id }}` and its Target Locations ?"
                           data-tippy-content="Delete Activity Plan"
                           class="cursor-pointer btn btn-gray">
                            <span class="project-detail icon-trashbin"></span>
                            Delete
                        </a>
                    {% else %}
                        <a href="#"></a>
                    {% endif %}
                    <div>
                        <input type="submit"
                               name="_addanother"
                               class="btn btn-gray"
                               value="Save and add another activity">
                        <input type="submit" name="_save" class="btn btn-red" value="Save">
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock project_contents %}

{% block project_form_scripts %}
<script>
    document.querySelector(".indicator-select").addEventListener("change", ()=>{
        let data = document.querySelector(".indicator-select").value;
        let url = "{% url 'display-cash-in-kind'  %}";
        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({indicator: data})
        }).then(response => response.json())
            .then(response => {
                if(response.data ){
                    document.querySelector(".toggle-dispay").classList.remove("hidden");
                } else if (!response.data) {
                    document.querySelector(".toggle-dispay").classList.add("hidden");
                }
            })
            .catch(error => console.error("Error:", error));
        
    });
</script>
{% endblock project_form_scripts %}
