{% extends "rh/projects/forms/project_form_base.html" %}
{% load static %}

{% block page_title %} 
    {% if form.initial %}
        Edit Activity Plan
    {% else %}
        New Activity Plan 
    {% endif %}
{% endblock page_title %}


{% block project_contents %}
    <div class="multiple-fields-row" style="justify-content: space-between;margin:0px;padding:10px 0px">
        <div class="">
            <span class="label">Project</span>
            <div class="input-holder">
                <span class="text-read-only">{{project.code}} - {{project.title}}</span>
            </div>
        </div>
        <div class="">
            <span class="label">Duration</span>
            <div class="input-holder">
                <span class="text-read-only">From {{project.start_date}} to {{project.end_date}}</span>
            </div>
        </div>
    </div>

    <div class="main-content activity-planning">
        <div class="activity-planning read-only">
            <div class="activity-block-holder">
                <div class="top-activity-block">
                    <span class="activity-title">
                        <span>
                            {% if form.initial %}
                                Update Activity Plan
                            {% else %}
                                New Activity Plan
                            {% endif %}
                        </span>
                        {% comment %} <span class="btn btn-gray" style="float:right">Target Locations</span> {% endcomment %}
                    </span>
                    <br>
                <span class="">
                    Use this form to provide detailed information about the activity for the above project, including the activity domain,type,indicator and other relevant details.
                    Activity Domain list is taken from your project. If something is missing please update your project or contact your cluster.
                </span>
                </div>
            </div>
        </div>

        <form method="post" class="form-container">
            {% csrf_token %}
            <div class="inner-holder">
                <div class="row">
                    <div class="col">
                        <div class="multiple-fields-row two-items">
                            <div class="field-col">
                                <div class="select-field is-required">
                                    <label for="{{form.activity_domain.id_for_label}}">Activity Domain</label>
                                    {{ form.activity_domain }}
                                    <div class="sign-up-field-error">{{form.activity_domain.errors}}</div>
                                </div>
                            </div>
                            <div class="field-col">
                                <div class="select-field is-required">
                                    <label for="{{form.activity_type.id_for_label}}">Activity Type</label>
                                    {{ form.activity_type }}
                                    <div class="sign-up-field-error">{{form.activity_type.errors}}</div>
                                </div>
                            </div>
                            <div class="field-col" style="display:none">
                                <div class="select-field">
                                    <label for="{{form.activity_detail.id_for_label}}">Activity Detail</label>
                                    {{ form.activity_detail }}
                                    <div class="sign-up-field-error">{{form.activity_detail.errors}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <div class="select-field">
                            <label for="{{form.indicator.id_for_label}}">
                                Indicator
                            </label>
                            {{ form.indicator }}
                            <div class="sign-up-field-error">{{form.indicator.errors}}</div>

                        </div>
                        <div class="multiple-fields-row">
                            <div class="field-col">
                                <div class="select-field">
                                    <label for="{{form.beneficiary.id_for_label}}">Beneficiary</label>
                                    {{ form.beneficiary }}
                                    <div class="sign-up-field-error">{{form.beneficiary.errors}}</div>
                                </div>
                            </div>
                            <div class="field-col">
                                <div class="select-field">
                                    <label for="{{form.beneficiary_category.id_for_label}}">Beneficiary Category</label>
                                    {{ form.beneficiary_category }}
                                    <div class="sign-up-field-error">{{form.beneficiary_category.errors}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field is-required">
                        <label for="{{ form.description.id_for_label}}">Activity Description</label>
                        <div class="input-holder">{{ form.description }}</div>
                            <div class="sign-up-field-error">{{form.description.errors}}</div>
                    </div>
                </div>
            
                <!-- Indicator types start to diaplay -->
                <div class="row" id="{{ form.prefix }}-indicator-types">
                </div>
            </div>
            <div class="plan-submit-holder">
                <a href="#">Delete</a>
                <div>
                    <input type="submit" name="_addanother" class="btn btn-gray" value="Save and add another">
                    <input type="submit" name="_continue" class="btn btn-gray" value="Save and continue editing" >
                    <input type="submit" name="_save" class="btn btn-red" value="Save" >
                </div>
            </div>
        </form>
    </div>
{% endblock project_contents %}

{% block project_form_scripts %}
    <script defer src="{% static 'rh/js/activity_planning.js' %}"></script>
{% endblock project_form_scripts %}
