{% extends "rh/projects/forms/project_form_base.html" %}
{% load static %}

{% block title %}
    Plan: {{ project.title }} Activities
{% endblock title %}

{% block breadcrumb_li %}
    <li class="current">Activity Plans</li>
{% endblock breadcrumb_li %}

{% block project_contents %}
    <div class="main-content">
        <div class="activity-planning create-activity">
            
            <div class="activity-planning read-only">
                <div class="flex items-center justify-between pb-2">
                    <div class="activity-title">
                        <span>Project Activity Plans</span>
                    </div>
                    <a class="btn btn-gray" href="{% url 'projects-import-activity-plans' project.pk %}">
                        Import Activity Plans from CSV
                    </a>
                </div>
                <p class="">The table below displays all activities under your project</p>
            </div>

            {% include "rh/activity_plans/_activity_plan_table.html" with object_list=activity_plans %}

            <div class="p-10 text-center">
                <a href="{% url 'projects-submit' project.pk %}" class="btn btn-red">Submit Project</a>
            </div>
        </div>
    </div>
{% endblock project_contents %}

{% block project_form_scripts %}
{% endblock project_form_scripts %}
